Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

chore: agent agent-1769625521-39617 claims issue #315
  .work-queue.json
Due: none

fix(issue-304): allow URL-only posts
  frontend/src/components/posts/PostForm.svelte
  frontend/src/components/posts/__tests__/PostForm.test.ts
Due: frontend-checks

chore: mark issue #304 as completed
  .work-queue.json
Due: none

chore: agent agent-1769626503-56691 claims issue #315
  .work-queue.json
Due: none

chore: agent agent-1769626547-57838 claims issue #315
  .work-queue.json
Due: none

chore: reset issue 315 to available
  .work-queue.json
Due: none

chore: agent agent-1769626663-59447 claims issue #315
  .work-queue.json
Due: none

feat(issue-315): add reaction tooltips
  backend/cmd/server/main.go
  backend/cmd/server/routes.go
  backend/internal/handlers/reaction.go
  backend/internal/handlers/reaction_list_test.go
  backend/internal/models/reaction.go
  backend/internal/services/reaction.go
  frontend/src/components/PostCard.svelte
  frontend/src/components/UserProfile.svelte
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/reactions/ReactionBar.svelte
  frontend/src/components/reactions/__tests__/ReactionBar.test.ts
  frontend/src/components/search/SearchResults.svelte
  frontend/src/services/api.ts
Due: backend-lint, backend-test, frontend-checks

fix: reaction tooltip accessibility and docs
  DESIGN.md
  frontend/src/components/reactions/ReactionBar.svelte
Due: frontend-checks

chore: mark issue #315 as completed
  .work-queue.json
Due: none

add subagents
  .claude/settings.local.json
  .codex/skills/orchestrator/SKILL.md
  .codex/skills/reviewer/SKILL.md
  .codex/skills/subagent/SKILL.md
  .codex/skills/subagent/scripts/start-agent.sh
Due: none

chore: sync work queue with open issues
  .work-queue.json
Due: none

chore: prune work queue entries
  .work-queue.json
Due: none

chore: agent agent-1769639348-11404 claims issue #342
  .work-queue.json
Due: none

chore: agent agent-1769639352-11513 claims issue #343
  .work-queue.json
Due: none

chore: agent agent-1769639364-11796 claims issue #344
  .work-queue.json
Due: none

chore: agent agent-1769639368-11821 claims issue #346
  .work-queue.json
Due: none

fix(issue-344): widen search scope selector
  frontend/src/components/search/SearchBar.svelte
Due: frontend-checks

fix(issue-346): group search results by section
  frontend/src/components/search/SearchResults.svelte
  frontend/src/components/search/__tests__/SearchResults.test.ts
Due: frontend-checks

fix(issue-346): recompute section groups on section updates
  frontend/src/components/search/SearchResults.svelte
Due: frontend-checks

chore: mark issue #344 as completed
  .work-queue.json
Due: none

fix(issue-342): render uploaded images in posts
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/services/linkUtils.ts
  frontend/src/stores/postMapper.ts
  frontend/src/stores/postStore.ts
Due: frontend-checks

chore: agent agent-1769639930-33565 claims issue #347
  .work-queue.json
Due: none

fix(issue-343): direct thread links
  frontend/src/App.svelte
  frontend/src/components/Nav.svelte
  frontend/src/components/PostCard.svelte
  frontend/src/components/SectionFeed.svelte
  frontend/src/components/search/SearchResults.svelte
  frontend/src/components/search/__tests__/SearchResults.test.ts
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/__tests__/routeNavigation.test.ts
  frontend/src/services/api.ts
  frontend/src/services/profileNavigation.ts
  frontend/src/services/routeNavigation.ts
  frontend/src/stores/index.ts
  frontend/src/stores/threadRouteStore.ts
Due: frontend-checks

fix(issue-342): accept image mime types
  frontend/src/services/linkUtils.ts
Due: frontend-checks

fix(issue-347): clear section highlight outside feed
  frontend/src/components/Nav.svelte
Due: frontend-checks

chore: mark issue #346 as completed
  .work-queue.json
Due: none

chore: mark issue #342 as completed
  .work-queue.json
Due: none

chore: agent agent-1769640406-46499 claims issue #348
  .work-queue.json
Due: none

fix(issue-343): preserve thread deep-link
  frontend/src/App.svelte
Due: frontend-checks

chore: mark issue #347 as completed
  .work-queue.json
Due: none

fix(issue-343): guard stale thread responses
  frontend/src/stores/threadRouteStore.ts
Due: frontend-checks

fix(issue-348): broadcast reaction updates
  backend/internal/handlers/reaction.go
  backend/internal/services/comment.go
  frontend/src/stores/__tests__/websocketStore.test.ts
  frontend/src/stores/websocketStore.ts
Due: backend-lint, backend-test, frontend-checks

chore: mark issue #343 as completed
  .work-queue.json
Due: none

fix(issue-348): add reaction publish handler tests
  backend/internal/handlers/reaction_test.go
Due: backend-lint, backend-test

chore: mark issue #348 as completed
  .work-queue.json
Due: none

update reviewer skill
  .codex/skills/reviewer/SKILL.md
Due: none

update reviewer skill
  .codex/skills/orchestrator/SKILL.md
  .codex/skills/subagent/SKILL.md
Due: none

chore: agent agent-1769642335-76245 claims issue #349
  .work-queue.json
Due: none

chore: agent agent-1769642339-76367 claims issue #345
  .work-queue.json
Due: none

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
