Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

chore: agent agent-1770078034-65395 claims issue #658
  .work-queue.json
Due: none

feat(issue-666): add cook log models
  backend/internal/models/cook_log.go
Due: backend-lint, backend-test

feat(issue-697): record auth failure metrics
  backend/internal/middleware/middleware.go
  backend/internal/middleware/middleware_test.go
  backend/internal/observability/metrics.go
Due: backend-lint, backend-test

chore: mark issue #666 as completed
  .work-queue.json
Due: none

feat(issue-668): implement saved recipe service
  backend/internal/services/saved_recipe.go
  backend/internal/services/saved_recipe_test.go
Due: backend-lint, backend-test

chore: mark issue #697 as completed
  .work-queue.json
Due: none

chore: agent agent-1770078663-83670 claims issue #667
  .work-queue.json
Due: none

chore: agent agent-1770078671-84848 claims issue #669
  .work-queue.json
Due: none

feat(issue-658): add music links container
  frontend/e2e/app.spec.ts
  frontend/src/App.svelte
  frontend/src/components/MusicLinksContainer.svelte
  frontend/src/components/__tests__/MusicLinksContainer.test.ts
  frontend/src/components/posts/PostForm.svelte
  frontend/src/components/posts/__tests__/PostForm.test.ts
  frontend/src/stores/index.ts
  frontend/src/stores/sectionLinksFeedStore.ts
Due: frontend-checks

feat(issue-667): add recipe stats to post model
  backend/internal/models/post.go
Due: backend-lint, backend-test

fix(issue-668): sync saved recipes on category rename
  backend/internal/services/saved_recipe.go
Due: backend-lint, backend-test

chore: mark issue #667 as completed
  .work-queue.json
Due: none

chore: mark issue #658 as completed
  .work-queue.json
Due: none

chore: agent agent-1770079188-98564 claims issue #680
  .work-queue.json
Due: none

chore: agent agent-1770079189-98727 claims issue #687
  .work-queue.json
Due: none

feat(issue-669): implement cook log service
  backend/internal/services/cook_log.go
  backend/internal/services/cook_log_test.go
Due: backend-lint, backend-test

fix(issue-668): align delete audit test with rename
  backend/internal/services/saved_recipe_test.go
Due: backend-lint, backend-test

chore: mark issue #669 as completed
  .work-queue.json
Due: none

chore: agent agent-1770079535-8527 claims issue #672
  .work-queue.json
Due: none

feat(issue-687): parse recipe metadata
  backend/internal/services/links/metadata.go
  backend/internal/services/links/recipe_parser.go
  backend/internal/services/links/recipe_parser_test.go
Due: backend-lint, backend-test

chore: mark issue #668 as completed
  .work-queue.json
Due: none

chore: agent agent-1770079758-16158 claims issue #670
  .work-queue.json
Due: none

feat(issue-680): create rating stars component
  frontend/src/components/__tests__/RatingStars.test.ts
  frontend/src/components/index.ts
  frontend/src/components/recipes/RatingStars.svelte
  frontend/src/components/recipes/index.ts
Due: frontend-checks

chore: mark issue #687 as completed
  .work-queue.json
Due: none

chore: agent agent-1770079924-19822 claims issue #671
  .work-queue.json
Due: none

chore: mark issue #680 as completed
  .work-queue.json
Due: none

feat(issue-672): implement cook log handlers
  backend/cmd/server/main.go
  backend/cmd/server/routes.go
  backend/cmd/server/routes_test.go
  backend/internal/handlers/cook_log.go
  backend/internal/handlers/cook_log_test.go
  backend/internal/models/cook_log.go
  backend/internal/observability/metrics.go
Due: backend-lint, backend-test

feat(issue-670): add recipe stats to post retrieval
  backend/internal/handlers/post_test.go
  backend/internal/handlers/search_test.go
  backend/internal/services/post.go
  backend/internal/services/post_test.go
  backend/internal/services/search_test.go
Due: backend-lint, backend-test

fix(issue-672): align cook log response shape
  backend/internal/handlers/cook_log.go
  backend/internal/handlers/cook_log_test.go
  backend/internal/models/cook_log.go
Due: backend-lint, backend-test

fix(issue-670): group by section type
  backend/internal/services/post.go
Due: backend-lint, backend-test

chore: mark issue #672 as completed
  .work-queue.json
Due: none

fix(issue-670): remove stray group by in feed
  backend/internal/services/post.go
Due: backend-lint, backend-test

fix(issue-671): create categories in handler tests
  backend/internal/handlers/saved_recipe_test.go
Due: backend-lint, backend-test

feat(issue-671): add saved recipe handlers
  backend/cmd/server/main.go
  backend/cmd/server/routes.go
  backend/cmd/server/routes_test.go
  backend/internal/handlers/saved_recipe.go
  backend/internal/handlers/saved_recipe_test.go
  backend/internal/models/saved_recipe.go
  backend/internal/services/saved_recipe.go
  backend/internal/services/saved_recipe_test.go
Due: backend-lint, backend-test

chore: mark issue #671 as completed
  .work-queue.json
Due: none

chore: agent agent-1770105464-98762 claims issue #673
  .work-queue.json
Due: none

chore: agent agent-1770105468-98911 claims issue #675
  .work-queue.json
Due: none

chore: agent agent-1770105473-99078 claims issue #688
  .work-queue.json
Due: none

fix(issue-670): address review feedback
  backend/internal/services/post.go
Due: backend-lint, backend-test

feat(issue-675): add recipe api methods
  frontend/src/services/api.ts
Due: frontend-checks

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
