Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: backend-lint
        name: backend-lint
        entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
        language: system
        pass_filenames: false
        files: ^backend/
      - id: backend-test
        name: backend-test
        entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
        language: system
        pass_filenames: false
        files: ^backend/
      - id: frontend-checks
        name: frontend-checks
        entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
        language: system
        pass_filenames: false
        files: ^frontend/

feat(issue-851): separate watchlist by section type
  backend/internal/handlers/post.go
  backend/internal/handlers/post_test.go
  backend/internal/handlers/section_type.go
  backend/internal/handlers/watchlist.go
  backend/internal/handlers/watchlist_test.go
  backend/internal/services/post.go
  backend/internal/services/post_test.go
  backend/internal/services/watchlist.go
  backend/internal/services/watchlist_test.go
  frontend/src/App.svelte
  frontend/src/components/__tests__/Watchlist.test.ts
  frontend/src/components/movies/Watchlist.svelte
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
  frontend/src/stores/__tests__/movieStore.test.ts
  frontend/src/stores/movieStore.ts
Due: backend-lint, backend-test, frontend-checks

fix(issue-857): preserve open library key in isbn lookups
  backend/internal/services/links/book_parser.go
  backend/internal/services/links/book_parser_test.go
  backend/internal/services/links/openlibrary.go
Due: backend-lint, backend-test

chore: agent agent-1770695578-76301 claims issue #860
  .work-queue.json
Due: none

chore: agent agent-1770695581-76469 claims issue #861
  .work-queue.json
Due: none

chore: agent agent-1770695583-76658 claims issue #876
  .work-queue.json
Due: none

feat(issue-876): add book_quotes table migration
  backend/migrations/040_create_book_quotes_table.down.sql
  backend/migrations/040_create_book_quotes_table.up.sql
Due: backend-lint, backend-test

Fix stale watchlist loads when switching section type
  frontend/src/stores/__tests__/movieStore.test.ts
  frontend/src/stores/movieStore.ts
Due: frontend-checks

chore: mark issue #857 as completed
  .work-queue.json
Due: none

chore: agent agent-1770695801-83044 claims issue #858
  .work-queue.json
Due: none

feat(issue-861): create read log service
  backend/internal/services/read_log.go
  backend/internal/services/read_log_test.go
Due: backend-lint, backend-test

feat(issue-858): register book parser in metadata pipeline
  backend/internal/services/links/metadata.go
  backend/internal/services/links/metadata_test.go
Due: backend-lint, backend-test

chore: mark issue #851 as completed
  .work-queue.json
Due: none

feat(issue-860): create bookshelf service
  backend/internal/services/bookshelf.go
  backend/internal/services/bookshelf_test.go
Due: backend-lint, backend-test

chore: mark issue #876 as completed
  .work-queue.json
Due: none

chore: agent agent-1770696154-90485 claims issue #877
  .work-queue.json
Due: none

chore: agent agent-1770696156-91398 claims issue #883
  .work-queue.json
Due: none

feat(issue-883): add spoiler flag to comments migration
  backend/migrations/041_add_spoiler_flag_to_comments.down.sql
  backend/migrations/041_add_spoiler_flag_to_comments.up.sql
Due: backend-lint, backend-test

feat(issue-877): add book quote model and API types
  backend/internal/models/book_quote.go
Due: backend-lint, backend-test

chore: mark issue #861 as completed
  .work-queue.json
Due: none

chore: mark issue #858 as completed
  .work-queue.json
Due: none

chore: agent agent-1770696575-98282 claims issue #863
  .work-queue.json
Due: none

chore: agent agent-1770696578-98387 claims issue #868
  .work-queue.json
Due: none

feat(issue-868): add BookCard component and tests
  frontend/src/components/books/BookCard.svelte
  frontend/src/components/books/BookCard.test.ts
Due: frontend-checks

chore: mark issue #883 as completed
  .work-queue.json
Due: none

fix(issue-860): handle bookshelf add conflict path
  backend/internal/services/bookshelf.go
  backend/internal/services/bookshelf_test.go
Due: backend-lint, backend-test

feat(issue-863): create read log handler
  backend/cmd/server/main.go
  backend/cmd/server/routes.go
  backend/cmd/server/routes_test.go
  backend/internal/handlers/read_log.go
  backend/internal/handlers/read_log_test.go
  backend/internal/models/book.go
Due: backend-lint, backend-test

chore: mark issue #877 as completed
  .work-queue.json
Due: none

chore: agent agent-1770697104-9797 claims issue #878
  .work-queue.json
Due: none

chore: agent agent-1770697107-10063 claims issue #884
  .work-queue.json
Due: none

chore: mark issue #860 as completed
  .work-queue.json
Due: none

feat(issue-878): create book quote service
  backend/internal/services/book_quote.go
  backend/internal/services/book_quote_test.go
Due: backend-lint, backend-test

fix(issue-868): address BookCard review feedback
  frontend/src/components/books/BookCard.svelte
  frontend/src/components/books/BookCard.test.ts
Due: frontend-checks

chore: mark issue #863 as completed
  .work-queue.json
Due: none

chore: agent agent-1770697766-22797 claims issue #862
  .work-queue.json
Due: none

chore: agent agent-1770697768-22942 claims issue #864
  .work-queue.json
Due: none

chore: mark issue #868 as completed
  .work-queue.json
Due: none

feat(issue-864): add book stats to post responses
  backend/internal/models/post.go
  backend/internal/services/post.go
  backend/internal/services/post_test.go
Due: backend-lint, backend-test

feat(issue-884): add spoiler support to comments
  backend/internal/handlers/comment.go
  backend/internal/handlers/comment_test.go
  backend/internal/models/comment.go
  backend/internal/services/comment.go
  backend/internal/services/comment_test.go
Due: backend-lint, backend-test

fix(issue-884): update search mocks for spoiler column
  backend/internal/handlers/search_test.go
  backend/internal/services/search_test.go
Due: backend-lint, backend-test

feat(issue-862): add bookshelf handlers and routes
  backend/cmd/server/main.go
  backend/cmd/server/routes.go
  backend/cmd/server/routes_test.go
  backend/internal/handlers/bookshelf.go
  backend/internal/handlers/bookshelf_test.go
  backend/internal/models/book.go
Due: backend-lint, backend-test
