Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

chore: mark issue #847 as completed
  .work-queue.json
Due: none

feat(issue-853): create open library api client
  backend/internal/services/links/openlibrary.go
  backend/internal/services/links/openlibrary_test.go
Due: backend-lint, backend-test

feat(issue-845): add TMDB deep link metadata and MovieCard link
  backend/internal/models/movie.go
  backend/internal/services/links/movie_parser.go
  backend/internal/services/links/movie_parser_test.go
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/MovieCard.test.ts
  frontend/src/components/movies/MovieCard.svelte
  frontend/src/stores/__tests__/postMapper.test.ts
  frontend/src/stores/postMapper.ts
  frontend/src/stores/postStore.ts
Due: backend-lint, backend-test, frontend-checks

chore: mark issue #842 as completed
  .work-queue.json
Due: none

chore: mark issue #843 as completed
  .work-queue.json
Due: none

chore: mark issue #845 as completed
  .work-queue.json
Due: none

chore: mark issue #853 as completed
  .work-queue.json
Due: none

chore: agent agent-1770676933-80836 claims issue #844
  .work-queue.json
Due: none

chore: agent agent-1770676935-81010 claims issue #846
  .work-queue.json
Due: none

chore: agent agent-1770676937-80847 claims issue #848
  .work-queue.json
Due: none

chore: agent agent-1770676939-80954 claims issue #849
  .work-queue.json
Due: none

chore: agent agent-1770676942-81183 claims issue #854
  .work-queue.json
Due: none

feat(issue-854): add bookshelf_categories migration
  backend/migrations/037_create_bookshelf_categories_table.down.sql
  backend/migrations/037_create_bookshelf_categories_table.up.sql
Due: backend-lint, backend-test

chore: mark issue #854 as completed
  .work-queue.json
Due: none

chore: agent agent-1770677260-90298 claims issue #855
  .work-queue.json
Due: none

feat(issue-848): display series seasons in movie cards
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/MovieCard.test.ts
  frontend/src/components/movies/MovieCard.svelte
  frontend/src/stores/__tests__/postMapper.test.ts
  frontend/src/stores/postMapper.ts
  frontend/src/stores/postStore.ts
Due: frontend-checks

feat(issue-855): create bookshelf_items table migration
  backend/migrations/038_create_bookshelf_items_table.down.sql
  backend/migrations/038_create_bookshelf_items_table.up.sql
Due: backend-lint, backend-test

feat(issue-849): add OMDb ratings enrichment for movie metadata
  .env.example
  .env.production.example
  backend/internal/models/movie.go
  backend/internal/services/links/metadata.go
  backend/internal/services/links/metadata_test.go
  backend/internal/services/links/movie_parser.go
  backend/internal/services/links/movie_parser_test.go
  backend/internal/services/links/omdb.go
  backend/internal/services/links/omdb_test.go
  backend/internal/services/links/tmdb.go
  backend/internal/services/links/tmdb_test.go
  docker-compose.prod.yml
  docker-compose.yml
Due: backend-lint, backend-test

fix(issue-844): update movie stats after save and watch actions
  frontend/src/components/movies/WatchButton.svelte
  frontend/src/components/movies/WatchlistSaveButton.svelte
  frontend/src/stores/__tests__/movieStore.test.ts
  frontend/src/stores/__tests__/postStore.test.ts
  frontend/src/stores/__tests__/websocketStore.test.ts
  frontend/src/stores/movieStore.ts
  frontend/src/stores/postStore.ts
  frontend/src/stores/websocketStore.ts
Due: frontend-checks

feat(issue-846): move watchlist into movies and series section headers
  frontend/src/App.svelte
  frontend/src/__tests__/App.watchlist.test.ts
  frontend/src/components/Nav.svelte
  frontend/src/components/__tests__/Nav.test.ts
  frontend/src/services/__tests__/routeNavigation.test.ts
  frontend/src/services/routeNavigation.ts
  frontend/src/stores/uiStore.ts
Due: frontend-checks

chore: mark issue #848 as completed
  .work-queue.json
Due: none

chore: mark issue #855 as completed
  .work-queue.json
Due: none

fix(issue-849): reuse OMDb client across fetches
  backend/internal/services/links/metadata.go
  backend/internal/services/links/metadata_test.go
Due: backend-lint, backend-test

chore: mark issue #846 as completed
  .work-queue.json
Due: none

chore: mark issue #849 as completed
  .work-queue.json
Due: none

fix(issue-844): avoid clearing all categories on sparse unwatchlist events
  frontend/src/stores/__tests__/movieStore.test.ts
  frontend/src/stores/movieStore.ts
Due: frontend-checks

chore: mark issue #844 as completed
  .work-queue.json
Due: none

chore: agent agent-1770678385-25581 claims issue #851
  .work-queue.json
Due: none

chore: agent agent-1770678388-25753 claims issue #850
  .work-queue.json
Due: none

chore: agent agent-1770678390-25915 claims issue #856
  .work-queue.json
Due: none

chore: agent agent-1770678392-25914 claims issue #857
  .work-queue.json
Due: none

chore: agent agent-1770678395-25839 claims issue #859
  .work-queue.json
Due: none

feat(issue-856): create read_logs table migration
  backend/migrations/039_create_read_logs_table.down.sql
  backend/migrations/039_create_read_logs_table.up.sql
Due: backend-lint, backend-test

feat(issue-859): add bookshelf and read log book models
  backend/internal/models/book.go
Due: backend-lint, backend-test

chore: mark issue #856 as completed
  .work-queue.json
Due: none

feat(issue-850): show Rotten Tomatoes and Metacritic in MovieCard
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/MovieCard.test.ts
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/components/movies/MovieCard.svelte
  frontend/src/stores/__tests__/postMapper.test.ts
  frontend/src/stores/postMapper.ts
  frontend/src/stores/postStore.ts
Due: frontend-checks

feat(issue-857): create book metadata parser
  backend/internal/services/links/book_parser.go
  backend/internal/services/links/book_parser_test.go
Due: backend-lint, backend-test

chore: mark issue #859 as completed
  .work-queue.json
Due: none

chore: mark issue #850 as completed
  .work-queue.json
Due: none

fix(issue-857): address review feedback
  backend/internal/services/links/book_parser.go
  backend/internal/services/links/book_parser_test.go
Due: backend-lint, backend-test

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
