Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: backend-lint
        name: backend-lint
        entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
        language: system
        pass_filenames: false
        files: ^backend/
      - id: backend-test
        name: backend-test
        entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
        language: system
        pass_filenames: false
        files: ^backend/
      - id: frontend-checks
        name: frontend-checks
        entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
        language: system
        pass_filenames: false
        files: ^frontend/

feat(issue-871): create book stats bar component
  frontend/src/components/books/BookStatsBar.svelte
  frontend/src/components/books/BookStatsBar.test.ts
  frontend/src/components/books/BookshelfSaveButtonPropsStub.svelte
  frontend/src/components/books/ReadButtonPropsStub.svelte
Due: frontend-checks

feat(issue-894): add recent podcasts section endpoint
  backend/cmd/server/main.go
  backend/cmd/server/routes.go
  backend/cmd/server/routes_test.go
  backend/internal/handlers/section.go
  backend/internal/handlers/section_test.go
  backend/internal/models/link.go
  backend/internal/services/section.go
  backend/internal/services/section_test.go
Due: backend-lint, backend-test

feat(issue-874): add bookshelf route and sidebar navigation
  frontend/src/App.svelte
  frontend/src/__tests__/App.bookshelf.test.ts
  frontend/src/components/Nav.svelte
  frontend/src/components/__tests__/Nav.test.ts
  frontend/src/services/__tests__/routeNavigation.test.ts
  frontend/src/services/routeNavigation.ts
  frontend/src/stores/__tests__/uiStore.test.ts
  frontend/src/stores/uiStore.ts
Due: frontend-checks

fix(issue-949): render movie RT scores reliably
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/MovieCard.test.ts
  frontend/src/components/movies/MovieCard.svelte
  frontend/src/stores/__tests__/postMapper.test.ts
  frontend/src/stores/postMapper.ts
Due: frontend-checks

chore: mark issue #871 as completed
  .work-queue.json
Due: none

feat(issue-892): add podcast save service with audit and pagination
  backend/internal/models/podcast_save.go
  backend/internal/services/podcast_save.go
  backend/internal/services/podcast_save_test.go
Due: backend-lint, backend-test

chore: agent agent-1770713714-1085 claims issue #873
  .work-queue.json
Due: none

fix(issue-874): add bookshelf header navigation in books section
  frontend/src/App.svelte
  frontend/src/__tests__/App.bookshelf.test.ts
Due: frontend-checks

chore: mark issue #894 as completed
  .work-queue.json
Due: none

chore: agent agent-1770714193-7747 claims issue #875
  .work-queue.json
Due: none

feat(issue-875): add books components barrel exports
  frontend/src/components/books/index.ts
Due: frontend-checks

chore: mark issue #874 as completed
  .work-queue.json
Due: none

fix(issue-949): restore score field fallback behavior
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/components/movies/MovieCard.svelte
  frontend/src/stores/postMapper.ts
Due: frontend-checks

chore: mark issue #892 as completed
  .work-queue.json
Due: none

chore: agent agent-1770714860-17742 claims issue #893
  .work-queue.json
Due: none

chore: agent agent-1770714863-18002 claims issue #896
  .work-queue.json
Due: none

chore: mark issue #949 as completed
  .work-queue.json
Due: none

chore: mark issue #875 as completed
  .work-queue.json
Due: none

chore: agent agent-1770715224-24945 claims issue #950
  .work-queue.json
Due: none

feat(issue-873): integrate book card and stats into post card
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
Due: frontend-checks

feat(issue-893): add podcast save handlers and routes
  backend/cmd/server/main.go
  backend/cmd/server/routes.go
  backend/cmd/server/routes_test.go
  backend/internal/handlers/podcast_save.go
  backend/internal/handlers/podcast_save_test.go
Due: backend-lint, backend-test

feat(issue-950): make TMDB link prominent in MovieCard
  frontend/src/components/__tests__/MovieCard.test.ts
  frontend/src/components/movies/MovieCard.svelte
Due: frontend-checks

chore: mark issue #873 as completed
  .work-queue.json
Due: none

feat(issue-896): extend podcast metadata mapping and api errors
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
  frontend/src/stores/__tests__/postMapper.test.ts
  frontend/src/stores/postMapper.ts
  frontend/src/stores/postStore.ts
Due: frontend-checks

chore: mark issue #893 as completed
  .work-queue.json
Due: none

chore: mark issue #950 as completed
  .work-queue.json
Due: none

chore: mark issue #896 as completed
  .work-queue.json
Due: none

chore: agent agent-1770715913-40836 claims issue #882
  .work-queue.json
Due: none

chore: agent agent-1770715915-40974 claims issue #886
  .work-queue.json
Due: none

chore: agent agent-1770715917-40980 claims issue #897
  .work-queue.json
Due: none

chore: agent agent-1770715920-41138 claims issue #898
  .work-queue.json
Due: none

chore: agent agent-1770715945-42422 claims issue #899
  .work-queue.json
Due: none

feat(issue-898): render podcast metadata in post cards
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
Due: frontend-checks

feat(issue-882): add QuoteList and thread integration for books
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/components/books/QuoteList.svelte
  frontend/src/components/books/QuoteList.test.ts
  frontend/src/components/books/index.ts
Due: frontend-checks

feat(issue-897): add podcast post form metadata controls
  frontend/src/components/posts/PostForm.svelte
  frontend/src/components/posts/__tests__/PostForm.test.ts
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
Due: frontend-checks

feat(issue-899): add podcast save api client and store
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
  frontend/src/stores/__tests__/podcastStore.test.ts
  frontend/src/stores/index.ts
  frontend/src/stores/podcastStore.ts
Due: frontend-checks

chore: mark issue #898 as completed
  .work-queue.json
Due: none

feat(issue-886): integrate spoiler UI in book comment flows
  frontend/src/components/comments/CommentForm.svelte
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/comments/ReplyForm.svelte
  frontend/src/components/comments/__tests__/CommentForm.test.ts
  frontend/src/components/comments/__tests__/CommentThread.test.ts
  frontend/src/components/comments/__tests__/ReplyForm.test.ts
  frontend/src/components/notifications/NotificationMenu.svelte
  frontend/src/components/notifications/__tests__/NotificationMenu.test.ts
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
  frontend/src/stores/__tests__/commentMapper.test.ts
  frontend/src/stores/__tests__/notificationStore.test.ts
  frontend/src/stores/commentMapper.ts
  frontend/src/stores/commentStore.ts
  frontend/src/stores/notificationMapper.ts
  frontend/src/stores/notificationStore.ts
Due: frontend-checks

chore: mark issue #897 as completed
  .work-queue.json
Due: none

chore: mark issue #882 as completed
  .work-queue.json
Due: none
