Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

chore: reset issue #519 to available (retry 3)
  .work-queue.json
Due: none

chore: agent agent-1769822264-78476 claims issue #519
  .work-queue.json
Due: none

chore: reset orphaned issue #522 to available
  .work-queue.json
Due: none

chore: agent agent-1769848750-6499 claims issue #522
  .work-queue.json
Due: none

feat(issue-522): unify profile comment threads
  frontend/src/components/PostCard.svelte
  frontend/src/components/UserProfile.svelte
  frontend/src/components/__tests__/UserProfile.test.ts
  frontend/src/components/comments/CommentThread.svelte
Due: frontend-checks

chore: mark issue #522 as completed
  .work-queue.json
Due: none

feat(issue-519): add comment image reference
  backend/internal/models/comment.go
  backend/internal/services/comment.go
  backend/migrations/027_add_image_id_to_comments.down.sql
  backend/migrations/027_add_image_id_to_comments.up.sql
Due: backend-lint, backend-test

Fix search tests for comment image_id
  backend/internal/handlers/search_test.go
  backend/internal/services/search_test.go
Due: backend-lint, backend-test

Include image_id in user comments
  backend/internal/handlers/comment_test.go
  backend/internal/handlers/user_test.go
  backend/internal/services/user.go
Due: backend-lint, backend-test

Add comment image_id validation tests
  backend/internal/handlers/comment_test.go
  backend/internal/services/comment_test.go
Due: backend-lint, backend-test

feat(issue-519): add image-specific comment replies
  backend/internal/handlers/comment.go
  frontend/src/components/PostCard.svelte
  frontend/src/components/comments/CommentForm.svelte
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
  frontend/src/stores/__tests__/commentMapper.test.ts
  frontend/src/stores/__tests__/postMapper.test.ts
  frontend/src/stores/commentMapper.ts
  frontend/src/stores/commentStore.ts
  frontend/src/stores/postMapper.ts
  frontend/src/stores/postStore.ts
Due: backend-lint, backend-test, frontend-checks

fix(issue-519): audit log comment creation
  backend/internal/handlers/comment_test.go
  backend/internal/services/comment.go
  backend/internal/services/comment_test.go
Due: backend-lint, backend-test

chore: mark issue #519 as completed
  .work-queue.json
Due: none

feat(skills): add CI failure analysis to reviewer skill
  .codex/skills/reviewer/SKILL.md
Due: none

chore: add new issues to work queue
  .work-queue.json
Due: none

chore: agent agent-1769857117-66085 claims issue #555
  .work-queue.json
Due: none

chore: agent agent-1769857120-66234 claims issue #556
  .work-queue.json
Due: none

chore: agent agent-1769857122-66396 claims issue #557
  .work-queue.json
Due: none

chore: agent agent-1769857124-66243 claims issue #558
  .work-queue.json
Due: none

fix(issue-556): trigger route sync on notification nav
  frontend/src/components/notifications/NotificationMenu.svelte
Due: frontend-checks

fix(issue-558): enable edit shortcut
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/comments/__tests__/CommentThread.test.ts
Due: frontend-checks

fix(issue-557): handle missing user in auth me
  backend/internal/handlers/auth.go
  backend/internal/handlers/auth_test.go
Due: backend-lint, backend-test

chore: mark issue #556 as completed
  .work-queue.json
Due: none

fix(issue-555): publish realtime notifications
  backend/cmd/server/main.go
  backend/internal/handlers/comment.go
  backend/internal/handlers/notification.go
  backend/internal/handlers/notification_test.go
  backend/internal/handlers/post.go
  backend/internal/handlers/reaction.go
  backend/internal/services/notification.go
  frontend/src/stores/__tests__/notificationStore.test.ts
  frontend/src/stores/notificationStore.ts
Due: backend-lint, backend-test, frontend-checks

chore: mark issue #558 as completed
  .work-queue.json
Due: none

chore: mark issue #557 as completed
  .work-queue.json
Due: none

chore: agent agent-1769857956-98045 claims issue #559
  .work-queue.json
Due: none

chore: agent agent-1769857959-98115 claims issue #560
  .work-queue.json
Due: none

chore: agent agent-1769857962-99328 claims issue #562
  .work-queue.json
Due: none

chore: mark issue #555 as completed
  .work-queue.json
Due: none

fix(issue-560): render carousel images eagerly
  frontend/src/components/PostCard.svelte
Due: frontend-checks

chore: agent agent-1769858217-5414 claims issue #564
  .work-queue.json
Due: none

fix(issue-562): render unknown mentions safely
  frontend/src/components/LinkifiedText.svelte
  frontend/src/components/__tests__/LinkifiedText.test.ts
  frontend/src/services/api.ts
Due: frontend-checks

fix(issue-559): edit per-image uploads
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
Due: frontend-checks

chore: mark issue #560 as completed
  .work-queue.json
Due: none

chore: agent agent-1769858470-15718 claims issue #566
  .work-queue.json
Due: none

chore: mark issue #562 as completed
  .work-queue.json
Due: none

chore: mark issue #559 as completed
  .work-queue.json
Due: none

chore: reset orphaned issues #564 and #566
  .work-queue.json
Due: none

chore: agent agent-1769945966-88271 claims issue #564
  .work-queue.json
Due: none

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
