Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

fix(issue-808): address review feedback
  frontend/src/App.svelte
  frontend/src/__tests__/App.watchlist.test.ts
Due: frontend-checks

feat(issue-807): integrate movie cards and stats in PostCard
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
Due: frontend-checks

chore: mark issue #808 as completed
  .work-queue.json
Due: none

fix(issue-807): preserve movie metadata in post mapper
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/stores/__tests__/postMapper.test.ts
  frontend/src/stores/postMapper.ts
  frontend/src/stores/postStore.ts
Due: frontend-checks

chore: mark issue #807 as completed
  .work-queue.json
Due: none

chore: add follow-up issues #834-#837 from movies UAT to work queue
  .work-queue.json
Due: none

chore: agent agent-1770647642-61648 claims issue #834
  .work-queue.json
Due: none

chore: agent agent-1770647645-61729 claims issue #835
  .work-queue.json
Due: none

chore: agent agent-1770647647-61823 claims issue #836
  .work-queue.json
Due: none

chore: agent agent-1770647649-61912 claims issue #837
  .work-queue.json
Due: none

fix(issue-834): configure tmdb api key for compose deployments
  .env.example
  .env.production.example
  README.md
  backend/.env.example
  docker-compose.prod.yml
  docker-compose.yml
Due: backend-lint, backend-test

fix(issue-835): improve imdb metadata fallback headers
  backend/internal/services/links/metadata.go
  backend/internal/services/links/metadata_test.go
Due: backend-lint, backend-test

fix(issue-837): keep watchlist inline category creation open
  frontend/src/components/__tests__/WatchlistSaveButton.test.ts
  frontend/src/components/movies/WatchlistSaveButton.svelte
Due: frontend-checks

chore: mark issue #834 as completed
  .work-queue.json
Due: none

chore: mark issue #837 as completed
  .work-queue.json
Due: none

chore: mark issue #835 as completed
  .work-queue.json
Due: none

fix(issue-836): load all movies from backend watchlist feed
  backend/cmd/server/main.go
  backend/internal/handlers/post.go
  backend/internal/handlers/post_test.go
  backend/internal/services/post.go
  backend/internal/services/post_test.go
  frontend/src/components/__tests__/Watchlist.test.ts
  frontend/src/components/movies/Watchlist.svelte
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
Due: backend-lint, backend-test, frontend-checks

fix(issue-836): prevent watchlist auto-retry loop on movie feed errors
  frontend/src/components/__tests__/Watchlist.test.ts
  frontend/src/components/movies/Watchlist.svelte
Due: frontend-checks

chore: mark issue #836 as completed
  .work-queue.json
Due: none

update gitignore
  .gitignore
Due: none

cleanup
  .env
Due: none

chore: fix TMDB card rendering
  backend/internal/services/links/tmdb.go
  backend/internal/services/links/tmdb_test.go
Due: backend-lint, backend-test

chore: allow ngrok on dev server
  frontend/vite.config.ts
Due: frontend-checks

chore: add movie bug fixes and enhancements to work queue (#842-#850)
  .work-queue.json
Due: none

chore: add watchlist split issue #851 to work queue
  .work-queue.json
Due: none

chore: add books section issues to work queue (#852-#886)
  .work-queue.json
Due: none

chore(queue): add podcasts issue breakdown with dependencies
  .work-queue.json
Due: none

chore: add beads-based work planning
  .codex/skills/orchestrator/SKILL.md
  .codex/skills/subagent/SKILL.md
  .codex/skills/subagent/scripts/start-agent.sh
  AGENTS.md
  docs/beads-work-planning.md
  scripts/beads/close-gh-issue.sh
  scripts/beads/migrate-work-queue.sh
Due: none

init beads
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/metadata.json
  .gitattributes
  AGENTS.md
Due: none

Revert "chore: add beads-based work planning"
  .codex/skills/orchestrator/SKILL.md
  .codex/skills/subagent/SKILL.md
  .codex/skills/subagent/scripts/start-agent.sh
  AGENTS.md
  docs/beads-work-planning.md
  scripts/beads/close-gh-issue.sh
  scripts/beads/migrate-work-queue.sh
Due: none

Revert "init beads"
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/metadata.json
  .gitattributes
  AGENTS.md
Due: none

chore: prune queue
  .completed-work-items.json
  .work-queue.json
Due: none

chore: agent agent-1770675536-40252 claims issue #842
  .work-queue.json
Due: none

chore: reset orphaned issues #842 #843 #845 #847 #852 to available
  .work-queue.json
Due: none

chore: agent agent-1770675773-48573 claims issue #842
  .work-queue.json
Due: none

feat(issue-852): add book metadata and bookshelf model types
  backend/internal/models/book.go
Due: backend-lint, backend-test

feat(issue-847): store TMDB season metadata for series
  backend/internal/models/movie.go
  backend/internal/services/links/movie_parser.go
  backend/internal/services/links/movie_parser_test.go
  backend/internal/services/links/tmdb.go
  backend/internal/services/links/tmdb_test.go
Due: backend-lint, backend-test

chore: mark issue #852 as completed
  .work-queue.json
Due: none

fix(issue-842): wire watchlist category edit/delete actions
  frontend/src/components/__tests__/Watchlist.test.ts
  frontend/src/components/movies/Watchlist.svelte
Due: frontend-checks

fix(issue-843): show movie stats on new posts without reload
  backend/internal/services/post.go
  backend/internal/services/post_test.go
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
Due: backend-lint, backend-test, frontend-checks

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
