Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

feat(issue-441): add alertmanager and alert rules
  alertmanager.yml
  docker-compose.prod.yml
  docker-compose.yml
  grafana/datasources/datasources.yml
  prometheus.yml
  prometheus/alerts/auth-alerts.yml
  prometheus/alerts/database-alerts.yml
  prometheus/alerts/http-alerts.yml
  prometheus/alerts/websocket-alerts.yml
Due: none

fix(issue-441): align prometheus image tag
  docker-compose.prod.yml
Due: none

feat(issue-427): add frontend performance monitoring
  backend/cmd/server/main.go
  backend/internal/handlers/metrics.go
  backend/internal/handlers/metrics_test.go
  backend/internal/observability/metrics.go
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/PostCard.svelte
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/lib/observability/performance.ts
  frontend/src/main.ts
  frontend/src/services/api.ts
  frontend/src/stores/websocketStore.ts
Due: backend-lint, backend-test, frontend-checks

chore: mark issue #441 as completed
  .work-queue.json
Due: none

chore: agent agent-1769704390-6583 claims issue #430
  .work-queue.json
Due: none

fix(issue-427): correct comment reaction try/catch
  frontend/src/components/comments/CommentThread.svelte
Due: frontend-checks

feat(issue-430): add notifications dashboard
  grafana/dashboards/notifications.json
Due: none

chore: mark issue #427 as completed
  .work-queue.json
Due: none

fix(issue-430): correct push failure panel
  grafana/dashboards/notifications.json
Due: none

feat(issue-428): add frontend otel tracing
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/observability/errorTracker.ts
  frontend/src/lib/observability/tracing.ts
  frontend/src/main.ts
  frontend/src/services/api.ts
  frontend/src/vite-env.d.ts
Due: frontend-checks

docs(issue-428): document frontend otel env vars
  README.md
Due: none

fix(issue-430): add push error types
  backend/internal/observability/metrics.go
  backend/internal/services/notification.go
  backend/internal/services/push.go
  grafana/dashboards/notifications.json
Due: backend-lint, backend-test

fix(issue-430): refine push failure accounting
  backend/internal/services/notification.go
  backend/internal/services/push.go
  backend/internal/services/push_test.go
Due: backend-lint, backend-test

docs(issue-428): clarify otel dev default
  README.md
Due: none

chore: mark issue #430 as completed
  .work-queue.json
Due: none

chore: mark issue #428 as completed
  .work-queue.json
Due: none

fix(issue-390): remove unused mfa backup codes
  backend/internal/handlers/user.go
  backend/internal/handlers/user_test.go
  backend/internal/models/totp.go
  backend/internal/services/totp.go
  frontend/src/components/settings/MfaSetup.svelte
Due: backend-lint, backend-test, frontend-checks

feat(issue-390): persist and redeem mfa backup codes
  backend/internal/handlers/user.go
  backend/internal/handlers/user_test.go
  backend/internal/models/totp.go
  backend/internal/services/totp.go
  backend/internal/testutil/testutil.go
  backend/migrations/021_add_mfa_backup_codes_table.down.sql
  backend/migrations/021_add_mfa_backup_codes_table.up.sql
  frontend/src/components/settings/MfaSetup.svelte
Due: backend-lint, backend-test, frontend-checks

feat(issue-390): add user mfa enrollment flow
  backend/cmd/server/main.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/user.go
  backend/internal/handlers/user_test.go
  backend/internal/models/totp.go
  backend/internal/models/user.go
  backend/internal/services/totp.go
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/components/__tests__/SidebarHeader.test.ts
  frontend/src/components/admin/AuditLogs.svelte
  frontend/src/components/comments/__tests__/CommentThread.test.ts
  frontend/src/components/posts/__tests__/PostForm.test.ts
  frontend/src/components/settings/MfaSetup.svelte
  frontend/src/routes/Login.svelte
  frontend/src/routes/Settings.svelte
  frontend/src/routes/__tests__/Login.test.ts
  frontend/src/stores/__tests__/authStore.test.ts
  frontend/src/stores/authStore.ts
Due: backend-lint, backend-test, frontend-checks

fix(issue-390): add missing otel/web vitals deps
  frontend/package-lock.json
  frontend/package.json
Due: frontend-checks

chore: allow orchestrator to continue with dangling work
  .codex/skills/orchestrator/SKILL.md
Due: none

chore: use github MCP instead of cli
  .codex/skills/orchestrator/SKILL.md
  .codex/skills/reviewer/SKILL.md
  .codex/skills/subagent/SKILL.md
Due: none

chore: reset orphaned issue #415 to available
  .work-queue.json
Due: none

chore: agent agent-1769760790-10748 claims issue #415
  .work-queue.json
Due: none

chore: agent agent-1769760792-10823 claims issue #431
  .work-queue.json
Due: none

chore: agent agent-1769760794-10845 claims issue #433
  .work-queue.json
Due: none

feat(issue-433): add http alerting rules
  prometheus/alerts/http-alerts.yml
Due: none

chore: mark issue #415 completed
  .work-queue.json
Due: none

chore: agent agent-1769760899-15195 claims issue #416
  .work-queue.json
Due: none

feat(issue-416): use observability logging in main
  backend/cmd/server/main.go
Due: backend-lint, backend-test

fix(issue-390): allow backup code login
  backend/internal/services/totp.go
  backend/internal/services/totp_test.go
Due: backend-lint, backend-test

chore: mark issue #390 as completed
  .work-queue.json
Due: none

feat(issue-431): add link metadata dashboard
  backend/internal/handlers/links.go
  backend/internal/observability/metrics.go
  backend/internal/services/link_metadata.go
  backend/internal/services/links/metadata.go
  grafana/dashboards/link-metadata.json
Due: backend-lint, backend-test

chore: mark issue #433 as completed
  .work-queue.json
Due: none

chore: mark issue #431 as completed
  .work-queue.json
Due: none

chore: mark issue #416 as completed
  .work-queue.json
Due: none

chore: agent agent-1769761926-38276 claims issue #417
  .work-queue.json
Due: none

chore: agent agent-1769761928-38443 claims issue #418
  .work-queue.json
Due: none

chore: agent agent-1769761931-38452 claims issue #419
  .work-queue.json
Due: none

chore: agent agent-1769761933-38677 claims issue #391
  .work-queue.json
Due: none

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
