Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: backend-lint
        name: backend-lint
        entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
        language: system
        pass_filenames: false
        files: ^backend/
      - id: backend-test
        name: backend-test
        entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
        language: system
        pass_filenames: false
        files: ^backend/
      - id: frontend-checks
        name: frontend-checks
        entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
        language: system
        pass_filenames: false
        files: ^frontend/

chore: agent agent-1769945968-88363 claims issue #566
  .work-queue.json
Due: none

chore: agent agent-1769945970-88281 claims issue #570
  .work-queue.json
Due: none

chore: agent agent-1769945972-88519 claims issue #574
  .work-queue.json
Due: none

chore: agent agent-1769945975-88731 claims issue #561
  .work-queue.json
Due: none

fix(issue-570): filter deleted posts from user comments
  backend/internal/handlers/user_test.go
  backend/internal/services/user.go
Due: backend-lint, backend-test

fix(issue-574): proxy frontend otlp traces in dev
  README.md
  frontend/src/lib/observability/tracing.ts
  frontend/vite.config.ts
Due: frontend-checks

feat(issue-561): add image reply actions in post carousel
  frontend/src/components/PostCard.svelte
Due: frontend-checks

fix(issue-566): wrap section scope pill styling
  frontend/src/components/search/SearchResults.svelte
Due: frontend-checks

feat(issue-561): add image reply actions in post carousel (#584)
  frontend/src/components/PostCard.svelte
Due: frontend-checks

chore: mark issue #561 as completed
  .work-queue.json
Due: none

fix(issue-574): proxy frontend otlp traces in dev (#583)
  README.md
  frontend/src/lib/observability/tracing.ts
  frontend/vite.config.ts
Due: frontend-checks

chore: mark issue #574 as completed
  .work-queue.json
Due: none

fix(issue-570): filter deleted posts from user comments (#582)
  backend/internal/handlers/user_test.go
  backend/internal/services/user.go
Due: backend-lint, backend-test

chore: mark issue #570 as completed
  .work-queue.json
Due: none

fix(issue-566): wrap section scope pill styling (#585)
  frontend/src/components/search/SearchResults.svelte
Due: frontend-checks

chore: mark issue #566 as completed
  .work-queue.json
Due: none

chore: update gitignore
  .gitignore
Due: none

chore: reset stale issue #564 to available
  .work-queue.json
Due: none

chore: agent agent-1769950325-21798 claims issue #564
  .work-queue.json
Due: none

chore: agent agent-1769950327-21895 claims issue #563
  .work-queue.json
Due: none

chore: agent agent-1769950329-21912 claims issue #567
  .work-queue.json
Due: none

chore: agent agent-1769950330-22083 claims issue #568
  .work-queue.json
Due: none

chore: agent agent-1769950331-21811 claims issue #569
  .work-queue.json
Due: none

feat(issue-567): fix lightbox image transition to not slide vertically
  frontend/src/components/PostCard.svelte
Due: frontend-checks

feat(issue-569): move comment input box below existing comments
  frontend/src/components/comments/CommentThread.svelte
Due: frontend-checks

feat(issue-568): navbar layout with logo left, search centered, user right
  frontend/src/components/Header.svelte
Due: frontend-checks

feat(issue-563): exclude current user from @ mention suggestions
  frontend/src/components/mentions/MentionTextarea.svelte
  frontend/src/components/mentions/__tests__/MentionTextarea.test.ts
Due: frontend-checks

chore: mark issue #567 as completed
  .work-queue.json
Due: none

chore: mark issue #569 as completed
  .work-queue.json
Due: none

chore: mark issue #568 as completed
  .work-queue.json
Due: none

chore: mark issue #563 as completed
  .work-queue.json
Due: none

chore: agent agent-1769950902-27031 claims issue #564
  .work-queue.json
Due: none

chore: agent agent-1769950904-27041 claims issue #571
  .work-queue.json
Due: none

chore: agent agent-1769950906-27051 claims issue #572
  .work-queue.json
Due: none

chore: agent agent-1769950908-27105 claims issue #573
  .work-queue.json
Due: none

wip
  frontend/src/components/PostCard.svelte
  frontend/src/components/UserProfile.svelte
Due: frontend-checks

chore: update .gitignore
  .gitignore
Due: none

chore: reset orphaned issue #564 to available
  .work-queue.json
Due: none
