Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: backend-lint
        name: backend-lint
        entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
        language: system
        pass_filenames: false
        files: ^backend/
      - id: backend-test
        name: backend-test
        entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
        language: system
        pass_filenames: false
        files: ^backend/
      - id: frontend-checks
        name: frontend-checks
        entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
        language: system
        pass_filenames: false
        files: ^frontend/

chore: mark issue #597 as completed
  .work-queue.json
Due: none

feat(issue-603): format backend logs as json
  backend/internal/observability/logs.go
  backend/internal/observability/logs_test.go
Due: backend-lint, backend-test

chore: mark issue #601 as completed
  .work-queue.json
Due: none

chore: mark issue #600 as completed
  .work-queue.json
Due: none

chore: mark issue #603 as completed
  .work-queue.json
Due: none

chore: agent agent-1769966719-31324 claims issue #604
  .work-queue.json
Due: none

fix(issue-595): show reply actions for image posts
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/components/comments/CommentForm.svelte
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/comments/__tests__/CommentThread.test.ts
Due: frontend-checks

chore: mark issue #599 as completed
  .work-queue.json
Due: none

feat(issue-598): improve notification read behavior
  backend/cmd/server/main.go
  backend/internal/handlers/notification.go
  backend/internal/handlers/notification_test.go
  backend/internal/models/notification.go
  backend/internal/services/notification.go
  frontend/src/components/notifications/NotificationMenu.svelte
  frontend/src/components/notifications/__tests__/NotificationMenu.test.ts
  frontend/src/stores/__tests__/notificationStore.test.ts
  frontend/src/stores/notificationStore.ts
Due: backend-lint, backend-test, frontend-checks

fix(issue-595): send image uploads as post images
  frontend/src/components/posts/PostForm.svelte
  frontend/src/components/posts/__tests__/PostForm.test.ts
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
  frontend/src/stores/postStore.ts
Due: frontend-checks

fix(issue-595): allow image replies without ids
  frontend/src/components/PostCard.svelte
Due: frontend-checks

chore: mark issue #598 as completed
  .work-queue.json
Due: none

chore: reset orphaned issue #596 to available
  .work-queue.json
Due: none

chore: agent agent-1769967885-60504 claims issue #596
  .work-queue.json
Due: none

fix(issue-595): address review feedback
  frontend/src/components/PostCard.svelte
Due: frontend-checks

chore: mark issue #595 as completed
  .work-queue.json
Due: none

fix(issue-604): address logging feedback
  docker-compose.prod.yml
  docker-compose.yml
  vector/vector.toml
Due: none

fix(issue-604): forward postgres and redis logs
  docker-compose.prod.yml
  docker-compose.yml
  docs/production-deployment.md
  vector/vector.toml
Due: none

docs(issue-604): update postgres log path
  docs/production-deployment.md
Due: none

feat(issue-604): configure json logging for services
  docker-compose.prod.yml
  docker-compose.yml
  docs/production-deployment.md
  loki.yml
Due: none

chore: mark issue #604 as completed
  .work-queue.json
Due: none

fix(issue-596): tighten mention handling
  backend/internal/handlers/comment.go
  backend/internal/handlers/post.go
  backend/internal/handlers/pubsub.go
  backend/internal/handlers/user.go
  backend/internal/handlers/user_test.go
  backend/internal/models/comment.go
  backend/internal/models/post.go
  backend/internal/models/user.go
  frontend/src/components/LinkifiedText.svelte
  frontend/src/components/PostCard.svelte
  frontend/src/components/UserProfile.svelte
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/components/comments/CommentForm.svelte
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/comments/ReplyForm.svelte
  frontend/src/components/comments/__tests__/CommentThread.test.ts
  frontend/src/components/mentions/MentionTextarea.svelte
  frontend/src/components/posts/PostForm.svelte
  frontend/src/components/posts/__tests__/PostForm.test.ts
  frontend/src/services/api.ts
  frontend/src/stores/commentStore.ts
  frontend/src/stores/postStore.ts
Due: backend-lint, backend-test, frontend-checks

chore: mark issue #596 as completed
  .work-queue.json
Due: none

Revert "Configure all third-party services to log in JSON"
  docker-compose.prod.yml
  docker-compose.yml
  docs/production-deployment.md
  loki.yml
  vector/vector.toml
Due: none

Revert "Configure all third-party services to log in JSON" (#615)
  docker-compose.prod.yml
  docker-compose.yml
  docs/production-deployment.md
  loki.yml
  vector/vector.toml
Due: none

chore: set redis log level to notice
  docker-compose.yml
Due: none

chore: json loggin;
  docker-compose.yml
  loki.yml
Due: none

chore: comment out failing mkdir for grafana entrypoint
  grafana/entrypoint.sh
Due: none

chore: add issues #616-#621 to work queue
  .work-queue.json
Due: none

chore: fix work queue status from pending to available
  .work-queue.json
Due: none

chore: agent agent-1769978981-15312 claims issue #616
  .work-queue.json
Due: none

chore: agent agent-1769978983-15417 claims issue #619
  .work-queue.json
Due: none

chore: agent agent-1769978985-15443 claims issue #620
  .work-queue.json
Due: none

chore: agent agent-1769978987-15325 claims issue #621
  .work-queue.json
Due: none

feat(issue-620): link profile posts
  frontend/src/components/UserProfile.svelte
Due: frontend-checks

fix(issue-616): improve image reply button layering
  frontend/src/components/PostCard.svelte
Due: frontend-checks

fix(issue-619): stabilize profile comment reply styling
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/comments/__tests__/CommentThread.test.ts
Due: frontend-checks

chore: mark issue #616 as completed
  .work-queue.json
Due: none
