Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

chore: agent agent-1769160064-86208 claims issue #194
  .work-queue.json
Due: none

feat(issue-194): Enable DB-backed tests with testutil package
  .buildkite/scripts/backend-test.sh
  backend/internal/handlers/admin.go
  backend/internal/handlers/admin_test.go
  backend/internal/handlers/auth_password_reset_test.go
  backend/internal/handlers/reaction_test.go
  backend/internal/handlers/section_test.go
  backend/internal/handlers/user_test.go
  backend/internal/services/comment_test.go
  backend/internal/services/reaction_test.go
  backend/internal/services/section_test.go
  backend/internal/testutil/setup_test.go
  backend/internal/testutil/testutil.go
  docker-compose.test.yml
  docs/TESTING.md
Due: backend-lint, backend-test

ci: Add PostgreSQL service for DB-backed tests in CI
  .buildkite/Dockerfile.backend-test
  .buildkite/docker-compose.ci.yml
  .buildkite/pipeline.steps.yml
  .buildkite/scripts/backend-test.sh
Due: none

fix: Prevent deadlocks in parallel test execution
  .buildkite/scripts/backend-test.sh
  backend/internal/testutil/testutil.go
Due: backend-lint, backend-test

Enable DB-backed tests by adding test Postgres/Redis setup (#230)
  .buildkite/Dockerfile.backend-test
  .buildkite/docker-compose.ci.yml
  .buildkite/pipeline.steps.yml
  .buildkite/scripts/backend-test.sh
  backend/internal/handlers/admin.go
  backend/internal/handlers/admin_test.go
  backend/internal/handlers/auth_password_reset_test.go
  backend/internal/handlers/reaction_test.go
  backend/internal/handlers/section_test.go
  backend/internal/handlers/user_test.go
  backend/internal/services/comment_test.go
  backend/internal/services/reaction_test.go
  backend/internal/services/section_test.go
  backend/internal/testutil/setup_test.go
  backend/internal/testutil/testutil.go
  docker-compose.test.yml
  docs/TESTING.md
Due: backend-lint, backend-test

update work queue
  .work-queue.json
Due: none

chore: agent agent-1769455667-61502 claims issue #197
  .work-queue.json
Due: none

chore: agent agent-1769455693-62616 claims issue #198
  .work-queue.json
Due: none

chore: agent agent-1769455716-63887 claims issue #204
  .work-queue.json
Due: none

feat(issue-198): add password reset page
  frontend/src/App.svelte
  frontend/src/routes/PasswordReset.svelte
  frontend/src/routes/__tests__/PasswordReset.test.ts
  frontend/src/routes/index.ts
Due: frontend-checks

chore: mark issue #198 as completed
  .work-queue.json
Due: none

chore: agent agent-1769457078-77265 claims issue #232
  .work-queue.json
Due: none

feat(issue-204): add auth event logging
  backend/cmd/server/main.go
  backend/internal/handlers/admin.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/auth_event_test.go
  backend/internal/handlers/auth_password_reset_test.go
  backend/internal/models/auth_event.go
  backend/internal/services/auth_event.go
  backend/internal/testutil/testutil.go
  backend/migrations/017_create_auth_events_table.down.sql
  backend/migrations/017_create_auth_events_table.up.sql
Due: backend-lint, backend-test

feat(issue-197): add admin reset link UI
  frontend/src/components/admin/UserResetLinks.svelte
  frontend/src/components/admin/__tests__/UserResetLinks.test.ts
  frontend/src/routes/AdminPanel.svelte
  frontend/src/routes/__tests__/AdminPanel.test.ts
Due: frontend-checks

feat(issue-232): trace websocket messages and metrics
  backend/internal/handlers/pubsub.go
  backend/internal/handlers/websocket.go
  backend/internal/observability/metrics.go
Due: backend-lint, backend-test

chore: agent agent-1769457307-83061 claims issue #233
  .work-queue.json
Due: none

chore: agent agent-1769457326-85109 claims issue #234
  .work-queue.json
Due: none

chore: mark issue #204 as completed
  .work-queue.json
Due: none

chore: agent agent-1769457368-87124 claims issue #205
  .work-queue.json
Due: none

chore: mark issue #232 as completed
  .work-queue.json
Due: none

chore: mark issue #197 as completed
  .work-queue.json
Due: none

feat(issue-234): add notification handler tests
  backend/internal/handlers/notification_test.go
Due: backend-lint, backend-test

chore: mark issue #234 as completed
  .work-queue.json
Due: none

chore: agent agent-1769457624-91679 claims issue #235
  .work-queue.json
Due: none

chore: agent agent-1769457703-95233 claims issue #236
  .work-queue.json
Due: none

feat(issue-233): add missing business metrics
  backend/internal/handlers/links.go
  backend/internal/handlers/reaction.go
  backend/internal/handlers/websocket.go
  backend/internal/observability/metrics.go
  backend/internal/services/comment.go
  backend/internal/services/link_metadata.go
  backend/internal/services/notification.go
  backend/internal/services/post.go
Due: backend-lint, backend-test

fix(issue-245): add approved users admin endpoint
  backend/cmd/server/main.go
  backend/internal/handlers/admin.go
  backend/internal/handlers/admin_test.go
  backend/internal/models/user.go
  backend/internal/services/user.go
Due: backend-lint, backend-test

chore: mark issue #233 as completed
  .work-queue.json
Due: none

feat(issue-235): add websocket handler tests
  backend/internal/handlers/websocket_test.go
Due: backend-lint, backend-test

chore: agent agent-1769457920-5481 claims issue #237
  .work-queue.json
Due: none

chore: agent agent-1769457943-7335 claims issue #238
  .work-queue.json
Due: none

feat(issue-236): add post service unit tests
  backend/internal/services/post_test.go
Due: backend-lint, backend-test

chore: mark issue #236 as completed
  .work-queue.json
Due: none

feat(issue-238): document password reset flow
  DESIGN.md
  README.md
Due: none

chore: mark issue #238 as completed
  .work-queue.json
Due: none

feat(issue-237): align standard response docs
  DESIGN.md
Due: none

chore: mark issue #235 as completed
  .work-queue.json
Due: none

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
