Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

chore: mark issue #236 as completed
  .work-queue.json
Due: none

chore: mark issue #205 as completed
  .work-queue.json
Due: none

chore: mark issue #238 as completed
  .work-queue.json
Due: none

chore: mark issue #235 as completed
  .work-queue.json
Due: none

chore: agent agent-1769458248-19105 claims issue #206
  .work-queue.json
Due: none

chore: agent agent-1769458263-20226 claims issue #239
  .work-queue.json
Due: none

chore: agent agent-1769458271-21200 claims issue #240
  .work-queue.json
Due: none

chore: mark issue #237 as completed
  .work-queue.json
Due: none

feat(issue-205): add admin totp enrollment and verification
  .env.example
  .env.production.example
  README.md
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/handlers/admin.go
  backend/internal/handlers/admin_test.go
  backend/internal/handlers/auth.go
  backend/internal/models/totp.go
  backend/internal/models/user.go
  backend/internal/services/totp.go
  backend/internal/services/user.go
  backend/migrations/018_add_totp_to_users_table.down.sql
  backend/migrations/018_add_totp_to_users_table.up.sql
  docs/production-deployment.md
Due: backend-lint, backend-test

feat(issue-239): add rate limiting for posts and comments
  backend/internal/handlers/comment.go
  backend/internal/handlers/comment_test.go
  backend/internal/handlers/content_rate_limit.go
  backend/internal/handlers/post.go
  backend/internal/handlers/post_test.go
  backend/internal/handlers/rate_limit_test.go
  backend/internal/services/rate_limiter.go
Due: backend-lint, backend-test

feat(issue-240): harden websocket origin allowlist
  .env.example
  .env.production.example
  backend/internal/handlers/websocket.go
  backend/internal/handlers/websocket_test.go
  docs/production-deployment.md
Due: backend-lint, backend-test

chore: mark issue #240 as completed
  .work-queue.json
Due: none

fix(issue-239): document content rate limits and fail closed
  .env.example
  .env.production.example
  backend/internal/handlers/content_rate_limit.go
Due: backend-lint, backend-test

chore: mark issue #239 as completed
  .work-queue.json
Due: none

update work queue
  .work-queue.json
Due: none

chore: agent agent-1769460363-55881 claims issue #194
  .work-queue.json
Due: none

chore: agent agent-1769460378-56959 claims issue #207
  .work-queue.json
Due: none

feat(issue-207): set observability retention policies
  AGENTS.md
  DESIGN.md
  docker-compose.prod.yml
  docker-compose.yml
  docs/production-deployment.md
  loki.yml
  tempo.yml
Due: none

feat(issue-194): add csrf handling to api client
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
  frontend/src/stores/__tests__/authStore.test.ts
  frontend/src/stores/authStore.ts
Due: frontend-checks

chore: mark issue #207 as completed
  .work-queue.json
Due: none

fix(issue-194): exempt public auth endpoints from csrf
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
Due: frontend-checks

chore: mark issue #194 as completed
  .work-queue.json
Due: none

feat(issue-206): add admin totp ui and mfa login
  frontend/src/components/admin/AdminTotpSetup.svelte
  frontend/src/components/admin/__tests__/AdminTotpSetup.test.ts
  frontend/src/routes/AdminPanel.svelte
  frontend/src/routes/Login.svelte
  frontend/src/routes/__tests__/Login.test.ts
  frontend/src/stores/__tests__/authStore.test.ts
  frontend/src/stores/authStore.ts
Due: frontend-checks

fix(issue-206): align mfa login with backend
  frontend/src/components/admin/AdminTotpSetup.svelte
  frontend/src/components/admin/__tests__/AdminTotpSetup.test.ts
  frontend/src/routes/Login.svelte
  frontend/src/routes/__tests__/Login.test.ts
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
Due: frontend-checks

fix(issue-206): add csrf handling to api client
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
Due: frontend-checks

chore: mark issue #206 as completed
  .work-queue.json
Due: none

log to stderr and adjust env
  .env
  backend/internal/observability/logs.go
  docker-compose.yml
Due: backend-lint, backend-test

chore: agent agent-1769497162-8746 claims issue #259
  .work-queue.json
Due: none

chore: agent agent-1769497175-10606 claims issue #260
  .work-queue.json
Due: none

fix(issue-259): include user on created comments
  backend/internal/services/comment.go
  backend/internal/services/comment_test.go
Due: backend-lint, backend-test

fix(issue-260): prevent double comment count
  frontend/src/components/comments/CommentForm.svelte
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/comments/__tests__/CommentForm.test.ts
  frontend/src/components/comments/__tests__/CommentThread.test.ts
Due: frontend-checks

fix(issue-259): fetch comment user in transaction
  backend/internal/services/comment.go
Due: backend-lint, backend-test

chore: mark issue #259 as completed
  .work-queue.json
Due: none

fix(issue-260): handle websocket ordering
  frontend/src/components/comments/CommentForm.svelte
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/comments/__tests__/CommentForm.test.ts
  frontend/src/stores/__tests__/websocketStore.test.ts
  frontend/src/stores/commentStore.ts
  frontend/src/stores/websocketStore.ts
Due: frontend-checks

chore: agent agent-1769498592-30399 claims issue #263
  .work-queue.json
Due: none

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
