Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

chore: agent agent-1770628622-75104 claims issue #795
  .work-queue.json
Due: none

chore: agent agent-1770628626-75198 claims issue #798
  .work-queue.json
Due: none

feat(issue-798): add movie stats to post responses
  backend/internal/models/post.go
  backend/internal/services/post.go
  backend/internal/services/post_test.go
Due: backend-lint, backend-test

feat(issue-795): add watchlist handlers and routes
  backend/cmd/server/main.go
  backend/cmd/server/routes.go
  backend/internal/handlers/pubsub.go
  backend/internal/handlers/watchlist.go
  backend/internal/handlers/watchlist_test.go
  backend/internal/models/movie.go
Due: backend-lint, backend-test

chore: mark issue #798 as completed
  .work-queue.json
Due: none

chore: mark issue #795 as completed
  .work-queue.json
Due: none

fix(issue-796): tighten watch-log route matching
  backend/cmd/server/routes.go
  backend/cmd/server/routes_test.go
Due: backend-lint, backend-test

feat(issue-796): add watch log handlers and routes
  backend/cmd/server/main.go
  backend/cmd/server/routes.go
  backend/cmd/server/routes_test.go
  backend/internal/handlers/pubsub.go
  backend/internal/handlers/watch_log.go
  backend/internal/handlers/watch_log_test.go
  backend/internal/models/watch_log.go
  backend/internal/services/watch_log.go
Due: backend-lint, backend-test

chore: mark issue #796 as completed
  .work-queue.json
Due: none

chore: agent agent-1770630432-93818 claims issue #799
  .work-queue.json
Due: none

chore: agent agent-1770630435-93914 claims issue #800
  .work-queue.json
Due: none

test(issue-799): cover watchlist route middleware wiring
  backend/cmd/server/routes_test.go
Due: backend-lint, backend-test

feat(issue-800): add watchlist and watch log api client methods
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
Due: frontend-checks

chore: mark issue #799 as completed
  .work-queue.json
Due: none

chore: mark issue #800 as completed
  .work-queue.json
Due: none

chore: agent agent-1770631208-199 claims issue #801
  .work-queue.json
Due: none

feat(issue-801): create movie store
  frontend/src/stores/__tests__/movieStore.test.ts
  frontend/src/stores/movieStore.ts
Due: frontend-checks

Fix movie websocket filtering and remove synthetic fallbacks
  frontend/src/stores/__tests__/movieStore.test.ts
  frontend/src/stores/movieStore.ts
Due: frontend-checks

chore: mark issue #801 as completed
  .work-queue.json
Due: none

chore: agent agent-1770632584-11049 claims issue #802
  .work-queue.json
Due: none

chore: agent agent-1770632588-11145 claims issue #803
  .work-queue.json
Due: none

chore: agent agent-1770632592-11240 claims issue #805
  .work-queue.json
Due: none

feat(issue-803): create movie watch button component
  frontend/src/components/__tests__/WatchButton.test.ts
  frontend/src/components/movies/WatchButton.svelte
Due: frontend-checks

feat(issue-805): create watchlist view component
  frontend/src/components/__tests__/Watchlist.test.ts
  frontend/src/components/movies/Watchlist.svelte
Due: frontend-checks

feat(issue-802): create watchlist save button component
  frontend/src/components/__tests__/WatchlistSaveButton.test.ts
  frontend/src/components/movies/WatchlistSaveButton.svelte
Due: frontend-checks

fix(issue-805): address review feedback
  frontend/src/components/__tests__/Watchlist.test.ts
  frontend/src/components/movies/Watchlist.svelte
  frontend/src/stores/__tests__/postMapper.test.ts
  frontend/src/stores/postMapper.ts
  frontend/src/stores/postStore.ts
Due: frontend-checks

fix(issue-803): address review feedback
  frontend/src/components/__tests__/WatchButton.test.ts
  frontend/src/components/movies/WatchButton.svelte
Due: frontend-checks

fix(issue-802): keep fallback saved state on watchlist load errors
  frontend/src/components/__tests__/WatchlistSaveButton.test.ts
  frontend/src/components/movies/WatchlistSaveButton.svelte
Due: frontend-checks

chore: mark issue #805 as completed
  .work-queue.json
Due: none

chore: agent agent-1770633872-26600 claims issue #808
  .work-queue.json
Due: none

chore: mark issue #803 as completed
  .work-queue.json
Due: none

chore: mark issue #802 as completed
  .work-queue.json
Due: none

chore: agent agent-1770634189-29441 claims issue #804
  .work-queue.json
Due: none

feat(issue-808): add watchlist route and navigation
  frontend/src/App.svelte
  frontend/src/__tests__/App.watchlist.test.ts
  frontend/src/components/Nav.svelte
  frontend/src/components/__tests__/Nav.test.ts
  frontend/src/services/__tests__/routeNavigation.test.ts
  frontend/src/services/routeNavigation.ts
  frontend/src/stores/uiStore.ts
Due: frontend-checks

feat(issue-804): add movie stats bar component
  frontend/src/components/__tests__/MovieStatsBar.test.ts
  frontend/src/components/__tests__/WatchButtonPropsStub.svelte
  frontend/src/components/__tests__/WatchlistSaveButtonPropsStub.svelte
  frontend/src/components/movies/MovieStatsBar.svelte
Due: frontend-checks

chore: mark issue #804 as completed
  .work-queue.json
Due: none

chore: agent agent-1770634710-36795 claims issue #807
  .work-queue.json
Due: none

chore: agent agent-1770634719-37939 claims issue #809
  .work-queue.json
Due: none

feat(issue-809): create movies component index
  frontend/src/components/movies/index.ts
Due: frontend-checks

chore: mark issue #809 as completed
  .work-queue.json
Due: none

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
