Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: backend-lint
        name: backend-lint
        entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
        language: system
        pass_filenames: false
        files: ^backend/
      - id: backend-test
        name: backend-test
        entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
        language: system
        pass_filenames: false
        files: ^backend/
      - id: frontend-checks
        name: frontend-checks
        entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
        language: system
        pass_filenames: false
        files: ^frontend/

fix(issue-513): align comment edit buttons
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/comments/__tests__/CommentThread.test.ts
Due: frontend-checks

fix(issue-512): keep content until search executes
  frontend/src/App.svelte
  frontend/src/components/search/SearchResults.svelte
  frontend/src/components/search/__tests__/SearchResults.test.ts
Due: frontend-checks

chore: mark issue #530 as completed
  .work-queue.json
Due: none

chore: mark issue #513 as completed
  .work-queue.json
Due: none

chore: mark issue #512 as completed
  .work-queue.json
Due: none

fix(issue-509): count comment deletions with replies
  frontend/src/stores/__tests__/commentStore.test.ts
  frontend/src/stores/commentStore.ts
Due: frontend-checks

feat(issue-509): add delete actions for posts and comments
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/comments/__tests__/CommentThread.test.ts
  frontend/src/services/api.ts
  frontend/src/stores/commentStore.ts
Due: frontend-checks

fix(issue-509): align comment delete UI and tests
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/comments/__tests__/CommentThread.test.ts
Due: frontend-checks

chore: mark issue #509 as completed
  .work-queue.json
Due: none

chore: agent agent-1769814927-8375 claims issue #526
  .work-queue.json
Due: none

chore: agent agent-1769814929-8445 claims issue #527
  .work-queue.json
Due: none

chore: agent agent-1769814931-8643 claims issue #510
  .work-queue.json
Due: none

chore: agent agent-1769814933-8603 claims issue #511
  .work-queue.json
Due: none

fix(issue-527): ensure Grafana bundled plugins dir
  docs/production-deployment.md
  grafana/entrypoint.sh
Due: none

chore: mark issue #527 as completed
  .work-queue.json
Due: none

fix(issue-526): clean up legacy xychart plugin
  docs/production-deployment.md
  grafana/entrypoint.sh
Due: none

chore: add issue #537 to work queue (notification window in navbar)
  .work-queue.json
Due: none

feat(issue-510): enrich mention notifications
  backend/internal/handlers/comment.go
  backend/internal/handlers/notification_test.go
  backend/internal/handlers/post.go
  backend/internal/handlers/pubsub.go
  backend/internal/models/notification.go
  backend/internal/services/notification.go
Due: backend-lint, backend-test

chore: mark issue #526 as completed
  .work-queue.json
Due: none

feat(issue-511): add escaped mentions and validation
  backend/internal/handlers/pubsub.go
  backend/internal/handlers/pubsub_test.go
  frontend/src/components/LinkifiedText.svelte
  frontend/src/components/__tests__/LinkifiedText.test.ts
  frontend/src/components/comments/CommentForm.svelte
  frontend/src/components/comments/ReplyForm.svelte
  frontend/src/components/mentions/MentionTextarea.svelte
  frontend/src/components/posts/PostForm.svelte
Due: backend-lint, backend-test, frontend-checks

chore: mark issue #510 as completed
  .work-queue.json
Due: none

chore: mark issue #511 as completed
  .work-queue.json
Due: none

chore: agent agent-1769815947-38679 claims issue #514
  .work-queue.json
Due: none

chore: agent agent-1769815948-38748 claims issue #537
  .work-queue.json
Due: none

chore: agent agent-1769815951-38835 claims issue #515
  .work-queue.json
Due: none

chore: agent agent-1769815953-39030 claims issue #520
  .work-queue.json
Due: none

feat(issue-520): improve moderation console layout
  frontend/src/routes/AdminPanel.svelte
Due: frontend-checks

feat(issue-514): align header search with content
  frontend/src/components/Header.svelte
Due: frontend-checks

chore: mark issue #514 as completed
  .work-queue.json
Due: none

fix(issue-520): add admin tab semantics
  frontend/src/routes/AdminPanel.svelte
Due: frontend-checks

feat(issue-515): support multiple images per post
  backend/internal/handlers/post.go
  backend/internal/handlers/post_test.go
  backend/internal/handlers/search_test.go
  backend/internal/models/post.go
  backend/internal/services/post.go
  backend/internal/services/post_test.go
  backend/internal/services/search_test.go
  backend/internal/testutil/testutil.go
  backend/migrations/026_create_post_images_table.down.sql
  backend/migrations/026_create_post_images_table.up.sql
Due: backend-lint, backend-test

fix(ci): guard git usage in buildkite scripts
  .buildkite/scripts/backend-lint.sh
  .buildkite/scripts/frontend-checks.sh
Due: none

chore: agent agent-1769817470-76582 claims issue #521
  .work-queue.json
Due: none

Fix admin toolkit tab semantics
  frontend/src/routes/AdminPanel.svelte
Due: frontend-checks

feat(issue-537): add navbar notifications
  frontend/src/App.svelte
  frontend/src/components/Header.svelte
  frontend/src/components/notifications/NotificationMenu.svelte
  frontend/src/stores/index.ts
  frontend/src/stores/notificationMapper.ts
  frontend/src/stores/notificationStore.ts
  frontend/src/stores/websocketStore.ts
Due: frontend-checks

feat(issue-521): standardize back to feed navigation
  frontend/src/components/ThreadView.svelte
  frontend/src/components/UserProfile.svelte
  frontend/src/components/__tests__/ThreadView.test.ts
Due: frontend-checks

fix(issue-515): include images in more post responses
  backend/internal/handlers/post_test.go
  backend/internal/handlers/user_test.go
  backend/internal/services/post.go
Due: backend-lint, backend-test

chore: mark issue #520 as completed
  .work-queue.json
Due: none

fix(issue-537): reconcile notification reads
  frontend/src/components/notifications/__tests__/NotificationMenu.test.ts
  frontend/src/stores/__tests__/notificationStore.test.ts
  frontend/src/stores/notificationStore.ts
Due: frontend-checks

chore: agent agent-1769817839-91002 claims issue #522
  .work-queue.json
Due: none
