Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

chore: mark issue #1007 as completed
  .work-queue.json
Due: none

chore: agent agent-1770740338-5551 claims issue #1001
  .work-queue.json
Due: none

chore: agent agent-1770740340-5688 claims issue #1003
  .work-queue.json
Due: none

chore: agent agent-1770740342-5697 claims issue #1006
  .work-queue.json
Due: none

fix(issue-1003): verify imdb ids for rotten tomatoes links
  backend/internal/services/links/movie_parser.go
  backend/internal/services/links/movie_parser_test.go
Due: backend-lint, backend-test

fix(issue-1006): remove deleted podcast posts from saved tab
  frontend/src/components/__tests__/PodcastsTopContainer.test.ts
  frontend/src/stores/__tests__/podcastStore.test.ts
  frontend/src/stores/__tests__/postStore.test.ts
  frontend/src/stores/__tests__/websocketStore.test.ts
  frontend/src/stores/podcastStore.ts
  frontend/src/stores/postStore.ts
  frontend/src/stores/websocketStore.ts
Due: frontend-checks

fix(issue-1001): restore book card rendering and fallback links
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/stores/__tests__/postMapper.test.ts
  frontend/src/stores/postMapper.ts
  frontend/src/stores/postStore.ts
Due: frontend-checks

chore: mark issue #1003 as completed
  .work-queue.json
Due: none

chore: mark issue #1006 as completed
  .work-queue.json
Due: none

chore: mark issue #1001 as completed
  .work-queue.json
Due: none

chore: agent agent-1770741186-18230 claims issue #1004
  .work-queue.json
Due: none

fix(issue-1004): keep book stats visible during navigation
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
Due: frontend-checks

chore: mark issue #1004 as completed
  .work-queue.json
Due: none

config: add AuthFailureTracker to service type_names (FOW-3yc.2)
  .fow.yml
Due: none

config: add exclude_unexported+exclusions to state-change-metric (FOW-10k.2)
  .fow.yml
Due: none

chore: add `fow` config and plan for improving o11y
  .fow.yml
  plans/OBSERVABILITY_IMPROVEMENTS_PLAN.md
Due: none

fix: satisfy panic recovery middleware coverage
  FOW_NOTES.md
  backend/cmd/server/main.go
Due: backend-lint, backend-test

fix: pass request context into pubsub publish helper
  backend/internal/handlers/comment.go
  backend/internal/handlers/cook_log.go
  backend/internal/handlers/highlight_reaction.go
  backend/internal/handlers/post.go
  backend/internal/handlers/pubsub.go
  backend/internal/handlers/reaction.go
  backend/internal/handlers/saved_recipe.go
  backend/internal/handlers/watch_log.go
  backend/internal/handlers/watchlist.go
Due: backend-lint, backend-test

fix: require caller context in config updates
  backend/internal/services/config.go
Due: backend-lint, backend-test

fix: require caller context when loading config
  backend/internal/services/config.go
Due: backend-lint, backend-test

fix: avoid root context in metadata section helper
  backend/internal/services/links/metadata.go
Due: backend-lint, backend-test

fix: propagate request context to metadata enqueue
  backend/internal/services/post.go
Due: backend-lint, backend-test

fix: thread request context into push public key span
  backend/internal/handlers/push.go
  backend/internal/services/push.go
Due: backend-lint, backend-test

fix: complete websocket flow trace continuity
  backend/internal/handlers/websocket.go
Due: backend-lint, backend-test

fix: remove unstructured logging from genhash cli
  backend/cmd/genhash/main.go
Due: backend-lint, backend-test

fix: add redis pool saturation metrics instrumentation
  backend/internal/cache/redis.go
  backend/internal/observability/metrics.go
Due: backend-lint, backend-test

fix: add structured logging to login failure registration
  backend/internal/handlers/auth.go
Due: backend-lint, backend-test

fix: add structured logging to login failure reset
  backend/internal/handlers/auth.go
Due: backend-lint, backend-test

fix: add logging for recipe category lookup failures
  backend/internal/handlers/saved_recipe.go
Due: backend-lint, backend-test

fix: add error logging guard for upload dir config
  backend/internal/handlers/uploads.go
Due: backend-lint, backend-test

fix: log watchlist category lookup failures
  backend/internal/handlers/watchlist.go
Due: backend-lint, backend-test

fix: add guard logging for nil websocket registration
  backend/internal/handlers/websocket.go
Due: backend-lint, backend-test

fix: add guard logging for nil websocket unregister
  backend/internal/handlers/websocket.go
Due: backend-lint, backend-test

fix: log nil websocket close attempts
  backend/internal/handlers/websocket.go
Due: backend-lint, backend-test

fix: log websocket message decode failures
  backend/internal/handlers/websocket.go
Due: backend-lint, backend-test

fix: log websocket payload wrapping failures
  backend/internal/handlers/websocket.go
Due: backend-lint, backend-test

fix: add error logging for websocket message writes
  backend/internal/handlers/websocket.go
Due: backend-lint, backend-test

fix: add error logging for websocket ping writes
  backend/internal/handlers/websocket.go
Due: backend-lint, backend-test

fix: add logging for websocket channel subscription errors
  backend/internal/handlers/websocket.go
Due: backend-lint, backend-test

fix: log websocket subscription add failures
  backend/internal/handlers/websocket.go
Due: backend-lint, backend-test

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
