Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: backend-lint
        name: backend-lint
        entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
        language: system
        pass_filenames: false
        files: ^backend/
      - id: backend-test
        name: backend-test
        entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
        language: system
        pass_filenames: false
        files: ^backend/
      - id: frontend-checks
        name: frontend-checks
        entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
        language: system
        pass_filenames: false
        files: ^frontend/

chore: agent agent-1769773845-10473 claims issue #399
  .work-queue.json
Due: none

feat(issue-394): remove old search location and polish navbar search
  frontend/src/App.svelte
  frontend/src/components/search/NavbarSearch.svelte
Due: frontend-checks

fix(issue-394): improve search panel accessibility
  frontend/src/components/search/NavbarSearch.svelte
Due: frontend-checks

chore: mark issue #394 as completed
  .work-queue.json
Due: none

feat(issue-399): apply configured timezone
  frontend/src/App.svelte
  frontend/src/components/EditedBadge.svelte
  frontend/src/components/RelativeTime.svelte
  frontend/src/components/UserProfile.svelte
  frontend/src/components/__tests__/RelativeTime.test.ts
  frontend/src/components/admin/AdminTimezoneSetting.svelte
  frontend/src/components/admin/AuditLogs.svelte
  frontend/src/components/admin/PendingUsers.svelte
  frontend/src/components/admin/UserResetLinks.svelte
  frontend/src/components/admin/__tests__/AdminTimezoneSetting.test.ts
  frontend/src/components/search/__tests__/SearchResults.test.ts
  frontend/src/lib/time.ts
  frontend/src/routes/AdminPanel.svelte
  frontend/src/stores/configStore.ts
  frontend/src/stores/index.ts
Due: frontend-checks

chore: manually block tracing issue
  .work-queue.json
Due: none

chore: agent agent-1769775783-43678 claims issue #395
  .work-queue.json
Due: none

fix(issue-399): refresh edited tooltip timezone
  frontend/src/components/EditedBadge.svelte
Due: frontend-checks

Frontend: Apply configured timezone to all timestamp displays (#484)
  frontend/src/App.svelte
  frontend/src/components/EditedBadge.svelte
  frontend/src/components/RelativeTime.svelte
  frontend/src/components/UserProfile.svelte
  frontend/src/components/__tests__/RelativeTime.test.ts
  frontend/src/components/admin/AdminTimezoneSetting.svelte
  frontend/src/components/admin/AuditLogs.svelte
  frontend/src/components/admin/PendingUsers.svelte
  frontend/src/components/admin/UserResetLinks.svelte
  frontend/src/components/admin/__tests__/AdminTimezoneSetting.test.ts
  frontend/src/components/search/__tests__/SearchResults.test.ts
  frontend/src/lib/time.ts
  frontend/src/routes/AdminPanel.svelte
  frontend/src/stores/configStore.ts
  frontend/src/stores/index.ts
Due: frontend-checks

WIP: partial implementation of issue #395
  frontend/src/components/PostCard.svelte
  frontend/src/components/ThreadView.svelte
  frontend/src/services/__tests__/routeNavigation.test.ts
  frontend/src/services/routeNavigation.ts
  frontend/src/stores/uiStore.ts
Due: frontend-checks

chore: mark issue #399 as completed
  .work-queue.json
Due: none

feat(issue-395): complete standalone thread view
  frontend/src/App.svelte
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/search/SearchResults.svelte
  frontend/src/stores/threadRouteStore.ts
Due: frontend-checks

chore: mark issue #395 as completed
  .work-queue.json
Due: none

chore: agent agent-1769792806-78886 claims issue #396
  .work-queue.json
Due: none

feat(issue-396): add thread back navigation
  frontend/src/App.svelte
  frontend/src/components/ThreadView.svelte
  frontend/src/components/search/SearchResults.svelte
  frontend/src/services/routeNavigation.ts
  frontend/src/stores/searchStore.ts
Due: frontend-checks

chore: mark issue #396 as completed
  .work-queue.json
Due: none

chore: prune work queue
  .completed-work-items.json
  .work-queue.json
Due: none

chore: make issue available
  .work-queue.json
Due: none

chore: fix work queue
  .completed-work-items.json
  .work-queue.json
Due: none

chore: agent agent-1769794114-89743 claims issue #418
  .work-queue.json
Due: none

feat(issue-418): add service layer tracing spans
  backend/internal/services/audit.go
  backend/internal/services/auth_event.go
  backend/internal/services/comment.go
  backend/internal/services/csrf.go
  backend/internal/services/notification.go
  backend/internal/services/password_reset.go
  backend/internal/services/post.go
  backend/internal/services/push.go
  backend/internal/services/reaction.go
  backend/internal/services/search.go
  backend/internal/services/section.go
  backend/internal/services/session.go
  backend/internal/services/totp.go
  backend/internal/services/tracing.go
  backend/internal/services/user.go
Due: backend-lint, backend-test

fix(issue-418): add spans to remaining post/comment services
  backend/internal/services/comment.go
  backend/internal/services/post.go
Due: backend-lint, backend-test

fix(issue-418): guard auth event spans for nil user
  backend/internal/services/auth_event.go
Due: backend-lint, backend-test

fix(issue-418): guard update spans after validation
  backend/internal/services/comment.go
  backend/internal/services/post.go
Due: backend-lint, backend-test

chore: mark issue #418 as completed
  .work-queue.json
Due: none

chore: agent agent-1769797253-22758 claims issue #439
  .work-queue.json
Due: none

feat(issue-439): configure tempo trace exploration
  grafana/dashboards/traces.json
  grafana/datasources/datasources.yml
  prometheus.yml
  tempo.yml
Due: none

fix(issue-439): add trace tag search filters
  grafana/dashboards/traces.json
Due: none

fix(issue-439): handle traceql all selections
  grafana/dashboards/traces.json
Due: none

chore: mark issue #439 as completed
  .work-queue.json
Due: none

fix: correct migration increment
  backend/migrations/021_make_audit_admin_user_nullable.down.sql
  backend/migrations/021_make_audit_admin_user_nullable.up.sql
  backend/migrations/022_add_mfa_backup_codes_table.down.sql
  backend/migrations/022_add_mfa_backup_codes_table.up.sql
  backend/migrations/023_create_admin_config_table.down.sql
  backend/migrations/023_create_admin_config_table.up.sql
  backend/migrations/024_add_suspended_at_to_users_table.down.sql
  backend/migrations/024_add_suspended_at_to_users_table.up.sql
  backend/migrations/025_add_display_timezone_to_admin_config.down.sql
  backend/migrations/025_add_display_timezone_to_admin_config.up.sql
Due: backend-lint, backend-test

chore: add issues #489, #490, #491 to work queue
  .work-queue.json
Due: none

chore: add frontend/UX issues #492-#498 to work queue
  .work-queue.json
Due: none

chore: fix work queue
  .work-queue.json
Due: none

chore: agent agent-1769800590-47642 claims issue #489
  .work-queue.json
Due: none

chore: agent agent-1769800592-47747 claims issue #490
  .work-queue.json
Due: none

fix(issue-489): configure loki delete request store
  loki.yml
Due: none

fix(issue-490): remove deprecated tempo config flags
  tempo.yml
Due: none

chore: mark issue #489 as completed
  .work-queue.json
Due: none
