Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

chore: agent agent-1769769503-27836 claims issue #375
  .work-queue.json
Due: none

feat(issue-392): add admin MFA requirement UI
  frontend/src/components/admin/AdminMfaRequirement.svelte
  frontend/src/components/admin/UserResetLinks.svelte
  frontend/src/components/admin/__tests__/AdminMfaRequirement.test.ts
  frontend/src/components/admin/__tests__/UserResetLinks.test.ts
  frontend/src/routes/AdminPanel.svelte
  frontend/src/routes/Login.svelte
  frontend/src/routes/__tests__/Login.test.ts
  frontend/src/services/api.ts
Due: frontend-checks

feat(issue-442): add admin operations dashboard
  grafana/dashboards/admin-operations.json
Due: none

feat(issue-440): add frontend errors Grafana dashboard
  grafana/dashboards/frontend-errors.json
Due: none

fix(issue-442): restrict admin dashboard to admins
  grafana/dashboards/admin-operations.json
Due: none

chore: mark issue #392 as completed
  .work-queue.json
Due: none

feat(issue-375): add profile comment thread context
  frontend/src/components/UserProfile.svelte
  frontend/src/components/__tests__/UserProfile.test.ts
Due: frontend-checks

chore: agent agent-1769770081-41166 claims issue #393
  .work-queue.json
Due: none

fix(issue-440): clarify session error panel
  grafana/dashboards/frontend-errors.json
Due: none

chore: mark issue #442 as completed
  .work-queue.json
Due: none

chore: agent agent-1769770231-43781 claims issue #395
  .work-queue.json
Due: none

feat(issue-393): add navbar search component
  frontend/src/components/Header.svelte
  frontend/src/components/search/NavbarSearch.svelte
  frontend/src/components/search/index.ts
Due: frontend-checks

fix(issue-440): use session crash rate metric
  grafana/dashboards/frontend-errors.json
Due: none

fix(issue-375): guard profile context fetches
  frontend/src/components/UserProfile.svelte
Due: frontend-checks

fix(issue-440): correct error count unit
  grafana/dashboards/frontend-errors.json
Due: none

chore: mark issue #393 as completed
  .work-queue.json
Due: none

chore: agent agent-1769770735-57952 claims issue #394
  .work-queue.json
Due: none

chore: mark issue #440 as completed
  .work-queue.json
Due: none

chore: mark issue #375 as completed
  .work-queue.json
Due: none

chore: refine merge strategy
  .codex/skills/orchestrator/SKILL.md
Due: none

chore: reset orphaned issues to available
  .work-queue.json
Due: none

chore: agent agent-1769771542-71535 claims issue #418
  .work-queue.json
Due: none

chore: agent agent-1769771546-71703 claims issue #421
  .work-queue.json
Due: none

chore: agent agent-1769771548-71852 claims issue #394
  .work-queue.json
Due: none

chore: agent agent-1769771551-71995 claims issue #395
  .work-queue.json
Due: none

chore: agent agent-1769771555-72182 claims issue #397
  .work-queue.json
Due: none

chore: agent agent-1769771559-72362 claims issue #398
  .work-queue.json
Due: none

feat(issue-421): add reaction audit logging
  backend/internal/services/reaction.go
  backend/internal/services/reaction_test.go
Due: backend-lint, backend-test

feat(issue-398): add display timezone config
  backend/cmd/server/main.go
  backend/internal/handlers/admin.go
  backend/internal/handlers/admin_test.go
  backend/internal/handlers/auth_test.go
  backend/internal/handlers/config.go
  backend/internal/handlers/config_test.go
  backend/internal/handlers/links_test.go
  backend/internal/services/config.go
  backend/internal/services/post_test.go
  backend/migrations/024_add_display_timezone_to_admin_config.down.sql
  backend/migrations/024_add_display_timezone_to_admin_config.up.sql
Due: backend-lint, backend-test

feat(issue-397): add timestamp tooltips
  frontend/src/components/PostCard.svelte
  frontend/src/components/RelativeTime.svelte
  frontend/src/components/UserProfile.svelte
  frontend/src/components/__tests__/RelativeTime.test.ts
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/search/SearchResults.svelte
Due: frontend-checks

chore: mark issue #421 as completed
  .work-queue.json
Due: none

fix(issue-398): embed tzdata for timezone validation
  backend/cmd/server/main.go
Due: backend-lint, backend-test

fix(issue-397): refine tooltip accessibility
  frontend/src/components/RelativeTime.svelte
Due: frontend-checks

chore: mark issue #397 as completed
  .work-queue.json
Due: none

chore: mark issue #398 as completed
  .work-queue.json
Due: none

chore: agent agent-1769773222-2861 claims issue #399
  .work-queue.json
Due: none

chore: reset stale in-progress issues
  .work-queue.json
Due: none

chore: agent agent-1769773840-10374 claims issue #418
  .work-queue.json
Due: none

chore: agent agent-1769773841-10492 claims issue #394
  .work-queue.json
Due: none

chore: agent agent-1769773843-10431 claims issue #395
  .work-queue.json
Due: none

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
