Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

chore: agent agent-1769583436-75959 claims issue #304
  .work-queue.json
Due: none

chore: agent agent-1769583442-76905 claims issue #305
  .work-queue.json
Due: none

chore: agent agent-1769583446-77055 claims issue #306
  .work-queue.json
Due: none

chore: agent agent-1769583456-78144 claims issue #307
  .work-queue.json
Due: none

chore: agent agent-1769583465-79221 claims issue #308
  .work-queue.json
Due: none

chore: agent agent-1769583546-80625 claims issue #312
  .work-queue.json
Due: none

chore: agent agent-1769583552-80896 claims issue #313
  .work-queue.json
Due: none

feat(issue-307): handle nested comment replies
  frontend/src/stores/__tests__/commentStore.test.ts
  frontend/src/stores/commentStore.ts
Due: frontend-checks

chore: agent agent-1769583690-85946 claims issue #317
  .work-queue.json
Due: none

chore: mark issue #307 as completed
  .work-queue.json
Due: none

fix(issue-308): surface pagination errors
  frontend/src/components/SectionFeed.svelte
  frontend/src/components/__tests__/SectionFeed.test.ts
  frontend/src/stores/__tests__/postStore.test.ts
  frontend/src/stores/postStore.ts
Due: frontend-checks

chore: agent agent-1769583769-89268 claims issue #309
  .work-queue.json
Due: none

chore: agent agent-1769583780-90512 claims issue #310
  .work-queue.json
Due: none

feat(issue-306): add image metadata for image links
  backend/internal/services/links/metadata.go
  backend/internal/services/links/metadata_test.go
Due: backend-lint, backend-test

fix(issue-308): stabilize feed pagination
  frontend/src/components/SectionFeed.svelte
  frontend/src/components/__tests__/SectionFeed.test.ts
  frontend/src/stores/__tests__/feedStore.test.ts
  frontend/src/stores/__tests__/postStore.test.ts
  frontend/src/stores/feedStore.ts
  frontend/src/stores/postStore.ts
Due: frontend-checks

chore: mark issue #308 as completed
  .work-queue.json
Due: none

chore: agent agent-1769584130-3291 claims issue #311
  .work-queue.json
Due: none

chore: agent agent-1769584139-4338 claims issue #314
  .work-queue.json
Due: none

chore: agent agent-1769584151-5728 claims issue #315
  .work-queue.json
Due: none

chore: agent agent-1769584166-7281 claims issue #316
  .work-queue.json
Due: none

fix(issue-306): refine image fallback detection
  backend/internal/services/links/metadata.go
  backend/internal/services/links/metadata_test.go
Due: backend-lint, backend-test

chore: mark issue #303 as completed
  .work-queue.json
Due: none

feat(issue-299): map link metadata when url missing
  frontend/src/stores/__tests__/postMapper.test.ts
  frontend/src/stores/postMapper.ts
Due: frontend-checks

chore: mark issue #299 as completed
  .work-queue.json
Due: none

Fix image fallback detection for query values
  backend/internal/services/links/metadata.go
  backend/internal/services/links/metadata_test.go
Due: backend-lint, backend-test

chore: mark issue #306 as completed
  .work-queue.json
Due: none

chore: reset work queue assignments
  .work-queue.json
Due: none

chore: agent agent-1769585859-32401 claims issue #301
  .work-queue.json
Due: none

chore: agent agent-1769585863-32489 claims issue #302
  .work-queue.json
Due: none

chore: agent agent-1769585867-32419 claims issue #304
  .work-queue.json
Due: none

chore: agent agent-1769585946-33599 claims issue #305
  .work-queue.json
Due: none

feat(issue-301): clarify approval pending login
  backend/internal/handlers/auth.go
  backend/internal/handlers/auth_test.go
  backend/internal/services/user.go
  frontend/src/routes/Login.svelte
Due: backend-lint, backend-test, frontend-checks

fix(issue-302): handle reset link routing
  frontend/src/App.svelte
  frontend/src/routes/PasswordReset.svelte
  frontend/src/services/__tests__/resetLink.test.ts
  frontend/src/services/resetLink.ts
Due: frontend-checks

chore: agent agent-1769586302-40500 claims issue #312
  .work-queue.json
Due: none

chore: agent agent-1769586330-41974 claims issue #313
  .work-queue.json
Due: none

chore: mark issue #301 as completed
  .work-queue.json
Due: none

chore: agent agent-1769586404-44971 claims issue #317
  .work-queue.json
Due: none

fix(issue-313): dedupe permission denied message
  frontend/src/components/NotificationSettings.svelte
  frontend/src/components/__tests__/NotificationSettings.test.ts
Due: frontend-checks

fix(issue-302): avoid reset token hijack
  frontend/src/services/__tests__/resetLink.test.ts
  frontend/src/services/resetLink.ts
Due: frontend-checks

chore: mark issue #313 as completed
  .work-queue.json
Due: none

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
