Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

fix(issue-670): remove invalid group by
  backend/internal/services/post.go
Due: backend-lint, backend-test

feat(issue-673): publish recipe websocket events
  backend/cmd/server/main.go
  backend/internal/handlers/cook_log.go
  backend/internal/handlers/cook_log_test.go
  backend/internal/handlers/pubsub.go
  backend/internal/handlers/saved_recipe.go
  backend/internal/handlers/saved_recipe_test.go
Due: backend-lint, backend-test

feat(issue-688): add recipe card component
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/components/__tests__/RecipeCard.test.ts
  frontend/src/components/recipes/RecipeCard.svelte
  frontend/src/components/recipes/index.ts
  frontend/src/stores/postStore.ts
Due: frontend-checks

fix(issue-670): group by section type
  backend/internal/services/post.go
Due: backend-lint, backend-test

chore: mark issue #675 as completed
  .work-queue.json
Due: none

chore: agent agent-1770106286-23254 claims issue #676
  .work-queue.json
Due: none

fix(issue-688): prevent recipe checkbox id collisions
  frontend/src/components/recipes/RecipeCard.svelte
Due: frontend-checks

fix(issue-670): align group by clauses
  backend/internal/services/post.go
Due: backend-lint, backend-test

chore: mark issue #673 as completed
  .work-queue.json
Due: none

chore: mark issue #688 as completed
  .work-queue.json
Due: none

feat(issue-676): add recipe store
  frontend/src/stores/__tests__/recipeStore.test.ts
  frontend/src/stores/__tests__/websocketStore.test.ts
  frontend/src/stores/recipeStore.ts
  frontend/src/stores/websocketStore.ts
Due: frontend-checks

chore: mark issue #670 as completed
  .work-queue.json
Due: none

fix(issue-676): handle recipe category updates
  frontend/src/stores/__tests__/recipeStore.test.ts
  frontend/src/stores/recipeStore.ts
Due: frontend-checks

chore: mark issue #676 as completed
  .work-queue.json
Due: none

chore: agent agent-1770107639-48166 claims issue #678
  .work-queue.json
Due: none

chore: agent agent-1770107642-48220 claims issue #679
  .work-queue.json
Due: none

chore: agent agent-1770107645-48409 claims issue #681
  .work-queue.json
Due: none

feat(issue-679): add recipe category manager
  frontend/src/components/__tests__/CategoryManager.test.ts
  frontend/src/components/recipes/CategoryManager.svelte
  frontend/src/components/recipes/index.ts
Due: frontend-checks

feat(issue-681): add cook button component
  frontend/src/components/__tests__/CookButton.test.ts
  frontend/src/components/recipes/CookButton.svelte
  frontend/src/components/recipes/index.ts
Due: frontend-checks

feat(issue-678): add recipe save button
  frontend/src/components/__tests__/RecipeSaveButton.test.ts
  frontend/src/components/recipes/RecipeSaveButton.svelte
Due: frontend-checks

chore: mark issue #681 as completed
  .work-queue.json
Due: none

fix(issue-679): add delete destination choice
  frontend/src/components/__tests__/CategoryManager.test.ts
  frontend/src/components/recipes/CategoryManager.svelte
Due: frontend-checks

chore: mark issue #678 as completed
  .work-queue.json
Due: none

chore: mark issue #679 as completed
  .work-queue.json
Due: none

chore: agent agent-1770108897-69497 claims issue #683
  .work-queue.json
Due: none

chore: agent agent-1770108902-69668 claims issue #685
  .work-queue.json
Due: none

feat(issue-685): add cookbook component
  frontend/src/components/__tests__/Cookbook.test.ts
  frontend/src/components/recipes/Cookbook.svelte
  frontend/src/components/recipes/index.ts
Due: frontend-checks

chore: mark issue #685 as completed
  .work-queue.json
Due: none

chore: agent agent-1770109919-82206 claims issue #686
  .work-queue.json
Due: none

feat(issue-686): integrate cookbook in recipe section
  frontend/src/App.svelte
Due: frontend-checks

feat(issue-683): add recipe stats tooltips
  frontend/src/components/__tests__/CookButtonStub.svelte
  frontend/src/components/__tests__/RecipeSaveButtonStub.svelte
  frontend/src/components/__tests__/RecipeStatsBar.test.ts
  frontend/src/components/recipes/RecipeStatsBar.svelte
Due: frontend-checks

feat(issue-683): add recipe stats bar component
  frontend/src/components/__tests__/RecipeStatsBar.test.ts
  frontend/src/components/recipes/RecipeStatsBar.svelte
  frontend/src/components/recipes/index.ts
Due: frontend-checks

chore: mark issue #686 as completed
  .work-queue.json
Due: none

fix(issue-683): scope recipe stats cache by post
  frontend/src/components/__tests__/CookButtonStub.svelte
  frontend/src/components/__tests__/RecipeSaveButtonStub.svelte
  frontend/src/components/recipes/RecipeStatsBar.svelte
Due: frontend-checks

chore: mark issue #683 as completed
  .work-queue.json
Due: none

chore: agent agent-1770111026-96759 claims issue #684
  .work-queue.json
Due: none

feat(issue-684): show recipe stats in posts
  frontend/src/components/PostCard.svelte
  frontend/src/stores/postMapper.ts
  frontend/src/stores/postStore.ts
Due: frontend-checks

chore: mark issue #684 as completed
  .work-queue.json
Due: none

chore: fix migrations
  backend/migrations/029_create_recipe_categories_table.down.sql
  backend/migrations/029_create_recipe_categories_table.up.sql
  backend/migrations/030_create_saved_recipes_table.down.sql
  backend/migrations/030_create_saved_recipes_table.up.sql
Due: backend-lint, backend-test

feat: add Taskfile for unified development workflow
  .codex/skills/subagent/SKILL.md
  AGENTS.md
  Taskfile.yml
  scripts/agent-setup.sh
  scripts/backup-postgres.sh
  scripts/restore-postgres.sh
Due: none

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
