Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

fix(issue-982): sync saved podcast list optimistically
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PodcastSaveButton.test.ts
  frontend/src/components/podcasts/PodcastSaveButton.svelte
  frontend/src/stores/podcastStore.ts
Due: frontend-checks

chore: mark issue #979 as completed
  .work-queue.json
Due: none

fix(issue-984): show podcast episode entries in top container
  backend/internal/handlers/section_test.go
  backend/internal/models/link.go
  backend/internal/services/section.go
  backend/internal/services/section_test.go
  frontend/src/components/__tests__/PodcastsTopContainer.test.ts
  frontend/src/components/podcasts/PodcastsTopContainer.svelte
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
Due: backend-lint, backend-test, frontend-checks

fix(issue-974): make book stats update optimistically
  frontend/src/stores/__tests__/postStore.test.ts
  frontend/src/stores/bookStore.test.ts
  frontend/src/stores/postStore.ts
Due: frontend-checks

chore: mark issue #982 as completed
  .work-queue.json
Due: none

fix(issue-983): persist podcast saved state across refresh
  frontend/src/components/__tests__/PodcastSaveButton.test.ts
  frontend/src/components/__tests__/PodcastsTopContainer.test.ts
  frontend/src/components/podcasts/PodcastSaveButton.svelte
Due: frontend-checks

chore: mark issue #984 as completed
  .work-queue.json
Due: none

chore: mark issue #983 as completed
  .work-queue.json
Due: none

chore: reset stale in-progress issue #972 to available
  .work-queue.json
Due: none

fix(issue-974): address review feedback on rating math
  frontend/src/stores/__tests__/postStore.test.ts
  frontend/src/stores/bookStore.test.ts
  frontend/src/stores/bookStore.ts
  frontend/src/stores/postStore.ts
Due: frontend-checks

chore: agent agent-1770729063-49570 claims issue #972
  .work-queue.json
Due: none

chore: agent agent-1770729070-49715 claims issue #978
  .work-queue.json
Due: none

chore: agent agent-1770729087-49885 claims issue #980
  .work-queue.json
Due: none

Add .fow.yml for full-stack analysis
  .fow.yml
Due: none

feat(issue-980): make bookshelf collapsible like cookbook
  frontend/src/components/books/Bookshelf.svelte
  frontend/src/components/books/Bookshelf.test.ts
Due: frontend-checks

feat(issue-978): add imdb and rotten tomatoes links to movie card
  backend/internal/models/movie.go
  backend/internal/services/links/movie_parser.go
  backend/internal/services/links/movie_parser_test.go
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/MovieCard.test.ts
  frontend/src/components/movies/MovieCard.svelte
  frontend/src/stores/__tests__/postMapper.test.ts
  frontend/src/stores/postMapper.ts
  frontend/src/stores/postStore.ts
Due: backend-lint, backend-test, frontend-checks

fix(issue-974): handle optimistic ratings without ratedCount
  frontend/src/stores/__tests__/postStore.test.ts
  frontend/src/stores/postStore.ts
Due: frontend-checks

chore: mark issue #980 as completed
  .work-queue.json
Due: none

chore: mark issue #978 as completed
  .work-queue.json
Due: none

fix(issue-972): restore book metadata extraction for book links
  backend/internal/services/links/book_parser.go
  backend/internal/services/links/book_parser_test.go
  backend/internal/services/links/metadata.go
  backend/internal/services/links/metadata_test.go
Due: backend-lint, backend-test

Fix Amazon ISBN-13 book metadata extraction
  backend/internal/services/links/book_parser.go
  backend/internal/services/links/book_parser_test.go
  backend/internal/services/links/metadata_test.go
Due: backend-lint, backend-test

chore: mark issue #972 as completed
  .work-queue.json
Due: none

chore: agent agent-1770731660-92922 claims issue #973
  .work-queue.json
Due: none

fix(issue-973): fallback to plain URL for books without metadata
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
Due: frontend-checks

fix(issue-974): wire rated_count through book stats
  backend/internal/models/book.go
  backend/internal/services/post.go
  backend/internal/services/post_test.go
  backend/internal/services/read_log.go
  backend/internal/services/read_log_test.go
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
  frontend/src/stores/__tests__/postMapper.test.ts
  frontend/src/stores/__tests__/postStore.test.ts
  frontend/src/stores/bookStore.test.ts
  frontend/src/stores/bookStore.ts
  frontend/src/stores/postMapper.ts
  frontend/src/stores/postStore.ts
Due: backend-lint, backend-test, frontend-checks

chore: mark issue #973 as completed
  .work-queue.json
Due: none

chore: mark issue #974 as completed
  .work-queue.json
Due: none

chore: add o11y eng skill
  .codex/skills/observability-engineer/SKILL.md
Due: none

chore: add 8 bug fix issues to work queue (#1000-#1007)
  .work-queue.json
Due: none

chore: agent agent-1770739032-77970 claims issue #1000
  .work-queue.json
Due: none

chore: agent agent-1770739037-78179 claims issue #1002
  .work-queue.json
Due: none

chore: agent agent-1770739041-78355 claims issue #1005
  .work-queue.json
Due: none

chore: agent agent-1770739046-78547 claims issue #1007
  .work-queue.json
Due: none

fix(issue-1005): prevent stale podcast recent responses on navigation
  frontend/src/components/__tests__/PodcastsTopContainer.test.ts
  frontend/src/stores/__tests__/podcastStore.test.ts
  frontend/src/stores/podcastStore.ts
Due: frontend-checks

fix(issue-1002): backfill rt score from html and persist tests
  backend/internal/services/links/metadata.go
  backend/internal/services/links/metadata_test.go
  backend/internal/services/metadata_worker_test.go
Due: backend-lint, backend-test

fix(issue-1000): broaden book URL parsing and ISBN extraction
  backend/internal/services/links/book_parser.go
  backend/internal/services/links/book_parser_test.go
  backend/internal/services/links/metadata.go
  backend/internal/services/links/metadata_test.go
Due: backend-lint, backend-test

chore: mark issue #1005 as completed
  .work-queue.json
Due: none

chore: mark issue #1000 as completed
  .work-queue.json
Due: none

chore: mark issue #1002 as completed
  .work-queue.json
Due: none

fix(issue-1007): scope music links filters to component
  frontend/src/components/MusicLinksContainer.svelte
  frontend/src/components/SectionFeed.svelte
  frontend/src/components/__tests__/MusicLinksContainer.test.ts
  frontend/src/components/__tests__/SectionFeed.test.ts
Due: frontend-checks

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
