Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

chore: agent agent-1770138016-6456 claims issue #751
  .work-queue.json
Due: none

chore: agent agent-1770138019-6604 claims issue #753
  .work-queue.json
Due: none

chore: agent agent-1770138025-6771 claims issue #755
  .work-queue.json
Due: none

chore: mark issue #751 as completed
  .work-queue.json
Due: none

fix(issue-744): update recipe stats on save
  frontend/src/components/recipes/RecipeSaveButton.svelte
  frontend/src/stores/__tests__/recipeStore.test.ts
  frontend/src/stores/postStore.ts
  frontend/src/stores/recipeStore.ts
Due: frontend-checks

feat(issue-755): add timestamped music comments
  backend/internal/handlers/comment.go
  backend/internal/models/comment.go
  backend/internal/services/comment.go
  backend/internal/services/comment_test.go
  backend/migrations/028_add_timestamp_seconds_to_comments.down.sql
  backend/migrations/028_add_timestamp_seconds_to_comments.up.sql
  frontend/src/components/PostCard.svelte
  frontend/src/components/comments/CommentForm.svelte
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/comments/ReplyForm.svelte
  frontend/src/components/comments/__tests__/CommentForm.test.ts
  frontend/src/services/api.ts
  frontend/src/stores/commentMapper.ts
  frontend/src/stores/commentStore.ts
Due: backend-lint, backend-test, frontend-checks

fix(issue-744): align save count with saved state
  frontend/src/components/recipes/RecipeSaveButton.svelte
  frontend/src/stores/__tests__/recipeStore.test.ts
  frontend/src/stores/recipeStore.ts
Due: frontend-checks

chore: mark issue #744 as completed
  .work-queue.json
Due: none

chore: agent agent-1770139816-49681 claims issue #746
  .work-queue.json
Due: none

feat(issue-753): allow heart reactions on music timestamps
  backend/cmd/server/main.go
  backend/cmd/server/routes.go
  backend/internal/handlers/highlight_reaction.go
  backend/internal/handlers/pubsub.go
  backend/internal/models/highlight_id.go
  backend/internal/models/highlight_reaction.go
  backend/internal/models/post.go
  backend/internal/services/highlight_reaction.go
  backend/internal/services/highlight_reaction_test.go
  backend/internal/services/post.go
  backend/internal/testutil/testutil.go
  backend/migrations/031_create_highlight_reactions_table.down.sql
  backend/migrations/031_create_highlight_reactions_table.up.sql
  frontend/src/components/PostCard.svelte
  frontend/src/components/posts/HighlightDisplay.svelte
  frontend/src/components/posts/__tests__/HighlightDisplay.test.ts
  frontend/src/services/api.ts
  frontend/src/stores/__tests__/postStore.test.ts
  frontend/src/stores/__tests__/websocketStore.test.ts
  frontend/src/stores/postMapper.ts
  frontend/src/stores/postStore.ts
  frontend/src/stores/websocketStore.ts
Due: backend-lint, backend-test, frontend-checks

Fix comment search sqlmock columns
  backend/internal/handlers/comment_test.go
  backend/internal/handlers/search_test.go
  backend/internal/services/search_test.go
Due: backend-lint, backend-test

fix(issue-746): restore recipe metadata cards
  backend/internal/services/saved_recipe.go
  frontend/src/components/recipes/Cookbook.svelte
Due: backend-lint, backend-test, frontend-checks

fix(issue-753): avoid duplicate highlight reaction audits
  backend/internal/handlers/highlight_reaction.go
  backend/internal/services/highlight_reaction.go
  backend/internal/services/highlight_reaction_test.go
  backend/migrations/031_create_highlight_reactions_table.up.sql
Due: backend-lint, backend-test

chore: mark issue #746 as completed
  .work-queue.json
Due: none

chore: agent agent-1770140650-66900 claims issue #747
  .work-queue.json
Due: none

chore: mark issue #755 as completed
  .work-queue.json
Due: none

fix(issue-747): show cookbook ratings
  frontend/src/components/__tests__/Cookbook.test.ts
  frontend/src/components/recipes/Cookbook.svelte
Due: frontend-checks

chore: mark issue #753 as completed
  .work-queue.json
Due: none

chore: mark issue #747 as completed
  .work-queue.json
Due: none

chore: fix migration id
  backend/migrations/032_add_timestamp_seconds_to_comments.down.sql
  backend/migrations/032_add_timestamp_seconds_to_comments.up.sql
Due: backend-lint, backend-test

chore: add issues #772-#777 to work queue
  .work-queue.json
Due: none

chore: agent agent-1770188010-94736 claims issue #772
  .work-queue.json
Due: none

chore: agent agent-1770188014-94922 claims issue #773
  .work-queue.json
Due: none

chore: agent agent-1770188016-94913 claims issue #774
  .work-queue.json
Due: none

chore: agent agent-1770188019-95162 claims issue #775
  .work-queue.json
Due: none

fix(issue-772): handle soundcloud oembed dimensions
  backend/internal/services/links/soundcloud.go
  backend/internal/services/links/soundcloud_test.go
Due: backend-lint, backend-test

fix(issue-775): include basic recipe links
  frontend/src/components/__tests__/Cookbook.test.ts
  frontend/src/components/recipes/Cookbook.svelte
Due: frontend-checks

fix(issue-774): allow embed APIs in CSP
  backend/internal/middleware/csp.go
  backend/internal/middleware/csp_test.go
Due: backend-lint, backend-test

fix(issue-773): fallback to bandcamp oembed
  backend/internal/services/links/bandcamp.go
  backend/internal/services/links/metadata.go
  backend/internal/services/links/metadata_test.go
Due: backend-lint, backend-test

chore: mark issue #772 as completed
  .work-queue.json
Due: none

chore: mark issue #775 as completed
  .work-queue.json
Due: none

chore: mark issue #774 as completed
  .work-queue.json
Due: none

chore: mark issue #773 as completed
  .work-queue.json
Due: none

chore: agent agent-1770188613-11773 claims issue #776
  .work-queue.json
Due: none

feat(issue-776): preserve recipe metadata in posts
  frontend/src/stores/__tests__/postMapper.test.ts
  frontend/src/stores/postMapper.ts
Due: frontend-checks

chore: mark issue #776 as completed
  .work-queue.json
Due: none

chore: agent agent-1770189278-17658 claims issue #777
  .work-queue.json
Due: none

feat(issue-777): remove recipe print/source actions
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/RecipeCard.test.ts
  frontend/src/components/posts/PostForm.svelte
  frontend/src/components/recipes/RecipeCard.svelte
Due: frontend-checks

chore: mark issue #777 as completed
  .work-queue.json
Due: none

fix(links): use azuretls-client for Bandcamp metadata fetch
  backend/go.mod
  backend/go.sum
  backend/internal/services/links/bandcamp.go
  backend/internal/services/links/bandcamp_fetch.go
  backend/internal/services/links/bandcamp_integration_test.go
  backend/internal/services/links/metadata.go
  backend/internal/services/links/metadata_test.go
Due: backend-lint, backend-test

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
