Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

fix(issue-305): normalize link metadata
  frontend/src/stores/__tests__/postMapper.test.ts
  frontend/src/stores/commentMapper.ts
  frontend/src/stores/postMapper.ts
  frontend/src/stores/searchStore.ts
Due: frontend-checks

chore: mark issue #302 as completed
  .work-queue.json
Due: none

fix(issue-312): accept ws subscribe payload variants
  backend/internal/handlers/websocket.go
  backend/internal/handlers/websocket_test.go
Due: backend-lint, backend-test

chore: agent agent-1769586708-55716 claims issue #309
  .work-queue.json
Due: none

chore: mark issue #305 as completed
  .work-queue.json
Due: none

chore: agent agent-1769586839-61833 claims issue #310
  .work-queue.json
Due: none

fix(issue-312): merge top-level ws section ids
  backend/internal/handlers/websocket.go
  backend/internal/handlers/websocket_test.go
Due: backend-lint, backend-test

fix(issue-312): dedupe websocket section ids
  backend/internal/handlers/websocket.go
Due: backend-lint, backend-test

feat(issue-309): show section on search results
  backend/internal/handlers/search_test.go
  backend/internal/models/comment.go
  backend/internal/services/comment.go
  backend/internal/services/search_test.go
  frontend/src/components/search/SearchResults.svelte
  frontend/src/components/search/__tests__/PostCardMock.svelte
  frontend/src/components/search/__tests__/SearchResults.test.ts
  frontend/src/stores/searchStore.ts
Due: backend-lint, backend-test, frontend-checks

chore: mark issue #312 as completed
  .work-queue.json
Due: none

chore: mark issue #309 as completed
  .work-queue.json
Due: none

fix(issue-317): avoid section flicker on deep links
  frontend/src/stores/sectionStore.ts
Due: frontend-checks

fix(issue-317): sync navigation URL with view
  frontend/src/App.svelte
  frontend/src/components/Nav.svelte
  frontend/src/components/__tests__/Nav.test.ts
  frontend/src/services/__tests__/routeNavigation.test.ts
  frontend/src/services/profileNavigation.ts
  frontend/src/services/routeNavigation.ts
Due: frontend-checks

chore: agent agent-1769588202-90249 claims issue #311
  .work-queue.json
Due: none

fix(issue-317): correct URL for invalid routes
  frontend/src/App.svelte
Due: frontend-checks

chore: agent agent-1769588215-91435 claims issue #314
  .work-queue.json
Due: none

feat(issue-314): linkify URLs in posts and comments
  frontend/src/components/LinkifiedText.svelte
  frontend/src/components/PostCard.svelte
  frontend/src/components/UserProfile.svelte
  frontend/src/components/__tests__/LinkifiedText.test.ts
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/search/SearchResults.svelte
Due: frontend-checks

chore: mark issue #314 as completed
  .work-queue.json
Due: none

chore: agent agent-1769588512-99386 claims issue #315
  .work-queue.json
Due: none

fix(admin): defer admin redirect until session resolves
  frontend/src/App.svelte
Due: frontend-checks

chore: mark issue #317 as completed
  .work-queue.json
Due: none

feat(issue-310): include parent post in comment search
  backend/internal/handlers/search_test.go
  backend/internal/services/search.go
  frontend/src/components/search/SearchResults.svelte
  frontend/src/components/search/__tests__/SearchResults.test.ts
  frontend/src/stores/searchStore.test.ts
  frontend/src/stores/searchStore.ts
Due: backend-lint, backend-test, frontend-checks

fix(issue-310): keep thread view stable on section switch
  frontend/src/components/search/SearchResults.svelte
Due: frontend-checks

fix(issue-310): stabilize search result keys
  frontend/src/components/search/SearchResults.svelte
  frontend/src/components/search/__tests__/SearchResults.test.ts
Due: frontend-checks

fix(issue-310): avoid search result key collisions
  frontend/src/components/search/SearchResults.svelte
Due: frontend-checks

fix(issue-310): avoid dangling postStore subscriptions
  frontend/src/components/search/SearchResults.svelte
Due: frontend-checks

fix(issue-310): wait for feed reload before upsert
  frontend/src/components/search/SearchResults.svelte
Due: frontend-checks

fix(issue-310): sync section route on thread view
  frontend/src/components/search/SearchResults.svelte
  frontend/src/components/search/__tests__/SearchResults.test.ts
Due: frontend-checks

fix(issue-310): restore section labels in search results
  frontend/src/components/search/SearchResults.svelte
  frontend/src/components/search/__tests__/SearchResults.test.ts
Due: frontend-checks

chore: mark issue #310 as completed
  .work-queue.json
Due: none

feat(issue-311): highlight matched comment results
  frontend/src/components/LinkifiedText.svelte
  frontend/src/components/search/SearchResults.svelte
  frontend/src/components/search/__tests__/SearchResults.test.ts
Due: frontend-checks

test(frontend): relax section label assertion
  frontend/src/components/search/__tests__/SearchResults.test.ts
Due: frontend-checks

chore: mark issue #311 as completed
  .work-queue.json
Due: none

chore: agent agent-1769624545-23260 claims issue #316
  .work-queue.json
Due: none

feat(issue-316): align moderation panel transitions
  frontend/src/routes/AdminPanel.svelte
Due: frontend-checks

chore: mark issue #316 as completed
  .work-queue.json
Due: none

chore: agent agent-1769625512-38658 claims issue #304
  .work-queue.json
Due: none

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
