Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: backend-lint
        name: backend-lint
        entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
        language: system
        pass_filenames: false
        files: ^backend/
      - id: backend-test
        name: backend-test
        entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
        language: system
        pass_filenames: false
        files: ^backend/
      - id: frontend-checks
        name: frontend-checks
        entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
        language: system
        pass_filenames: false
        files: ^frontend/

chore: agent agent-1770073717-71866 claims issue #662
  .work-queue.json
Due: none

chore: agent agent-1770073719-71949 claims issue #663
  .work-queue.json
Due: none

chore: agent agent-1770073721-71958 claims issue #653
  .work-queue.json
Due: none

feat(issue-663): add recipe categories table migration
  backend/migrations/028_create_recipe_categories_table.down.sql
  backend/migrations/028_create_recipe_categories_table.up.sql
Due: backend-lint, backend-test

chore: mark issue #657 as completed
  .work-queue.json
Due: none

chore: agent agent-1770073864-75790 claims issue #664
  .work-queue.json
Due: none

feat(issue-662): add saved_recipes migration
  backend/migrations/028_create_saved_recipes_table.down.sql
  backend/migrations/028_create_saved_recipes_table.up.sql
Due: backend-lint, backend-test

feat(issue-664): add cook_logs migration
  backend/migrations/028_create_cook_logs_table.down.sql
  backend/migrations/028_create_cook_logs_table.up.sql
Due: backend-lint, backend-test

feat(issue-653): add highlight components
  frontend/src/components/posts/HighlightDisplay.svelte
  frontend/src/components/posts/HighlightEditor.svelte
  frontend/src/components/posts/__tests__/HighlightDisplay.test.ts
  frontend/src/components/posts/__tests__/HighlightEditor.test.ts
  frontend/src/components/posts/index.ts
  frontend/src/stores/postStore.ts
Due: frontend-checks

chore: mark issue #663 as completed
  .work-queue.json
Due: none

chore: mark issue #662 as completed
  .work-queue.json
Due: none

chore: mark issue #664 as completed
  .work-queue.json
Due: none

chore: mark issue #653 as completed
  .work-queue.json
Due: none

Add o11y gap issues to work queue
  .work-queue.json
Due: none

chore: agent agent-1770075721-3436 claims issue #698
  .work-queue.json
Due: none

chore: agent agent-1770075723-3541 claims issue #693
  .work-queue.json
Due: none

chore: agent agent-1770075725-3637 claims issue #694
  .work-queue.json
Due: none

chore: agent agent-1770075728-3781 claims issue #695
  .work-queue.json
Due: none

feat(issue-693): add suspend observability
  backend/internal/handlers/admin.go
Due: backend-lint, backend-test

feat(issue-694): add push subscription metrics
  backend/internal/handlers/push.go
  backend/internal/observability/metrics.go
  backend/internal/observability/metrics_test.go
Due: backend-lint, backend-test

chore: mark issue #693 as completed
  .work-queue.json
Due: none

chore: agent agent-1770076124-17315 claims issue #654
  .work-queue.json
Due: none

feat(issue-698): add query type to db error metrics
  backend/internal/db/metrics.go
  backend/internal/db/metrics_test.go
Due: backend-lint, backend-test

chore: mark issue #694 as completed
  .work-queue.json
Due: none

feat(issue-654): integrate highlights into posts
  frontend/e2e/app.spec.ts
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/components/posts/PostForm.svelte
  frontend/src/components/posts/__tests__/PostForm.test.ts
  frontend/src/services/api.ts
  frontend/src/stores/postMapper.ts
  frontend/src/stores/postStore.ts
Due: frontend-checks

feat(issue-695): track notification read metrics
  backend/internal/handlers/notification.go
  backend/internal/observability/metrics.go
  backend/internal/observability/metrics_test.go
  backend/internal/services/notification.go
Due: backend-lint, backend-test

chore: mark issue #695 as completed
  .work-queue.json
Due: none

chore: agent agent-1770077012-39469 claims issue #665
  .work-queue.json
Due: none

chore: agent agent-1770077014-39478 claims issue #696
  .work-queue.json
Due: none

feat(issue-665): add saved recipe models
  backend/internal/models/saved_recipe.go
Due: backend-lint, backend-test

feat(issue-696): add csrf validation failure metrics
  backend/internal/observability/metrics.go
  backend/internal/observability/metrics_test.go
  backend/internal/services/csrf.go
Due: backend-lint, backend-test

fix(issue-698): bound query type tracking
  backend/internal/db/metrics.go
Due: backend-lint, backend-test

fix(issue-654): preserve highlights when metadata normalizes url
  frontend/src/components/posts/PostForm.svelte
  frontend/src/components/posts/__tests__/PostForm.test.ts
Due: frontend-checks

chore: mark issue #665 as completed
  .work-queue.json
Due: none

chore: mark issue #696 as completed
  .work-queue.json
Due: none

chore: mark issue #698 as completed
  .work-queue.json
Due: none

chore: mark issue #654 as completed
  .work-queue.json
Due: none

chore: agent agent-1770078022-64978 claims issue #666
  .work-queue.json
Due: none

chore: agent agent-1770078028-65163 claims issue #697
  .work-queue.json
Due: none

chore: agent agent-1770078032-65302 claims issue #668
  .work-queue.json
Due: none
