Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: backend-lint
        name: backend-lint
        entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
        language: system
        pass_filenames: false
        files: ^backend/
      - id: backend-test
        name: backend-test
        entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
        language: system
        pass_filenames: false
        files: ^backend/
      - id: frontend-checks
        name: frontend-checks
        entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
        language: system
        pass_filenames: false
        files: ^frontend/

chore: mark issue #867 as completed
  .work-queue.json
Due: none

chore: agent agent-1770708511-18068 claims issue #869
  .work-queue.json
Due: none

chore: agent agent-1770708514-18235 claims issue #870
  .work-queue.json
Due: none

chore: agent agent-1770708516-18383 claims issue #872
  .work-queue.json
Due: none

feat(issue-889): auto-detect podcast kind for create and update
  backend/internal/handlers/highlights.go
  backend/internal/handlers/highlights_test.go
  backend/internal/services/podcast_kind_detection.go
  backend/internal/services/post.go
  backend/internal/services/post_test.go
Due: backend-lint, backend-test

chore: mark issue #880 as completed
  .work-queue.json
Due: none

feat(issue-870): create read button component
  frontend/src/components/books/ReadButton.svelte
  frontend/src/components/books/ReadButton.test.ts
Due: frontend-checks

feat(issue-869): add bookshelf save button component
  frontend/src/components/books/BookshelfSaveButton.svelte
  frontend/src/components/books/BookshelfSaveButton.test.ts
Due: frontend-checks

fix(issue-889): preserve links during podcast detection retry
  backend/internal/services/post.go
Due: backend-lint, backend-test

chore: mark issue #870 as completed
  .work-queue.json
Due: none

feat(issue-872): add bookshelf view component with category management
  frontend/src/components/books/Bookshelf.svelte
  frontend/src/components/books/Bookshelf.test.ts
Due: frontend-checks

fix(issue-869): align bookshelf category selection with persistence
  frontend/src/components/books/BookshelfSaveButton.svelte
  frontend/src/components/books/BookshelfSaveButton.test.ts
Due: frontend-checks

chore: mark issue #889 as completed
  .work-queue.json
Due: none

chore: agent agent-1770709390-37307 claims issue #881
  .work-queue.json
Due: none

chore: agent agent-1770709392-38182 claims issue #890
  .work-queue.json
Due: none

fix(issue-869): enforce single selection for inline category create
  frontend/src/components/books/BookshelfSaveButton.svelte
  frontend/src/components/books/BookshelfSaveButton.test.ts
Due: frontend-checks

feat(issue-881): add quote card and form components
  frontend/src/components/books/QuoteCard.svelte
  frontend/src/components/books/QuoteCard.test.ts
  frontend/src/components/books/QuoteForm.svelte
  frontend/src/components/books/QuoteForm.test.ts
Due: frontend-checks

test(issue-890): cover podcast metadata update and response shape
  backend/internal/handlers/post_test.go
  backend/internal/services/post_test.go
Due: backend-lint, backend-test

fix(issue-872): keep bookshelf category filtering client-side
  frontend/src/components/books/Bookshelf.svelte
  frontend/src/components/books/Bookshelf.test.ts
Due: frontend-checks

chore: mark issue #869 as completed
  .work-queue.json
Due: none

chore: add Movies section issues to work queue
  .work-queue.json
Due: none

chore: mark issue #890 as completed
  .work-queue.json
Due: none

chore: mark issue #881 as completed
  .work-queue.json
Due: none

chore: mark issue #872 as completed
  .work-queue.json
Due: none

chore: agent agent-1770710295-59692 claims issue #948
  .work-queue.json
Due: none

chore: agent agent-1770710298-59833 claims issue #951
  .work-queue.json
Due: none

chore: agent agent-1770710302-59994 claims issue #871
  .work-queue.json
Due: none

chore: agent agent-1770710304-60121 claims issue #874
  .work-queue.json
Due: none

chore: agent agent-1770710307-59993 claims issue #892
  .work-queue.json
Due: none

feat(issue-951): add collapsible movies watchlist
  frontend/src/components/__tests__/Watchlist.test.ts
  frontend/src/components/movies/Watchlist.svelte
Due: frontend-checks

fix(issue-948): parse Rotten Tomatoes URLs via TMDB search
  backend/internal/services/links/movie_parser.go
  backend/internal/services/links/movie_parser_test.go
Due: backend-lint, backend-test

chore: reset orphaned issues #871, #874, #892 to available
  .work-queue.json
Due: none

fix(issue-948): keep numeric rotten tomatoes slugs intact
  backend/internal/services/links/movie_parser.go
  backend/internal/services/links/movie_parser_test.go
Due: backend-lint, backend-test

chore: mark issue #951 as completed
  .work-queue.json
Due: none

chore: agent agent-1770713157-84201 claims issue #871
  .work-queue.json
Due: none

chore: agent agent-1770713159-84210 claims issue #874
  .work-queue.json
Due: none

chore: agent agent-1770713163-84512 claims issue #892
  .work-queue.json
Due: none

chore: agent agent-1770713166-84728 claims issue #894
  .work-queue.json
Due: none

chore: mark issue #948 as completed
  .work-queue.json
Due: none

chore: agent agent-1770713332-86591 claims issue #949
  .work-queue.json
Due: none
