Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: backend-lint
        name: backend-lint
        entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
        language: system
        pass_filenames: false
        files: ^backend/
      - id: backend-test
        name: backend-test
        entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
        language: system
        pass_filenames: false
        files: ^backend/
      - id: frontend-checks
        name: frontend-checks
        entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
        language: system
        pass_filenames: false
        files: ^frontend/

chore: mark issue #886 as completed
  .work-queue.json
Due: none

chore: mark issue #899 as completed
  .work-queue.json
Due: none

chore: agent agent-1770717110-70973 claims issue #900
  .work-queue.json
Due: none

chore: agent agent-1770717118-71149 claims issue #901
  .work-queue.json
Due: none

feat(issue-900): add podcast save-for-later button
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PodcastSaveButton.test.ts
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/components/podcasts/PodcastSaveButton.svelte
Due: frontend-checks

feat(issue-901): build podcasts top widget modes
  frontend/src/components/__tests__/PodcastsTopContainer.test.ts
  frontend/src/components/podcasts/PodcastsTopContainer.svelte
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
  frontend/src/stores/__tests__/podcastStore.test.ts
  frontend/src/stores/podcastStore.ts
Due: frontend-checks

chore: mark issue #900 as completed
  .work-queue.json
Due: none

chore: mark issue #901 as completed
  .work-queue.json
Due: none

chore: agent agent-1770718442-87346 claims issue #902
  .work-queue.json
Due: none

test(issue-902): add podcast integration and e2e workflow coverage
  backend/internal/handlers/post_podcast_create_test.go
  frontend/e2e/app.spec.ts
  frontend/src/components/posts/__tests__/PostForm.test.ts
Due: backend-lint, backend-test, frontend-checks

fix(issue-902): avoid typed-nil rate limiter in podcast handler tests
  backend/internal/handlers/post_podcast_create_test.go
Due: backend-lint, backend-test

chore: mark issue #902 as completed
  .work-queue.json
Due: none

Add 14 new issues to work queue (#972-#985)
  .work-queue.json
Due: none

chore: agent agent-1770725370-84554 claims issue #972
  .work-queue.json
Due: none

chore: agent agent-1770725372-84643 claims issue #974
  .work-queue.json
Due: none

chore: agent agent-1770725381-84880 claims issue #975
  .work-queue.json
Due: none

chore: agent agent-1770725411-85352 claims issue #976
  .work-queue.json
Due: none

chore: agent agent-1770725414-85442 claims issue #977
  .work-queue.json
Due: none

chore: agent agent-1770725416-85671 claims issue #981
  .work-queue.json
Due: none

chore: agent agent-1770725419-85815 claims issue #985
  .work-queue.json
Due: none

fix(issue-975): open rating prompt after marking book as read
  frontend/src/components/books/ReadButton.svelte
  frontend/src/components/books/ReadButton.test.ts
Due: frontend-checks

chore: mark issue #975 as completed
  .work-queue.json
Due: none

fix(issue-977): fall back to movie metadata when source fetch fails
  backend/internal/services/links/metadata.go
  backend/internal/services/links/metadata_test.go
  backend/internal/services/links/movie_parser_test.go
Due: backend-lint, backend-test

chore: agent agent-1770726068-95543 claims issue #979
  .work-queue.json
Due: none

fix(issue-977): isolate movie parse timeout from page fetch
  backend/internal/services/links/metadata.go
  backend/internal/services/links/metadata_test.go
Due: backend-lint, backend-test

fix(issue-976): render movie watchlist inline above feed
  frontend/src/App.svelte
  frontend/src/__tests__/App.watchlist.test.ts
Due: frontend-checks

fix(issue-981): preserve podcast metadata in async link updates
  backend/internal/services/metadata_worker.go
  backend/internal/services/metadata_worker_test.go
Due: backend-lint, backend-test

fix(issue-985): detect spotify podcast show and episode kinds
  backend/internal/services/podcast_kind_detection.go
  backend/internal/services/podcast_kind_detection_test.go
  backend/internal/services/post_test.go
Due: backend-lint, backend-test

chore: mark issue #977 as completed
  .work-queue.json
Due: none

chore: mark issue #981 as completed
  .work-queue.json
Due: none

chore: mark issue #976 as completed
  .work-queue.json
Due: none

chore: mark issue #985 as completed
  .work-queue.json
Due: none

chore: reset orphaned issues #972 and #974 to available
  .work-queue.json
Due: none

feat(issue-979): remove standalone bookshelf navigation and route
  frontend/src/App.svelte
  frontend/src/__tests__/App.bookshelf.test.ts
  frontend/src/components/Nav.svelte
  frontend/src/components/__tests__/Nav.test.ts
  frontend/src/services/__tests__/routeNavigation.test.ts
  frontend/src/services/routeNavigation.ts
  frontend/src/stores/__tests__/uiStore.test.ts
  frontend/src/stores/uiStore.ts
Due: frontend-checks

chore: agent agent-1770727460-17062 claims issue #972
  .work-queue.json
Due: none

chore: agent agent-1770727462-17129 claims issue #974
  .work-queue.json
Due: none

chore: agent agent-1770727494-17859 claims issue #982
  .work-queue.json
Due: none

chore: agent agent-1770727500-18016 claims issue #983
  .work-queue.json
Due: none

chore: agent agent-1770727504-18172 claims issue #984
  .work-queue.json
Due: none

fix(issue-979): remove stale App.svelte subview state
  frontend/src/App.svelte
Due: frontend-checks
