Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

chore: agent agent-1770698341-33217 claims issue #887
  .work-queue.json
Due: none

fix(issue-878): fix create/update quote scan mismatch
  backend/internal/services/book_quote.go
Due: backend-lint, backend-test

feat(issue-887): add podcast section seed and ordering
  backend/internal/services/section.go
  backend/internal/services/section_test.go
  backend/migrations/042_seed_podcast_section.down.sql
  backend/migrations/042_seed_podcast_section.up.sql
Due: backend-lint, backend-test

chore: mark issue #864 as completed
  .work-queue.json
Due: none

chore: mark issue #884 as completed
  .work-queue.json
Due: none

chore: mark issue #878 as completed
  .work-queue.json
Due: none

chore: mark issue #862 as completed
  .work-queue.json
Due: none

fix(issue-887): make podcast seed rollback safe
  backend/internal/services/section_test.go
  backend/migrations/042_seed_podcast_section.down.sql
Due: backend-lint, backend-test

chore: agent agent-1770699072-48271 claims issue #865
  .work-queue.json
Due: none

chore: agent agent-1770699075-48440 claims issue #866
  .work-queue.json
Due: none

chore: agent agent-1770699079-48633 claims issue #885
  .work-queue.json
Due: none

chore: mark issue #887 as completed
  .work-queue.json
Due: none

chore: agent agent-1770699255-53579 claims issue #888
  .work-queue.json
Due: none

chore: agent agent-1770699258-53944 claims issue #891
  .work-queue.json
Due: none

feat(issue-865): register bookshelf and read log routes
  backend/cmd/server/main.go
  backend/cmd/server/routes.go
  backend/cmd/server/routes_test.go
Due: backend-lint, backend-test

feat(issue-866): add bookshelf and read log API client functions
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
Due: frontend-checks

feat(issue-885): add spoiler toggle and wrapper components
  frontend/src/components/books/SpoilerToggle.svelte
  frontend/src/components/books/SpoilerToggle.test.ts
  frontend/src/components/books/SpoilerWrapper.svelte
  frontend/src/components/books/SpoilerWrapper.test.ts
Due: frontend-checks

feat(issue-891): add podcast_saves migration and validation
  backend/internal/services/podcast_save_migration_test.go
  backend/migrations/043_create_podcast_saves_table.down.sql
  backend/migrations/043_create_podcast_saves_table.up.sql
Due: backend-lint, backend-test

chore: mark issue #865 as completed
  .work-queue.json
Due: none

chore: agent agent-1770699532-62388 claims issue #879
  .work-queue.json
Due: none

chore: mark issue #866 as completed
  .work-queue.json
Due: none

chore: reset orphaned issues #879 and #888 to available
  .work-queue.json
Due: none

chore: agent agent-1770706700-78076 claims issue #867
  .work-queue.json
Due: none

chore: agent agent-1770706703-78165 claims issue #879
  .work-queue.json
Due: none

chore: agent agent-1770706705-78181 claims issue #888
  .work-queue.json
Due: none

chore: mark issue #891 as completed
  .work-queue.json
Due: none

chore: mark issue #885 as completed
  .work-queue.json
Due: none

chore: agent agent-1770707043-84729 claims issue #895
  .work-queue.json
Due: none

feat(issue-888): add podcast link metadata validation
  backend/internal/handlers/highlights.go
  backend/internal/handlers/highlights_test.go
  backend/internal/models/post.go
  backend/internal/models/post_test.go
  backend/internal/services/post.go
  backend/internal/services/post_test.go
Due: backend-lint, backend-test

feat(issue-879): add book quote handlers and route wiring
  backend/cmd/server/main.go
  backend/cmd/server/routes.go
  backend/cmd/server/routes_test.go
  backend/internal/handlers/book_quote.go
  backend/internal/handlers/book_quote_test.go
Due: backend-lint, backend-test

feat(issue-867): add book store with optimistic bookshelf and read log state
  frontend/src/stores/__tests__/postMapper.test.ts
  frontend/src/stores/__tests__/postStore.test.ts
  frontend/src/stores/bookStore.test.ts
  frontend/src/stores/bookStore.ts
  frontend/src/stores/postMapper.ts
  frontend/src/stores/postStore.ts
Due: frontend-checks

feat(issue-895): add podcast section type and app mount
  frontend/src/App.svelte
  frontend/src/__tests__/App.watchlist.test.ts
  frontend/src/components/podcasts/PodcastsTopContainer.svelte
  frontend/src/stores/__tests__/sectionStore.test.ts
  frontend/src/stores/sectionStore.ts
Due: frontend-checks

fix(issue-888): compare podcast note values not pointers
  backend/internal/services/post.go
  backend/internal/services/post_test.go
Due: backend-lint, backend-test

chore: mark issue #879 as completed
  .work-queue.json
Due: none

chore: mark issue #888 as completed
  .work-queue.json
Due: none

chore: mark issue #895 as completed
  .work-queue.json
Due: none

chore: agent agent-1770707922-6655 claims issue #880
  .work-queue.json
Due: none

chore: agent agent-1770707925-6869 claims issue #889
  .work-queue.json
Due: none

fix(issue-867): preserve cursor page ordering in book store
  frontend/src/stores/bookStore.test.ts
  frontend/src/stores/bookStore.ts
Due: frontend-checks

feat(issue-880): add book quote api client and store
  frontend/src/services/api.ts
  frontend/src/stores/__tests__/bookQuoteStore.test.ts
  frontend/src/stores/bookQuoteStore.ts
Due: frontend-checks

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
