Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

chore: mark issue #636 as completed
  .work-queue.json
Due: none

chore: mark issue #637 as completed
  .work-queue.json
Due: none

chore: mark issue #638 as completed
  .work-queue.json
Due: none

chore: add issue 644 to work queue
  .work-queue.json
Due: none

chore: update loki conf
  loki.yml
Due: none

chore: add issues 645-647 to work queue
  .work-queue.json
Due: none

chore: agent agent-1770069313-88661 claims issue #645
  .work-queue.json
Due: none

chore: agent agent-1770069319-88803 claims issue #646
  .work-queue.json
Due: none

chore: agent agent-1770069321-88875 claims issue #647
  .work-queue.json
Due: none

fix(issue-645): update traceql attribute syntax
  grafana/dashboards/traces.json
Due: none

fix(issue-647): reduce loki query cancellations
  grafana/dashboards/error-logs.json
  grafana/datasources/datasources.yml
  loki.yml
Due: none

fix(issue-646): skip Sentry provisioning when unset
  .env.example
  grafana/datasources/datasources.yml
  grafana/datasources/sentry.yml
  grafana/entrypoint.sh
Due: none

chore: mark issue #645 as completed
  .work-queue.json
Due: none

chore: mark issue #646 as completed
  .work-queue.json
Due: none

chore: mark issue #647 as completed
  .work-queue.json
Due: none

chore: update work queue
  .work-queue.json
Due: none

chore: agent agent-1770071291-14939 claims issue #644
  .work-queue.json
Due: none

chore: agent agent-1770071294-15083 claims issue #651
  .work-queue.json
Due: none

chore: agent agent-1770071302-15262 claims issue #655
  .work-queue.json
Due: none

feat(issue-655): add section link models
  backend/internal/models/link.go
Due: backend-lint, backend-test

fix(issue-644): handle multi-value audit log filters
  grafana/dashboards/audit-logs.json
Due: none

feat(issue-651): add highlight model and validation
  backend/internal/models/post.go
  backend/internal/models/post_test.go
Due: backend-lint, backend-test

chore: mark issue #655 as completed
  .work-queue.json
Due: none

chore: agent agent-1770071774-26337 claims issue #656
  .work-queue.json
Due: none

chore: mark issue #644 as completed
  .work-queue.json
Due: none

fix(issue-651): validate highlights in services
  backend/internal/models/post.go
  backend/internal/models/post_test.go
  backend/internal/services/comment.go
  backend/internal/services/post.go
Due: backend-lint, backend-test

feat(issue-656): add section links endpoint
  backend/cmd/server/main.go
  backend/cmd/server/routes.go
  backend/internal/handlers/section.go
  backend/internal/handlers/section_test.go
  backend/internal/services/section.go
  backend/internal/services/section_test.go
Due: backend-lint, backend-test

fix(issue-651): update handler mocks for highlights
  backend/internal/handlers/comment_test.go
  backend/internal/handlers/post_test.go
Due: backend-lint, backend-test

fix(issue-651): map highlight validation errors
  backend/internal/handlers/comment.go
  backend/internal/handlers/highlights.go
  backend/internal/handlers/post.go
Due: backend-lint, backend-test

chore: mark issue #656 as completed
  .work-queue.json
Due: none

chore: claim issue #657 as -h
  .work-queue.json
Due: none

chore: mark issue #651 as completed
  .work-queue.json
Due: none

chore: agent agent-1770072891-51619 claims issue #652
  .work-queue.json
Due: none

Revert "chore: claim issue #657 as -h"
  .work-queue.json
Due: none

chore: agent agent-1770072970-53269 claims issue #657
  .work-queue.json
Due: none

feat(issue-652): store link highlights
  backend/internal/services/post.go
  backend/internal/services/post_test.go
Due: backend-lint, backend-test

feat(issue-657): add section links store and api client
  frontend/src/lib/observability/tracing.ts
  frontend/src/services/api.ts
  frontend/src/stores/__tests__/sectionLinksStore.test.ts
  frontend/src/stores/index.ts
  frontend/src/stores/sectionLinksStore.ts
Due: frontend-checks

fix(issue-657): normalize section links response
  frontend/src/services/api.ts
Due: frontend-checks

chore: add recipe feature issues to work queue
  .work-queue.json
Due: none

chore: mark issue #652 as completed
  .work-queue.json
Due: none

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
