Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: backend-lint
        name: backend-lint
        entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
        language: system
        pass_filenames: false
        files: ^backend/
      - id: backend-test
        name: backend-test
        entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
        language: system
        pass_filenames: false
        files: ^backend/
      - id: frontend-checks
        name: frontend-checks
        entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
        language: system
        pass_filenames: false
        files: ^frontend/

wip
  backend/internal/middleware/csp.go
  backend/internal/middleware/csp_test.go
  frontend/index.html
  frontend/src/components/PostCard.svelte
  frontend/src/lib/components/embeds/BandcampEmbed.svelte
  frontend/src/lib/components/embeds/SoundCloudEmbed.svelte
  frontend/src/lib/components/embeds/SpotifyEmbed.svelte
  frontend/src/lib/components/embeds/YouTubeEmbed.svelte
  frontend/src/lib/components/embeds/__tests__/YouTubeEmbed.test.ts
  frontend/src/lib/embeds/youtubeApi.ts
  frontend/src/vite-env.d.ts
Due: backend-lint, backend-test, frontend-checks

work steps
  PLAYER_INSTRUCTIONS.md
  PLAYER_RENDERING.md
  player-rendering/phase-1/step-01-url-detection-youtube-parser.md
  player-rendering/phase-1/step-02-spotify-parser.md
  player-rendering/phase-1/step-03-integrate-parsers-postcard.md
  player-rendering/phase-2/step-01-soundcloud-oembed-fetcher.md
  player-rendering/phase-2/step-02-integrate-soundcloud-postcard.md
  player-rendering/phase-3/step-01-metadata-queue.md
  player-rendering/phase-3/step-02-metadata-worker.md
  player-rendering/phase-3/step-03-post-service-enqueue.md
  player-rendering/phase-3/step-04-websocket-backend.md
  player-rendering/phase-3/step-05-websocket-frontend.md
  player-rendering/phase-3/step-06-start-worker.md
  player-rendering/phase-4/step-01-bandcamp-jsonld.md
Due: none

feat(frontend): add URL detection helpers and YouTube parser
  frontend/src/lib/components/embeds/__tests__/YouTubeEmbed.test.ts
  frontend/src/lib/embeds/__tests__/urlParsers.test.ts
  frontend/src/lib/embeds/urlParsers.ts
Due: frontend-checks

chore: mark phase-1 step-01 as done
  player-rendering/phase-1/done/step-01-url-detection-youtube-parser.md
Due: none

Add parseSpotifyUrl function to urlParsers
  frontend/src/lib/embeds/urlParsers.test.ts
  frontend/src/lib/embeds/urlParsers.ts
Due: frontend-checks

chore: mark phase-1 step-02 as done
  player-rendering/phase-1/done/step-02-spotify-parser.md
Due: none

feat(frontend): integrate YouTube/Spotify parsers into PostCard for instant embed rendering
  frontend/src/components/PostCard.svelte
Due: frontend-checks

chore: mark phase-1 step-03 as done
  player-rendering/phase-1/done/step-03-integrate-parsers-postcard.md
Due: none

feat(frontend): add SoundCloud oEmbed fetcher
  frontend/src/lib/embeds/urlParsers.test.ts
  frontend/src/lib/embeds/urlParsers.ts
Due: frontend-checks

chore: mark phase-2 step-01 as done
  player-rendering/phase-2/done/step-01-soundcloud-oembed-fetcher.md
Due: none

feat(frontend): integrate SoundCloud oEmbed into PostCard
  frontend/src/components/PostCard.svelte
Due: frontend-checks

chore: mark phase-2 step-02 as done
  player-rendering/phase-2/done/step-02-integrate-soundcloud-postcard.md
Due: none

chore: mark phase-3 step-01 as done
  player-rendering/phase-3/done/step-01-metadata-queue.md
Due: none

Add metadata worker pool for async link metadata fetching
  backend/internal/services/metadata_worker.go
  backend/internal/services/metadata_worker_test.go
  backend/migrations/033_add_updated_at_to_links.down.sql
  backend/migrations/033_add_updated_at_to_links.up.sql
Due: backend-lint, backend-test

chore: mark phase-3 step-02 as done
  player-rendering/phase-3/done/step-02-metadata-worker.md
Due: none

Enqueue link metadata jobs on post create
  backend/internal/handlers/post.go
  backend/internal/services/metadata_queue.go
  backend/internal/services/metadata_queue_test.go
  backend/internal/services/post.go
  backend/internal/services/post_test.go
Due: backend-lint, backend-test

chore: mark phase-3 step-03 as done
  player-rendering/phase-3/done/step-03-post-service-enqueue.md
Due: none

feat: publish link metadata updates over websocket
  backend/internal/services/metadata_worker.go
  backend/internal/services/metadata_worker_test.go
Due: backend-lint, backend-test

chore: mark phase-3 step-04 as done
  player-rendering/phase-3/done/step-04-websocket-backend.md
Due: none

feat: apply link metadata websocket updates to posts
  frontend/src/stores/__tests__/postStore.test.ts
  frontend/src/stores/__tests__/websocketStore.test.ts
  frontend/src/stores/postStore.ts
  frontend/src/stores/websocketStore.ts
Due: frontend-checks

chore: mark phase-3 step-05 as done
  player-rendering/phase-3/done/step-05-websocket-frontend.md
Due: none

feat: start metadata worker with server
  backend/cmd/server/main.go
  backend/cmd/server/main_test.go
Due: backend-lint, backend-test

chore: mark phase-3 step-06 as done
  player-rendering/phase-3/done/step-06-start-worker.md
Due: none

feat: parse Bandcamp JSON-LD for embeds
  backend/internal/services/links/bandcamp.go
  backend/internal/services/links/bandcamp_test.go
Due: backend-lint, backend-test

chore: mark phase-4 step-01 as done
  player-rendering/phase-4/done/step-01-bandcamp-jsonld.md
Due: none

fix: allow SoundCloud oEmbed in CSP connect-src
  backend/internal/middleware/csp.go
  backend/internal/middleware/csp_test.go
Due: backend-lint, backend-test

fix: prevent grafana entrypoint from deleting repo files
  README.md
  docker-compose.prod.yml
  docker-compose.yml
  grafana/entrypoint.sh
Due: none

fix: allow SoundCloud oEmbed/widget connect-src
  backend/internal/middleware/csp.go
  backend/internal/middleware/csp_test.go
  frontend/index.html
  frontend/src/lib/components/embeds/SoundCloudEmbed.svelte
Due: backend-lint, backend-test, frontend-checks

fix: normalize websocket metadata updates
  backend/internal/services/metadata_worker.go
  backend/internal/services/metadata_worker_test.go
  frontend/src/stores/__tests__/websocketStore.test.ts
  frontend/src/stores/websocketStore.ts
Due: backend-lint, backend-test, frontend-checks

ui: tidy bandcamp embed layout
  frontend/src/lib/components/embeds/BandcampEmbed.svelte
  frontend/src/lib/components/embeds/__tests__/BandcampEmbed.test.ts
Due: frontend-checks

ui: constrain bandcamp embed width and show URL on failure
  frontend/src/lib/components/embeds/BandcampEmbed.svelte
  frontend/src/lib/components/embeds/__tests__/BandcampEmbed.test.ts
Due: frontend-checks

ui: remove bandcamp iframe wrapper border
  frontend/src/lib/components/embeds/BandcampEmbed.svelte
Due: frontend-checks

Fix form names, YouTube highlight seek, and preserve highlights
  backend/internal/services/metadata_worker.go
  backend/internal/services/metadata_worker_test.go
  frontend/src/components/PostCard.svelte
  frontend/src/components/comments/CommentForm.svelte
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/comments/ReplyForm.svelte
  frontend/src/components/mentions/MentionTextarea.svelte
  frontend/src/components/posts/PostForm.svelte
  frontend/src/components/search/NavbarSearch.svelte
  frontend/src/components/search/SearchBar.svelte
  frontend/src/lib/components/embeds/YouTubeEmbed.svelte
  frontend/src/lib/components/embeds/__tests__/YouTubeEmbed.test.ts
  frontend/src/lib/observability/errorTracker.ts
Due: backend-lint, backend-test, frontend-checks

Add highlight reaction tooltips and YouTube API embed
  backend/cmd/server/main.go
  backend/cmd/server/routes.go
  backend/internal/handlers/highlight_reaction.go
  backend/internal/handlers/highlight_reaction_list_test.go
  backend/internal/middleware/csp.go
  backend/internal/middleware/csp_test.go
  backend/internal/services/highlight_reaction.go
  frontend/index.html
  frontend/src/components/PostCard.svelte
  frontend/src/components/posts/HighlightDisplay.svelte
  frontend/src/lib/components/embeds/YouTubeEmbed.svelte
  frontend/src/lib/components/embeds/__tests__/YouTubeEmbed.test.ts
  frontend/src/services/api.ts
Due: backend-lint, backend-test, frontend-checks

remove unused files
  PLAYER_INSTRUCTIONS.md
  PLAYER_RENDERING.md
  player-rendering/phase-1/done/step-01-url-detection-youtube-parser.md
  player-rendering/phase-1/done/step-02-spotify-parser.md
  player-rendering/phase-1/done/step-03-integrate-parsers-postcard.md
  player-rendering/phase-2/done/step-01-soundcloud-oembed-fetcher.md
  player-rendering/phase-2/done/step-02-integrate-soundcloud-postcard.md
  player-rendering/phase-3/done/step-01-metadata-queue.md
  player-rendering/phase-3/done/step-02-metadata-worker.md
  player-rendering/phase-3/done/step-03-post-service-enqueue.md
  player-rendering/phase-3/done/step-04-websocket-backend.md
  player-rendering/phase-3/done/step-05-websocket-frontend.md
  player-rendering/phase-3/done/step-06-start-worker.md
  player-rendering/phase-4/done/step-01-bandcamp-jsonld.md
Due: none

fix: harden metadata job enqueue and recovery
  backend/internal/services/metadata_queue.go
  backend/internal/services/metadata_queue_test.go
  backend/internal/services/metadata_worker.go
  backend/internal/services/post.go
Due: backend-lint, backend-test

fix: keep youtube highlight provider before metadata
  frontend/src/components/PostCard.svelte
Due: frontend-checks

fix: guard youtube embed init after async load
  frontend/src/lib/components/embeds/YouTubeEmbed.svelte
Due: frontend-checks
