Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: backend-lint
        name: backend-lint
        entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
        language: system
        pass_filenames: false
        files: ^backend/
      - id: backend-test
        name: backend-test
        entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
        language: system
        pass_filenames: false
        files: ^backend/
      - id: frontend-checks
        name: frontend-checks
        entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
        language: system
        pass_filenames: false
        files: ^frontend/

feat: add interactive embed issues to work queue
  .work-queue.json
Due: none

chore: agent agent-1770120456-29571 claims issue #728
  .work-queue.json
Due: none

feat(issue-728): add embed metadata structures
  backend/internal/services/links/embed.go
  backend/internal/services/links/embed_test.go
Due: backend-lint, backend-test

chore: mark issue #728 as completed
  .work-queue.json
Due: none

chore: agent agent-1770120952-39493 claims issue #729
  .work-queue.json
Due: none

chore: agent agent-1770120954-39602 claims issue #730
  .work-queue.json
Due: none

chore: agent agent-1770120956-39752 claims issue #731
  .work-queue.json
Due: none

chore: agent agent-1770120958-39877 claims issue #732
  .work-queue.json
Due: none

feat(issue-732): add bandcamp embeds
  backend/internal/services/links/bandcamp.go
  backend/internal/services/links/bandcamp_test.go
  backend/internal/services/links/embed.go
  backend/internal/services/links/embed_registry.go
  backend/internal/services/links/metadata.go
  backend/internal/services/links/metadata_test.go
  frontend/src/components/PostCard.svelte
  frontend/src/lib/components/embeds/BandcampEmbed.svelte
  frontend/src/lib/components/embeds/__tests__/BandcampEmbed.test.ts
  frontend/src/stores/__tests__/postMapper.test.ts
  frontend/src/stores/postMapper.ts
  frontend/src/stores/postStore.ts
Due: backend-lint, backend-test, frontend-checks

chore: mark issue #732 as completed
  .work-queue.json
Due: none

fix(issue-731): tighten soundcloud host match
  backend/internal/services/links/soundcloud.go
  backend/internal/services/links/soundcloud_test.go
Due: backend-lint, backend-test

feat(issue-731): add soundcloud embeds
  backend/internal/services/links/embed_registry.go
  backend/internal/services/links/soundcloud.go
  backend/internal/services/links/soundcloud_integration_test.go
  backend/internal/services/links/soundcloud_test.go
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/lib/components/embeds/SoundCloudEmbed.svelte
  frontend/src/lib/components/embeds/__tests__/SoundCloudEmbed.test.ts
  frontend/src/stores/__tests__/postMapper.test.ts
Due: backend-lint, backend-test, frontend-checks

chore: mark issue #731 as completed
  .work-queue.json
Due: none

feat(issue-730): add spotify embed support
  backend/internal/handlers/links.go
  backend/internal/services/link_metadata.go
  backend/internal/services/link_metadata_test.go
  backend/internal/services/links/embed_extractors.go
  backend/internal/services/links/metadata.go
  backend/internal/services/links/spotify.go
  backend/internal/services/links/spotify_test.go
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/lib/components/embeds/SpotifyEmbed.svelte
  frontend/src/lib/components/embeds/__tests__/SpotifyEmbed.test.ts
  frontend/src/stores/__tests__/postMapper.test.ts
  frontend/src/stores/postMapper.ts
  frontend/src/stores/postStore.ts
Due: backend-lint, backend-test, frontend-checks

fix(issue-730): restore post store and embeds
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/stores/postMapper.ts
  frontend/src/stores/postStore.ts
Due: frontend-checks

chore: mark issue #730 as completed
  .work-queue.json
Due: none

feat(issue-729): add youtube embeds
  backend/internal/services/links/embed_registry.go
  backend/internal/services/links/metadata.go
  backend/internal/services/links/youtube.go
  backend/internal/services/links/youtube_test.go
  backend/internal/services/post_test.go
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/lib/components/embeds/YouTubeEmbed.svelte
  frontend/src/lib/components/embeds/__tests__/YouTubeEmbed.test.ts
  frontend/src/stores/__tests__/postMapper.test.ts
  frontend/src/stores/postMapper.ts
Due: backend-lint, backend-test, frontend-checks

fix(issue-729): tighten youtube host match
  backend/internal/services/links/youtube.go
  backend/internal/services/links/youtube_test.go
Due: backend-lint, backend-test

fix(issue-729): drop unused embed prefetch
  backend/internal/services/links/metadata.go
Due: backend-lint, backend-test

fix(issue-729): align postcard edit tests
  frontend/src/components/__tests__/PostCard.test.ts
Due: frontend-checks

fix(issue-729): restore spotify embed + tests
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
Due: frontend-checks

fix(issue-729): drop unused embed helper
  frontend/src/stores/postMapper.ts
Due: frontend-checks

fix(issue-729): remove duplicate embed branches
  frontend/src/components/PostCard.svelte
Due: frontend-checks

chore: mark issue #729 as completed
  .work-queue.json
Due: none

chore: agent agent-1770127552-37381 claims issue #733
  .work-queue.json
Due: none

feat(issue-733): harden embed security
  backend/cmd/server/main.go
  backend/internal/middleware/csp.go
  backend/internal/middleware/csp_test.go
  backend/internal/services/links/bandcamp.go
  backend/internal/services/links/embed_validation.go
  backend/internal/services/links/embed_validation_test.go
  backend/internal/services/links/soundcloud.go
  backend/internal/services/links/soundcloud_test.go
  backend/internal/services/links/spotify.go
  backend/internal/services/links/youtube.go
  frontend/index.html
  frontend/src/lib/components/embeds/BandcampEmbed.svelte
  frontend/src/lib/components/embeds/SoundCloudEmbed.svelte
  frontend/src/lib/components/embeds/SpotifyEmbed.svelte
  frontend/src/lib/components/embeds/YouTubeEmbed.svelte
Due: backend-lint, backend-test, frontend-checks

chore: mark issue #733 as completed
  .work-queue.json
Due: none

chore: add 16 new issues to work queue (#740-#755)
  .work-queue.json
Due: none

chore: add dependencies to prevent merge conflicts and mark issues available
  .work-queue.json
Due: none

chore: agent agent-1770130758-64697 claims issue #740
  .work-queue.json
Due: none

chore: agent agent-1770130760-64838 claims issue #742
  .work-queue.json
Due: none

chore: agent agent-1770130763-64953 claims issue #743
  .work-queue.json
Due: none

chore: agent agent-1770130766-64958 claims issue #745
  .work-queue.json
Due: none

chore: agent agent-1770130910-69597 claims issue #748
  .work-queue.json
Due: none

chore: agent agent-1770130916-69804 claims issue #749
  .work-queue.json
Due: none

fix(issue-740): accept numeric soundcloud version
  backend/internal/services/links/soundcloud.go
  backend/internal/services/links/soundcloud_test.go
Due: backend-lint, backend-test

fix(issue-743): center navbar search panel
  frontend/src/components/search/NavbarSearch.svelte
Due: frontend-checks

chore: mark issue #740 as completed
  .work-queue.json
Due: none

chore: mark issue #743 as completed
  .work-queue.json
Due: none

chore: agent agent-1770131460-83577 claims issue #741
  .work-queue.json
Due: none
