Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: backend-lint
        name: backend-lint
        entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
        language: system
        pass_filenames: false
        files: ^backend/
      - id: backend-test
        name: backend-test
        entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
        language: system
        pass_filenames: false
        files: ^backend/
      - id: frontend-checks
        name: frontend-checks
        entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
        language: system
        pass_filenames: false
        files: ^frontend/

chore: mark issue #273 as completed
  .work-queue.json
Due: none

chore: mark issue #277 as completed
  .work-queue.json
Due: none

feat(issue-262): add profile navigation view
  frontend/src/App.svelte
  frontend/src/components/Header.svelte
  frontend/src/components/PostCard.svelte
  frontend/src/components/UserProfile.svelte
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/components/__tests__/UserProfile.test.ts
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/index.ts
  frontend/src/components/search/SearchResults.svelte
  frontend/src/services/profileNavigation.ts
  frontend/src/stores/__tests__/uiStore.test.ts
  frontend/src/stores/uiStore.ts
Due: frontend-checks

chore: mark issue #262 as completed
  .work-queue.json
Due: none

fix(issue-262): guard profile fetches
  frontend/src/components/UserProfile.svelte
Due: frontend-checks

feat: add configurable log levels to backend
  .env.example
  .env.production.example
  AGENTS.md
  DESIGN.md
  backend/internal/observability/loglevel.go
  backend/internal/observability/loglevel_test.go
  backend/internal/observability/logs.go
  docker-compose.yml
Due: backend-lint, backend-test

logging stuff
  .env
  docker-compose.yml
  loki.yml
  tempo.yml
Due: none

chore: add UAT follow-up issues from PR comment
  .work-queue.json
Due: none

Revert "chore: add UAT follow-up issues from PR comment"
  .work-queue.json
Due: none

chore: sync work queue with GitHub issues
  .work-queue.json
Due: none

chore: agent agent-1769557354-25092 claims issue #294
  .work-queue.json
Due: none

fix(issue-294): show approval pending on login
  backend/internal/handlers/auth.go
  backend/internal/handlers/auth_test.go
  backend/internal/services/user.go
  frontend/src/routes/__tests__/Login.test.ts
Due: backend-lint, backend-test, frontend-checks

chore: agent agent-1769558135-29251 claims issue #295
  .work-queue.json
Due: none

chore: agent agent-1769558152-31208 claims issue #296
  .work-queue.json
Due: none

chore: agent agent-1769558171-32460 claims issue #297
  .work-queue.json
Due: none

chore: agent agent-1769558183-33633 claims issue #298
  .work-queue.json
Due: none

fix(issue-295): route reset links to reset screen
  frontend/src/App.svelte
  frontend/src/components/admin/UserResetLinks.svelte
Due: frontend-checks

fix(issue-296): avoid error styling on MFA prompt
  frontend/src/routes/Login.svelte
  frontend/src/routes/__tests__/Login.test.ts
Due: frontend-checks

feat(issue-297): allow url-only posts
  backend/internal/services/post.go
  backend/internal/services/post_test.go
Due: backend-lint, backend-test

fix(issue-298): map link metadata without url
  frontend/src/stores/__tests__/postMapper.test.ts
  frontend/src/stores/postMapper.ts
Due: frontend-checks

chore: mark issue #294 as completed
  .work-queue.json
Due: none

chore: mark issue #295 as completed
  .work-queue.json
Due: none

chore: agent agent-1769558538-45323 claims issue #299
  .work-queue.json
Due: none

chore: agent agent-1769558568-46584 claims issue #300
  .work-queue.json
Due: none

chore: agent agent-1769558609-50702 claims issue #301
  .work-queue.json
Due: none

chore: mark issue #296 as completed
  .work-queue.json
Due: none

fix(issue-297): trim content for url-only posts
  backend/internal/services/post.go
  backend/internal/services/post_test.go
Due: backend-lint, backend-test

chore: agent agent-1769558651-53234 claims issue #302
  .work-queue.json
Due: none

fix(issue-300): avoid double count on replies
  frontend/src/components/comments/ReplyForm.svelte
  frontend/src/components/comments/__tests__/ReplyForm.test.ts
Due: frontend-checks

chore: mark issue #298 as completed
  .work-queue.json
Due: none

chore: agent agent-1769558743-56984 claims issue #303
  .work-queue.json
Due: none

chore: mark issue #297 as completed
  .work-queue.json
Due: none

chore: mark issue #300 as completed
  .work-queue.json
Due: none

chore: agent agent-1769558958-63513 claims issue #304
  .work-queue.json
Due: none

fix(issue-303): neutral MFA prompt styling
  frontend/src/routes/Login.svelte
Due: frontend-checks

chore: agent agent-1769559022-66066 claims issue #305
  .work-queue.json
Due: none

restore work queue
  .work-queue.json
Due: none

chore: agent agent-1769583414-73977 claims issue #301
  .work-queue.json
Due: none

chore: agent agent-1769583424-74960 claims issue #302
  .work-queue.json
Due: none
