Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

chore: agent agent-1770131463-83689 claims issue #750
  .work-queue.json
Due: none

fix(issue-741): improve bandcamp metadata fetch
  backend/internal/handlers/links.go
  backend/internal/handlers/links_test.go
  backend/internal/services/links/metadata.go
  backend/internal/services/links/metadata_test.go
Due: backend-lint, backend-test

feat(issue-750): support hh:mm:ss highlight timestamps
  DESIGN.md
  frontend/src/components/posts/HighlightDisplay.svelte
  frontend/src/components/posts/HighlightEditor.svelte
  frontend/src/components/posts/__tests__/HighlightDisplay.test.ts
  frontend/src/components/posts/__tests__/HighlightEditor.test.ts
  frontend/src/components/posts/__tests__/PostForm.test.ts
  frontend/src/lib/highlights.ts
Due: frontend-checks

fix(issue-741): tighten bandcamp host match
  backend/internal/services/links/metadata.go
Due: backend-lint, backend-test

chore: mark issue #750 as completed
  .work-queue.json
Due: none

chore: mark issue #741 as completed
  .work-queue.json
Due: none

chore: agent agent-1770132735-3646 claims issue #752
  .work-queue.json
Due: none

chore: agent agent-1770132740-3833 claims issue #754
  .work-queue.json
Due: none

chore: reset in-progress issues to available
  .work-queue.json
Due: none

Update orchestrator and work queue
  .codex/skills/orchestrator/SKILL.md
  .completed-work-items.json
  .work-queue.json
Due: none

chore: agent agent-1770134861-27037 claims issue #742
  .work-queue.json
Due: none

chore: agent agent-1770134867-27215 claims issue #745
  .work-queue.json
Due: none

chore: agent agent-1770134869-27321 claims issue #748
  .work-queue.json
Due: none

chore: agent agent-1770134871-27330 claims issue #749
  .work-queue.json
Due: none

chore: agent agent-1770134873-27592 claims issue #752
  .work-queue.json
Due: none

chore: agent agent-1770134876-27634 claims issue #754
  .work-queue.json
Due: none

chore: reset extra claimed issues
  .work-queue.json
Due: none

fix(issue-748): align section components above post form
  frontend/src/App.svelte
Due: frontend-checks

chore: mark issue #748 as completed
  .work-queue.json
Due: none

chore: agent agent-1770135357-38121 claims issue #745
  .work-queue.json
Due: none

chore: agent agent-1770135375-38290 claims issue #749
  .work-queue.json
Due: none

feat(issue-754): add music length filter
  frontend/src/components/MusicLinksContainer.svelte
  frontend/src/components/SectionFeed.svelte
  frontend/src/components/__tests__/MusicLinksContainer.test.ts
  frontend/src/stores/__tests__/musicFilterStore.test.ts
  frontend/src/stores/index.ts
  frontend/src/stores/musicFilterStore.ts
Due: frontend-checks

fix(issue-742): show all recipes in cookbook
  frontend/src/components/__tests__/Cookbook.test.ts
  frontend/src/components/recipes/Cookbook.svelte
Due: frontend-checks

chore: mark issue #754 as completed
  .work-queue.json
Due: none

fix(issue-745): show interactive rating stars
  frontend/src/components/__tests__/RatingStars.test.ts
  frontend/src/components/recipes/CookButton.svelte
  frontend/src/components/recipes/RatingStars.svelte
Due: frontend-checks

chore: agent agent-1770135733-49227 claims issue #752
  .work-queue.json
Due: none

fix(issue-742): show all recipes label
  frontend/src/components/recipes/Cookbook.svelte
Due: frontend-checks

chore: mark issue #745 as completed
  .work-queue.json
Due: none

feat(issue-749): allow removing link metadata
  backend/internal/models/post.go
  backend/internal/services/post.go
  backend/internal/services/post_test.go
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/services/api.ts
Due: backend-lint, backend-test, frontend-checks

feat(issue-752): add click-to-seek for music embeds
  frontend/src/components/PostCard.svelte
  frontend/src/components/posts/HighlightDisplay.svelte
  frontend/src/components/posts/__tests__/HighlightDisplay.test.ts
  frontend/src/lib/components/embeds/SoundCloudEmbed.svelte
  frontend/src/lib/components/embeds/YouTubeEmbed.svelte
  frontend/src/lib/components/embeds/__tests__/YouTubeEmbed.test.ts
  frontend/src/lib/embeds/controller.ts
  frontend/src/lib/embeds/soundcloudApi.ts
  frontend/src/lib/embeds/youtubeApi.ts
  frontend/src/vite-env.d.ts
Due: frontend-checks

chore: mark issue #749 as completed
  .work-queue.json
Due: none

chore: agent agent-1770136799-79225 claims issue #751
  .work-queue.json
Due: none

chore: mark issue #752 as completed
  .work-queue.json
Due: none

chore: agent agent-1770137062-83665 claims issue #753
  .work-queue.json
Due: none

chore: agent agent-1770137065-83842 claims issue #755
  .work-queue.json
Due: none

chore: mark issue #742 as completed
  .work-queue.json
Due: none

chore: agent agent-1770137702-94792 claims issue #744
  .work-queue.json
Due: none

feat(issue-751): add recipe parsing button
  backend/cmd/server/main.go
  backend/internal/handlers/links.go
  backend/internal/handlers/links_test.go
  frontend/src/components/posts/LinkPreview.svelte
  frontend/src/components/posts/PostForm.svelte
  frontend/src/components/posts/__tests__/PostForm.test.ts
  frontend/src/services/api.ts
Due: backend-lint, backend-test, frontend-checks

chore: agent agent-1770138014-6305 claims issue #744
  .work-queue.json
Due: none

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
