Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: backend-lint
        name: backend-lint
        entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
        language: system
        pass_filenames: false
        files: ^backend/
      - id: backend-test
        name: backend-test
        entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
        language: system
        pass_filenames: false
        files: ^backend/
      - id: frontend-checks
        name: frontend-checks
        entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
        language: system
        pass_filenames: false
        files: ^frontend/

chore: mark issue #490 as completed
  .work-queue.json
Due: none

chore: agent agent-1769800933-60229 claims issue #491
  .work-queue.json
Due: none

chore: agent agent-1769800936-60365 claims issue #495
  .work-queue.json
Due: none

chore: agent agent-1769800938-60497 claims issue #492
  .work-queue.json
Due: none

chore: agent agent-1769800941-60613 claims issue #496
  .work-queue.json
Due: none

fix(issue-491): skip internal upload link metadata
  backend/internal/services/link_metadata.go
  backend/internal/services/links/metadata.go
  backend/internal/services/links/metadata_test.go
Due: backend-lint, backend-test

fix(issue-495): restore feed after thread back
  frontend/src/components/ThreadView.svelte
  frontend/src/components/__tests__/ThreadView.test.ts
Due: frontend-checks

fix(issue-492): allow image removal on edit
  frontend/src/components/PostCard.svelte
Due: frontend-checks

chore: mark issue #491 as completed
  .work-queue.json
Due: none

chore: mark issue #495 as completed
  .work-queue.json
Due: none

chore: agent agent-1769801666-80567 claims issue #498
  .work-queue.json
Due: none

chore: agent agent-1769801667-80663 claims issue #493
  .work-queue.json
Due: none

fix(issue-492): preserve image links on edit
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
Due: frontend-checks

fix(issue-498): align navbar search layout
  frontend/src/components/search/NavbarSearch.svelte
Due: frontend-checks

feat(issue-493): hide internal upload urls
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/components/search/SearchResults.svelte
  frontend/src/services/linkUtils.ts
Due: frontend-checks

feat(issue-496): add @mention autocomplete and linking
  backend/cmd/server/main.go
  backend/internal/handlers/pubsub.go
  backend/internal/handlers/user.go
  backend/internal/handlers/user_test.go
  backend/internal/models/user.go
  backend/internal/services/user.go
  frontend/src/components/LinkifiedText.svelte
  frontend/src/components/UserProfile.svelte
  frontend/src/components/__tests__/LinkifiedText.test.ts
  frontend/src/components/__tests__/UserProfile.test.ts
  frontend/src/components/comments/CommentForm.svelte
  frontend/src/components/comments/ReplyForm.svelte
  frontend/src/components/mentions/MentionTextarea.svelte
  frontend/src/components/posts/PostForm.svelte
  frontend/src/services/api.ts
Due: backend-lint, backend-test, frontend-checks

chore: mark issue #492 as completed
  .work-queue.json
Due: none

chore: mark issue #498 as completed
  .work-queue.json
Due: none

chore: agent agent-1769802145-5035 claims issue #494
  .work-queue.json
Due: none

chore: agent agent-1769802151-5286 claims issue #497
  .work-queue.json
Due: none

feat(issue-497): replace post actions with buttons
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
Due: frontend-checks

fix(issue-496): resolve profile retries and stabilize tests
  backend/internal/handlers/user_test.go
  frontend/src/components/UserProfile.svelte
Due: backend-lint, backend-test, frontend-checks

fix(issue-493): align search parent post urls
  frontend/src/components/search/SearchResults.svelte
  frontend/src/components/search/__tests__/SearchResults.test.ts
Due: frontend-checks

chore: mark issue #497 as completed
  .work-queue.json
Due: none

fix(issue-493): show link on image failure
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
Due: frontend-checks

chore: mark issue #493 as completed
  .work-queue.json
Due: none

chore: mark issue #496 as completed
  .work-queue.json
Due: none

feat(issue-494): open post images in lightbox
  frontend/src/components/PostCard.svelte
  frontend/src/lib/ui/bodyScroll.ts
Due: frontend-checks

fix(issue-494): centralize scroll lock for lightbox
  frontend/src/components/PostCard.svelte
  frontend/src/lib/scrollLock.ts
  frontend/src/lib/ui/bodyScroll.ts
Due: frontend-checks

ci(buildkite): install git for frontend checks
  .buildkite/scripts/frontend-checks.sh
Due: none

chore: mark issue #494 as completed
  .work-queue.json
Due: none

Revert git install for frontend checks
  .buildkite/scripts/frontend-checks.sh
Due: none

chore: add 21 new issues to work queue (#509-#529)
  .work-queue.json
Due: none

fix: use 'available' status for new work queue items
  .work-queue.json
Due: none

chore: add admin deep-linking bug to work queue (#530)
  .work-queue.json
Due: none

chore: agent agent-1769813433-76403 claims issue #509
  .work-queue.json
Due: none

chore: agent agent-1769813435-76423 claims issue #512
  .work-queue.json
Due: none

chore: agent agent-1769813439-76668 claims issue #530
  .work-queue.json
Due: none

chore: agent agent-1769813441-76774 claims issue #513
  .work-queue.json
Due: none

fix(issue-530): handle admin deep link after auth
  frontend/src/App.svelte
Due: frontend-checks
