Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

chore: mark issue #48 as completed
  .work-queue.json
Due: none

chore: agent agent-1769154415-13501 claims issue #200
  .work-queue.json
Due: none

feat(issue-190): add auth rate limiting
  .env.example
  .env.production.example
  backend/go.mod
  backend/go.sum
  backend/internal/handlers/auth.go
  backend/internal/handlers/auth_test.go
  backend/internal/handlers/ip.go
  backend/internal/services/rate_limiter.go
  backend/internal/services/rate_limiter_test.go
Due: backend-lint, backend-test

fix(issue-190): respect trusted proxy headers
  .env.example
  .env.production.example
  backend/internal/handlers/auth.go
  backend/internal/handlers/ip.go
Due: backend-lint, backend-test

chore: mark issue #190 as completed
  .work-queue.json
Due: none

feat(issue-200): update auth forms for username login
  frontend/src/routes/Login.svelte
  frontend/src/routes/Register.svelte
  frontend/src/routes/__tests__/Login.test.ts
  frontend/src/routes/__tests__/Register.test.ts
  frontend/src/stores/authStore.ts
Due: frontend-checks

docs: require subagents to verify worktree-only changes
  SUBAGENT_INSTRUCTIONS.md
Due: none

chore: agent agent-1769155051-28940 claims issue #191
  .work-queue.json
Due: none

chore: mark issue #200 as completed
  .work-queue.json
Due: none

feat(issue-189): bootstrap first admin
  .env.example
  .env.production.example
  README.md
  backend/cmd/server/main.go
  backend/entrypoint.sh
  backend/internal/services/user.go
  backend/migrations/seed_admin.sql
  docs/production-deployment.md
Due: backend-lint, backend-test

chore: agent agent-1769155307-32114 claims issue #201
  .work-queue.json
Due: none

feat(issue-191): add failed login lockout tracking
  .env.example
  .env.production.example
  backend/internal/handlers/auth.go
  backend/internal/services/auth_failure.go
  backend/internal/services/auth_failure_test.go
Due: backend-lint, backend-test

chore: mark issue #189 as completed
  .work-queue.json
Due: none

feat(issue-201): update auth docs for username login
  DESIGN.md
  README.md
Due: none

chore: mark issue #191 as completed
  .work-queue.json
Due: none

chore: agent agent-1769155469-35905 claims issue #192
  .work-queue.json
Due: none

fix(issue-201): align login response field name
  DESIGN.md
Due: none

chore: mark issue #201 as completed
  .work-queue.json
Due: none

feat(issue-192): reduce auth enumeration
  backend/internal/handlers/auth.go
  backend/internal/handlers/auth_test.go
  backend/internal/services/user.go
Due: backend-lint, backend-test

chore: mark issue #192 as completed
  .work-queue.json
Due: none

chore: agent agent-1769156124-40485 claims issue #202
  .work-queue.json
Due: none

feat(issue-202): update password validation
  backend/internal/handlers/auth.go
  backend/internal/services/user.go
  backend/internal/services/user_test.go
Due: backend-lint, backend-test

chore: mark issue #202 as completed
  .work-queue.json
Due: none

chore: agent agent-1769156480-45803 claims issue #195
  .work-queue.json
Due: none

chore: agent agent-1769156499-46102 claims issue #203
  .work-queue.json
Due: none

feat(issue-203): update register password guidance
  frontend/src/routes/Register.svelte
  frontend/src/routes/__tests__/Register.test.ts
Due: frontend-checks

feat(issue-195): track sessions per user and add logout-all
  backend/cmd/server/main.go
  backend/internal/handlers/auth.go
  backend/internal/services/session.go
  backend/internal/services/session_test.go
Due: backend-lint, backend-test

chore: mark issue #203 as completed
  .work-queue.json
Due: none

chore: mark issue #195 as completed
  .work-queue.json
Due: none

chore: agent agent-1769156951-54707 claims issue #193
  .work-queue.json
Due: none

chore: agent agent-1769156968-56041 claims issue #196
  .work-queue.json
Due: none

feat(issue-193): add CSRF token issuance and verification
  DESIGN.md
  backend/cmd/server/main.go
  backend/cmd/server/routes.go
  backend/cmd/server/routes_test.go
  backend/go.mod
  backend/internal/handlers/auth.go
  backend/internal/middleware/csrf.go
  backend/internal/middleware/csrf_test.go
  backend/internal/models/user.go
  backend/internal/services/csrf.go
  backend/internal/services/csrf_test.go
Due: backend-lint, backend-test

fix(csrf): add CSRF protection to link preview endpoint
  backend/cmd/server/main.go
Due: backend-lint, backend-test

chore: mark issue #193 as completed
  .work-queue.json
Due: none

fix: use miniredis for password reset service tests
  backend/internal/services/password_reset_test.go
Due: backend-lint, backend-test

feat(issue-196): add admin password reset token endpoints
  backend/cmd/server/main.go
  backend/internal/handlers/admin.go
  backend/internal/handlers/admin_test.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/auth_password_reset_test.go
  backend/internal/models/user.go
  backend/internal/services/password_reset.go
  backend/internal/services/password_reset_test.go
  backend/internal/services/user.go
Due: backend-lint, backend-test

fix: address code review feedback for password reset
  backend/internal/handlers/auth.go
  backend/internal/services/password_reset.go
Due: backend-lint, backend-test

fix: prevent race condition in password reset token redemption
  backend/internal/handlers/auth.go
  backend/internal/services/password_reset.go
Due: backend-lint, backend-test

chore: mark issue #196 as completed
  .work-queue.json
Due: none

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
