Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

chore: agent agent-1769642344-76411 claims issue #350
  .work-queue.json
Due: none

fix(issue-349): handle profile response shape
  frontend/src/components/UserProfile.svelte
  frontend/src/components/__tests__/UserProfile.test.ts
Due: frontend-checks

feat(issue-345): enlarge search section pills
  frontend/src/components/search/SearchResults.svelte
Due: frontend-checks

feat(issue-350): refine reaction tooltip layout
  frontend/src/components/reactions/ReactionBar.svelte
Due: frontend-checks

chore: mark issue #349 as completed
  .work-queue.json
Due: none

chore: agent agent-1769642348-76400 claims issue #351
  .work-queue.json
Due: none

chore: mark issue #345 as completed
  .work-queue.json
Due: none

chore: mark issue #350 as completed
  .work-queue.json
Due: none

feat(issue-351): use section slugs in urls
  frontend/src/App.svelte
  frontend/src/components/Nav.svelte
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/Nav.test.ts
  frontend/src/components/__tests__/SectionFeed.test.ts
  frontend/src/components/posts/__tests__/PostForm.test.ts
  frontend/src/components/search/SearchResults.svelte
  frontend/src/components/search/__tests__/SearchResults.test.ts
  frontend/src/services/__tests__/routeNavigation.test.ts
  frontend/src/services/profileNavigation.ts
  frontend/src/services/routeNavigation.ts
  frontend/src/services/sectionSlug.ts
  frontend/src/stores/__tests__/feedStore.test.ts
  frontend/src/stores/__tests__/sectionStore.test.ts
  frontend/src/stores/sectionStore.ts
Due: frontend-checks

chore: mark issue #351 as completed
  .work-queue.json
Due: none

remove instruction mds
  ORCHESTRATOR_INSTRUCTIONS.md
  SUBAGENT_INSTRUCTIONS.md
Due: none

chore: add UAT feedback issues to work queue
  .work-queue.json
Due: none

chore: mark new issues as available
  .work-queue.json
Due: none

fix: move new issues to correct array in work queue
  .work-queue.json
Due: none

chore: split oversized issues into smaller tasks
  .work-queue.json
Due: none

chore: prioritize audit log issues
  .work-queue.json
Due: none

update work queue
  .work-queue.json
Due: none

chore: agent agent-1769676763-52060 claims issue #400
  .work-queue.json
Due: none

chore: agent agent-1769676766-52175 claims issue #364
  .work-queue.json
Due: none

chore: agent agent-1769676770-52087 claims issue #366
  .work-queue.json
Due: none

chore: agent agent-1769676796-52463 claims issue #372
  .work-queue.json
Due: none

chore: agent agent-1769676801-52908 claims issue #373
  .work-queue.json
Due: none

fix(issue-373): hide section pill in scoped parent post
  frontend/src/components/search/SearchResults.svelte
  frontend/src/components/search/__tests__/SearchResults.test.ts
Due: frontend-checks

fix(issue-400): prevent websocket reconnect loop
  backend/internal/handlers/websocket.go
  frontend/src/stores/__tests__/websocketStore.test.ts
  frontend/src/stores/websocketStore.ts
Due: backend-lint, backend-test, frontend-checks

chore: mark issue #373 as completed
  .work-queue.json
Due: none

fix(issue-400): ignore stale websocket close events
  frontend/src/stores/websocketStore.ts
Due: frontend-checks

chore: mark issue #400 as completed
  .work-queue.json
Due: none

fix(issue-364): restore image uploads
  .env.example
  .env.production.example
  .gitignore
  backend/cmd/server/main.go
  backend/internal/handlers/uploads.go
  backend/internal/handlers/uploads_test.go
  backend/internal/models/upload.go
  docker-compose.prod.yml
  docker-compose.yml
  docs/production-deployment.md
  frontend/src/components/posts/PostForm.svelte
  frontend/src/services/api.ts
Due: backend-lint, backend-test, frontend-checks

fix(issue-372): keep search results tied to last scope
  frontend/src/components/search/SearchResults.svelte
  frontend/src/components/search/__tests__/SearchResults.test.ts
  frontend/src/stores/searchStore.test.ts
  frontend/src/stores/searchStore.ts
Due: frontend-checks

chore: mark issue #372 as completed
  .work-queue.json
Due: none

fix(issue-364): harden uploads and add tests
  backend/internal/handlers/uploads.go
  frontend/src/components/posts/__tests__/PostForm.test.ts
Due: backend-lint, backend-test, frontend-checks

fix(issue-364): address upload review feedback
  frontend/src/components/posts/PostForm.svelte
  frontend/src/components/posts/__tests__/PostForm.test.ts
Due: frontend-checks

chore: mark issue #364 as completed
  .work-queue.json
Due: none

chore: agent agent-1769684474-2552 claims issue #377
  .work-queue.json
Due: none

chore: agent agent-1769684478-2712 claims issue #384
  .work-queue.json
Due: none

chore: agent agent-1769684480-2814 claims issue #385
  .work-queue.json
Due: none

chore: agent agent-1769684486-3182 claims issue #388
  .work-queue.json
Due: none

feat(issue-377): add audit_logs target user metadata
  backend/migrations/019_add_target_user_metadata_to_audit_logs.down.sql
  backend/migrations/019_add_target_user_metadata_to_audit_logs.up.sql
Due: backend-lint, backend-test

docs(issue-384): add audit logging guidelines
  AGENTS.md
Due: none

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
