Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

chore: agent agent-1769693960-50160 claims issue #382
  .work-queue.json
Due: none

chore: agent agent-1769693962-50177 claims issue #386
  .work-queue.json
Due: none

chore: agent agent-1769693965-50266 claims issue #387
  .work-queue.json
Due: none

feat(issue-366): link admin member names
  frontend/src/components/admin/UserResetLinks.svelte
  frontend/src/components/admin/__tests__/UserResetLinks.test.ts
Due: frontend-checks

feat(issue-387): add edited indicator tooltip
  frontend/src/components/EditedBadge.svelte
  frontend/src/components/PostCard.svelte
  frontend/src/components/UserProfile.svelte
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/search/SearchResults.svelte
  frontend/src/stores/searchStore.ts
Due: frontend-checks

chore: mark issue #366 as completed
  .work-queue.json
Due: none

chore: agent agent-1769694351-63847 claims issue #426
  .work-queue.json
Due: none

feat(issue-382): improve audit log context
  backend/internal/handlers/admin.go
  backend/internal/handlers/admin_test.go
  backend/internal/models/audit.go
  frontend/src/components/admin/AuditLogs.svelte
  frontend/src/components/admin/__tests__/AuditLogs.test.ts
Due: backend-lint, backend-test, frontend-checks

chore: mark issue #382 as completed
  .work-queue.json
Due: none

chore: agent agent-1769694719-73900 claims issue #383
  .work-queue.json
Due: none

fix(issue-387): make edited tooltip tap reliable
  frontend/src/components/EditedBadge.svelte
Due: frontend-checks

chore: mark issue #387 as completed
  .work-queue.json
Due: none

feat(issue-383): add audit log filters
  backend/cmd/server/main.go
  backend/internal/handlers/admin.go
  backend/internal/handlers/admin_test.go
  backend/internal/models/audit.go
  frontend/src/components/admin/AuditLogs.svelte
  frontend/src/components/admin/__tests__/AuditLogs.test.ts
  frontend/src/routes/AdminPanel.svelte
  frontend/src/routes/__tests__/AdminPanel.test.ts
Due: backend-lint, backend-test, frontend-checks

fix(issue-386): update comments with edit response
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/stores/commentStore.ts
Due: frontend-checks

feat(issue-386): add edit UI for posts and comments
  frontend/src/components/PostCard.svelte
  frontend/src/components/__tests__/PostCard.test.ts
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/comments/__tests__/CommentThread.test.ts
  frontend/src/services/api.ts
  frontend/src/stores/commentStore.ts
  frontend/src/stores/postStore.ts
Due: frontend-checks

chore: mark issue #383 as completed
  .work-queue.json
Due: none

chore: agent agent-1769695813-2458 claims issue #365
  .work-queue.json
Due: none

chore: agent agent-1769695815-2572 claims issue #389
  .work-queue.json
Due: none

fix(issue-386): restore edited indicators
  frontend/src/components/PostCard.svelte
  frontend/src/components/comments/CommentThread.svelte
Due: frontend-checks

feat(issue-365): promote users to admin
  backend/cmd/server/main.go
  backend/internal/handlers/admin.go
  backend/internal/handlers/admin_test.go
  backend/internal/models/user.go
  backend/internal/services/session.go
  backend/internal/services/session_test.go
  backend/internal/services/user.go
  frontend/src/components/admin/UserResetLinks.svelte
  frontend/src/components/admin/__tests__/UserResetLinks.test.ts
Due: backend-lint, backend-test, frontend-checks

chore: mark issue #386 as completed
  .work-queue.json
Due: none

enable redis in ci
  .buildkite/docker-compose.ci.yml
  .buildkite/pipeline.steps.yml
Due: none

Revert "chore: mark issue #386 as completed"
  .work-queue.json
Due: none

Reapply "chore: mark issue #386 as completed"
  .work-queue.json
Due: none

Revert "enable redis in ci"
  .buildkite/docker-compose.ci.yml
  .buildkite/pipeline.steps.yml
Due: none

chore: use miniredis in csrf test
  backend/internal/middleware/csrf_test.go
Due: backend-lint, backend-test

chore: refactor tests to use miniredis helper func
  backend/internal/services/auth_failure_test.go
  backend/internal/services/csrf_test.go
  backend/internal/services/password_reset_test.go
  backend/internal/services/rate_limiter_test.go
  backend/internal/services/session_test.go
  backend/internal/testutil/testutil.go
Due: backend-lint, backend-test

fix(issue-365): handle session update errors on promote
  backend/internal/handlers/admin.go
Due: backend-lint, backend-test

feat(issue-426): add frontend error tracking
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.svelte
  frontend/src/components/PostCard.svelte
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/search/SearchResults.svelte
  frontend/src/lib/components/ErrorBoundary.svelte
  frontend/src/lib/observability/errorState.ts
  frontend/src/lib/observability/errorTracker.ts
  frontend/src/lib/observability/logger.ts
  frontend/src/main.ts
  frontend/src/services/api.ts
  frontend/src/stores/authStore.ts
  frontend/src/stores/pwaStore.ts
  frontend/src/stores/websocketStore.ts
  frontend/src/vite-env.d.ts
Due: frontend-checks

test(issue-426): cover logger and error boundary
  frontend/src/lib/components/__tests__/ErrorBoundary.test.ts
  frontend/src/lib/components/__tests__/ErrorBoundaryTestWrapper.svelte
  frontend/src/lib/observability/__tests__/logger.test.ts
  frontend/src/stores/pwaStore.ts
Due: frontend-checks

chore: mark issue #426 as completed
  .work-queue.json
Due: none

chore: mark issue #365 as completed
  .work-queue.json
Due: none

feat(issue-389): add profile picture upload to settings
  frontend/src/routes/Settings.svelte
  frontend/src/routes/__tests__/Settings.test.ts
  frontend/src/stores/__tests__/authStore.test.ts
  frontend/src/stores/__tests__/commentStore.test.ts
  frontend/src/stores/__tests__/postStore.test.ts
  frontend/src/stores/authStore.ts
  frontend/src/stores/commentStore.ts
  frontend/src/stores/postStore.ts
  frontend/src/stores/searchStore.test.ts
  frontend/src/stores/searchStore.ts
Due: frontend-checks

fix(issue-389): update search post avatars
  frontend/src/stores/searchStore.ts
Due: frontend-checks

fix(issue-389): use shared redis helper in tests
  backend/internal/services/session_test.go
Due: backend-lint, backend-test

chore: mark issue #389 as completed
  .work-queue.json
Due: none

chore: agent agent-1769703795-87269 claims issue #390
  .work-queue.json
Due: none

chore: agent agent-1769703798-87422 claims issue #427
  .work-queue.json
Due: none

chore: agent agent-1769703800-87627 claims issue #441
  .work-queue.json
Due: none

chore: agent agent-1769703802-87365 claims issue #428
  .work-queue.json
Due: none

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
