Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: backend-lint
        name: backend-lint
        entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
        language: system
        pass_filenames: false
        files: ^backend/
      - id: backend-test
        name: backend-test
        entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
        language: system
        pass_filenames: false
        files: ^backend/
      - id: frontend-checks
        name: frontend-checks
        entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
        language: system
        pass_filenames: false
        files: ^frontend/

chore: mark issue #377 as completed
  .work-queue.json
Due: none

chore: agent agent-1769684808-13678 claims issue #378
  .work-queue.json
Due: none

chore: mark issue #384 as completed
  .work-queue.json
Due: none

chore: agent agent-1769684907-17691 claims issue #369
  .work-queue.json
Due: none

feat(issue-388): add settings page skeleton
  frontend/src/App.svelte
  frontend/src/components/Header.svelte
  frontend/src/components/__tests__/SidebarHeader.test.ts
  frontend/src/routes/Settings.svelte
  frontend/src/routes/__tests__/Settings.test.ts
  frontend/src/routes/index.ts
  frontend/src/services/__tests__/routeNavigation.test.ts
  frontend/src/services/routeNavigation.ts
  frontend/src/services/settingsNavigation.ts
  frontend/src/stores/uiStore.ts
Due: frontend-checks

feat(issue-378): add audit helper with metadata
  backend/internal/services/audit.go
  backend/internal/services/audit_test.go
  backend/internal/services/user.go
Due: backend-lint, backend-test

feat(issue-369): reorganize sections
  backend/internal/services/section.go
  backend/migrations/002_create_sections_table.up.sql
  backend/migrations/020_rename_photo_section_to_series.down.sql
  backend/migrations/020_rename_photo_section_to_series.up.sql
  frontend/src/stores/__tests__/sectionStore.test.ts
  frontend/src/stores/sectionStore.ts
Due: backend-lint, backend-test, frontend-checks

fix(issue-388): improve header menu a11y
  frontend/src/components/Header.svelte
Due: frontend-checks

chore: mark issue #369 as completed
  .work-queue.json
Due: none

chore: agent agent-1769685509-47051 claims issue #370
  .work-queue.json
Due: none

feat(issue-370): remove bio from profile page
  frontend/src/components/UserProfile.svelte
Due: frontend-checks

chore: mark issue #378 as completed
  .work-queue.json
Due: none

chore: mark issue #388 as completed
  .work-queue.json
Due: none

chore: agent agent-1769685712-55427 claims issue #379
  .work-queue.json
Due: none

chore: agent agent-1769685718-56557 claims issue #380
  .work-queue.json
Due: none

chore: mark issue #370 as completed
  .work-queue.json
Due: none

chore: agent agent-1769685814-60228 claims issue #381
  .work-queue.json
Due: none

feat(issue-385): add edit endpoints for posts and comments
  backend/cmd/server/main.go
  backend/cmd/server/routes.go
  backend/cmd/server/routes_test.go
  backend/internal/handlers/comment.go
  backend/internal/handlers/comment_test.go
  backend/internal/handlers/post.go
  backend/internal/handlers/post_test.go
  backend/internal/models/comment.go
  backend/internal/models/post.go
  backend/internal/services/comment.go
  backend/internal/services/link_utils.go
  backend/internal/services/post.go
Due: backend-lint, backend-test

feat(issue-380): add moderation audit metadata
  backend/internal/services/audit.go
  backend/internal/services/comment.go
  backend/internal/services/comment_test.go
  backend/internal/services/post.go
  backend/internal/services/post_test.go
Due: backend-lint, backend-test

feat(issue-381): audit admin config and auth actions
  AGENTS.md
  backend/internal/handlers/admin.go
  backend/internal/handlers/admin_test.go
Due: backend-lint, backend-test

feat(issue-379): audit user management actions
  backend/internal/handlers/admin.go
  backend/internal/models/audit.go
  backend/internal/services/audit.go
  backend/internal/services/user.go
  backend/internal/services/user_audit_test.go
  backend/migrations/020_make_audit_admin_user_nullable.down.sql
  backend/migrations/020_make_audit_admin_user_nullable.up.sql
Due: backend-lint, backend-test

chore: mark issue #380 as completed
  .work-queue.json
Due: none

chore: mark issue #381 as completed
  .work-queue.json
Due: none

chore: mark issue #379 as completed
  .work-queue.json
Due: none

fix(issue-385): log edits and adjust update tests
  backend/internal/handlers/comment_test.go
  backend/internal/handlers/post_test.go
  backend/internal/services/comment.go
  backend/internal/services/post.go
Due: backend-lint, backend-test

chore: enhance agent skills with audit logging and observability
  .codex/skills/orchestrator/SKILL.md
  .codex/skills/reviewer/SKILL.md
  .codex/skills/subagent/SKILL.md
Due: none

fix(issue-385): add edit audit user ids
  backend/internal/handlers/comment_test.go
  backend/internal/handlers/post_test.go
  backend/internal/services/comment.go
  backend/internal/services/post.go
Due: backend-lint, backend-test

fix(issue-385): guard edits earlier
  backend/cmd/server/main.go
  backend/cmd/server/routes.go
  backend/internal/handlers/comment_test.go
  backend/internal/handlers/post_test.go
  backend/internal/services/comment.go
  backend/internal/services/post.go
Due: backend-lint, backend-test

chore: mark issue #385 as completed
  .work-queue.json
Due: none

update work queue
  .work-queue.json
Due: none

add dry run to claim-issue
  scripts/claim-issue.sh
Due: none

reprioritise work queue
  .work-queue.json
Due: none

fix scripts
  scripts/claim-issue.sh
  scripts/show-queue.sh
Due: none

chore: add observability issues to work queue
  .work-queue.json
Due: none

chore: add prune-completed script and archive old issues
  .completed-work-items.json
  .work-queue.json
  scripts/prune-completed.sh
Due: none

make #366 available again
  .work-queue.json
Due: none

chore: agent agent-1769693268-44480 claims issue #415
  .work-queue.json
Due: none

chore: agent agent-1769693958-50159 claims issue #366
  .work-queue.json
Due: none
