Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

docs: align markdown with repo state
  AGENTS.md
  DESIGN.md
  ORCHESTRATOR_INSTRUCTIONS.md
  README.md
  SUBAGENT_INSTRUCTIONS.md
Due: none

chore: agent agent-1769084081-70312 claims issue #180
  .work-queue.json
Due: none

chore: agent agent-1769084111-71943 claims issue #183
  .work-queue.json
Due: none

chore: agent agent-1769084132-72709 claims issue #186
  .work-queue.json
Due: none

fix(issue-186): handle skip waiting messages
  frontend/public/sw.js
Due: frontend-checks

fix(issue-180): wire delete posts route
  backend/cmd/server/main.go
  backend/cmd/server/routes.go
  backend/cmd/server/routes_test.go
Due: backend-lint, backend-test

chore: mark issue #186 as completed
  .work-queue.json
Due: none

docs: clarify PR comment and merge flow
  ORCHESTRATOR_INSTRUCTIONS.md
Due: none

docs: require subagents to proceed without confirmation
  SUBAGENT_INSTRUCTIONS.md
Due: none

fix(issue-180): tighten post delete route
  backend/cmd/server/routes.go
  backend/cmd/server/routes_test.go
Due: backend-lint, backend-test

chore: agent agent-1769084880-79326 claims issue #187
  .work-queue.json
Due: none

fix(issue-187): make migrate download arch-aware
  backend/Dockerfile
Due: backend-lint, backend-test

chore: mark issue #180 as completed
  .work-queue.json
Due: none

feat(issue-183): add SSRF guards to link metadata fetch
  backend/internal/handlers/links_test.go
  backend/internal/services/links/metadata.go
  backend/internal/services/links/metadata_test.go
Due: backend-lint, backend-test

docs: forbid bypassing checks on merges
  ORCHESTRATOR_INSTRUCTIONS.md
Due: none

chore: agent agent-1769085064-83009 claims issue #181
  .work-queue.json
Due: none

chore: mark issue #187 as completed
  .work-queue.json
Due: none

chore: mark issue #183 as completed
  .work-queue.json
Due: none

feat(issue-181): require auth on read content routes
  backend/cmd/server/main.go
  backend/cmd/server/routes.go
  backend/cmd/server/routes_test.go
Due: backend-lint, backend-test

chore: mark issue #181 as completed
  .work-queue.json
Due: none

chore: agent agent-1769085816-88725 claims issue #182
  .work-queue.json
Due: none

chore: agent agent-1769085831-88987 claims issue #188
  .work-queue.json
Due: none

chore: agent agent-1769085852-89717 claims issue #199
  .work-queue.json
Due: none

feat(issue-188): pin observability image versions
  docker-compose.prod.yml
  docker-compose.yml
  docs/production-deployment.md
Due: none

chore: mark issue #188 as completed
  .work-queue.json
Due: none

feat(issue-182): add json request size limits
  backend/internal/handlers/admin.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/comment.go
  backend/internal/handlers/comment_test.go
  backend/internal/handlers/links.go
  backend/internal/handlers/links_test.go
  backend/internal/handlers/post.go
  backend/internal/handlers/push.go
  backend/internal/handlers/reaction.go
  backend/internal/handlers/request.go
  backend/internal/handlers/user.go
Due: backend-lint, backend-test

feat(issue-199): username-based auth and optional email
  backend/internal/handlers/auth.go
  backend/internal/models/user.go
  backend/internal/services/comment.go
  backend/internal/services/post.go
  backend/internal/services/user.go
  backend/internal/services/user_test.go
  backend/migrations/016_make_email_nullable.down.sql
  backend/migrations/016_make_email_nullable.up.sql
Due: backend-lint, backend-test

docs: expand orchestrator review scope
  ORCHESTRATOR_INSTRUCTIONS.md
Due: none

chore: mark issue #182 as completed
  .work-queue.json
Due: none

feat(issue-199): update auth forms for username login
  frontend/src/routes/Login.svelte
  frontend/src/routes/Register.svelte
Due: frontend-checks

docs: add out-of-scope issue handling
  ORCHESTRATOR_INSTRUCTIONS.md
Due: none

chore: agent agent-1769086494-3431 claims issue #184
  .work-queue.json
Due: none

feat(issue-184): add read header timeout
  backend/cmd/server/main.go
Due: backend-lint, backend-test

chore: agent agent-1769086535-4259 claims issue #48
  .work-queue.json
Due: none

chore: mark issue #199 as completed
  .work-queue.json
Due: none

feat(issue-48): expand production deployment guide
  docs/production-deployment.md
Due: none

chore: agent agent-1769086717-7034 claims issue #190
  .work-queue.json
Due: none

chore: mark issue #184 as completed
  .work-queue.json
Due: none

chore: agent agent-1769086805-8364 claims issue #189
  .work-queue.json
Due: none

docs(issue-48): clarify optional env vars
  docs/production-deployment.md
Due: none

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
