Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

backend-lint:
  name: backend-lint
  entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
  language: system
  pass_filenames: false

backend-test:
  name: backend-test
  entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
  language: system
  pass_filenames: false

frontend-checks:
  name: frontend-checks
  entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
  ...

chore: mark issue #620 as completed
  .work-queue.json
Due: none

chore: mark issue #619 as completed
  .work-queue.json
Due: none

fix(issue-621): align navbar search with content
  frontend/src/components/Header.svelte
Due: frontend-checks

chore: mark issue #621 as completed
  .work-queue.json
Due: none

chore: agent agent-1769979906-38748 claims issue #617
  .work-queue.json
Due: none

chore: agent agent-1769979909-38860 claims issue #618
  .work-queue.json
Due: none

fix(issue-617): show image replies on comments
  frontend/src/components/comments/CommentThread.svelte
  frontend/src/components/comments/__tests__/CommentThread.test.ts
Due: frontend-checks

feat(issue-618): notify admins of registrations
  backend/internal/handlers/admin_test.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/auth_test.go
  backend/internal/services/notification.go
  backend/internal/services/user.go
  frontend/src/components/Nav.svelte
  frontend/src/components/__tests__/Nav.test.ts
  frontend/src/components/admin/PendingUsers.svelte
  frontend/src/components/notifications/NotificationMenu.svelte
  frontend/src/components/notifications/__tests__/NotificationMenu.test.ts
  frontend/src/stores/notificationStore.ts
Due: backend-lint, backend-test, frontend-checks

chore: mark issue #617 as completed
  .work-queue.json
Due: none

fix(issue-618): clear registration notification FK
  backend/internal/services/user.go
Due: backend-lint, backend-test

fix(issue-618): clear registration refs on reject
  backend/internal/services/user.go
Due: backend-lint, backend-test

fix(issue-618): clear related user refs on reject
  backend/internal/services/user.go
Due: backend-lint, backend-test

fix(issue-618): clear notification FKs on reject
  backend/internal/services/user.go
Due: backend-lint, backend-test

chore: mark issue #618 as completed
  .work-queue.json
Due: none

Fix observability stack and bump Grafana
  docker-compose.yml
  grafana/entrypoint.sh
  loki.yml
  tempo.yml
Due: none

chore: update workqueue
  .work-queue.json
Due: none

chore: agent agent-1770037755-13425 claims issue #628
  .work-queue.json
Due: none

chore: agent agent-1770037762-13659 claims issue #631
  .work-queue.json
Due: none

chore: agent agent-1770037764-13739 claims issue #629
  .work-queue.json
Due: none

chore: agent agent-1770037767-13905 claims issue #630
  .work-queue.json
Due: none

fix(issue-631): add job label for Loki OTLP logs
  backend/internal/observability/observability.go
  loki.yml
Due: backend-lint, backend-test

fix(issue-628): quote grafana dashboard variables
  grafana/dashboards/admin-operations.json
  grafana/dashboards/audit-logs.json
Due: none

feat(issue-630): add business metrics counters
  backend/internal/handlers/admin.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/comment_test.go
  backend/internal/handlers/reaction.go
  backend/internal/observability/metrics.go
  backend/internal/services/comment.go
  backend/internal/services/post.go
Due: backend-lint, backend-test

feat(issue-629): add database metrics instrumentation
  backend/cmd/server/main.go
  backend/internal/db/db.go
  backend/internal/db/metrics.go
  backend/internal/observability/metrics.go
  backend/internal/observability/observability.go
Due: backend-lint, backend-test

chore: mark issue #630 as completed
  .work-queue.json
Due: none

chore: mark issue #631 as completed
  .work-queue.json
Due: none

chore: mark issue #628 as completed
  .work-queue.json
Due: none

chore: mark issue #629 as completed
  .work-queue.json
Due: none

Add Grafana dashboard issues to work queue
  .work-queue.json
Due: none

Update work queue status labels
  .work-queue.json
Due: none

chore: agent agent-1770066778-66340 claims issue #636
  .work-queue.json
Due: none

chore: agent agent-1770066783-66517 claims issue #637
  .work-queue.json
Due: none

chore: agent agent-1770066787-66659 claims issue #638
  .work-queue.json
Due: none

chore: agent agent-1770066789-66660 claims issue #639
  .work-queue.json
Due: none

fix(issue-637): use table format for admin actions
  grafana/dashboards/admin-operations.json
Due: none

fix(issue-639): correct TraceQL selector syntax
  grafana/dashboards/traces.json
Due: none

fix(issue-636): stabilize audit log dashboard filters
  grafana/dashboards/audit-logs.json
Due: none

fix(issue-637): correct panel formats
  grafana/dashboards/admin-operations.json
Due: none

fix(issue-638): provision grafana sentry datasource
  .env.example
  .env.production.example
  README.md
  docker-compose.prod.yml
  docker-compose.yml
  grafana/datasources/datasources.yml
  grafana/entrypoint.sh
Due: none

chore: mark issue #639 as completed
  .work-queue.json
Due: none

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-checks: any of: ^frontend/
