Repository sanderginn/clubhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-checks

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: backend-lint
        name: backend-lint
        entry: bash -lc "set -euo pipefail; cd backend; git ls-files '*.go' | xargs -r gofmt -w; git diff --exit-code; golangci-lint run ./... --out-format=colored-line-number"
        language: system
        pass_filenames: false
        files: ^backend/
      - id: backend-test
        name: backend-test
        entry: bash -lc "set -euo pipefail; cd backend; go test ./...; go build ./..."
        language: system
        pass_filenames: false
        files: ^backend/
      - id: frontend-checks
        name: frontend-checks
        entry: bash -lc "set -euo pipefail; cd frontend; export NPM_CONFIG_FUND=false NPM_CONFIG_AUDIT=false; npm install --silent; npm run lint --silent -- --resolve-plugins-relative-to . --quiet; git diff --exit-code; npm run check --silent; npm run test --silent -- --silent"
        language: system
        pass_filenames: false
        files: ^frontend/

chore: add 24 movies feature issues to work queue (#786-#809)
  .work-queue.json
Due: none

chore: agent agent-1770625186-19326 claims issue #786
  .work-queue.json
Due: none

chore: agent agent-1770625188-19411 claims issue #787
  .work-queue.json
Due: none

chore: agent agent-1770625192-19506 claims issue #788
  .work-queue.json
Due: none

chore: agent agent-1770625193-19598 claims issue #789
  .work-queue.json
Due: none

chore: agent agent-1770625195-19584 claims issue #790
  .work-queue.json
Due: none

feat(issue-789): add watchlist categories migration
  backend/migrations/034_create_watchlist_categories_table.down.sql
  backend/migrations/034_create_watchlist_categories_table.up.sql
Due: backend-lint, backend-test

feat(issue-790): create watchlist_items table migration
  backend/migrations/035_create_watchlist_items_table.down.sql
  backend/migrations/035_create_watchlist_items_table.up.sql
Due: backend-lint, backend-test

feat(issue-786): add movie and watchlist model types
  backend/internal/models/movie.go
Due: backend-lint, backend-test

feat(issue-787): add watch log model and API types
  backend/internal/models/watch_log.go
Due: backend-lint, backend-test

chore: mark issue #789 as completed
  .work-queue.json
Due: none

feat(issue-788): add tmdb client library
  backend/internal/services/links/tmdb.go
  backend/internal/services/links/tmdb_test.go
Due: backend-lint, backend-test

chore: agent agent-1770625515-26591 claims issue #791
  .work-queue.json
Due: none

feat(issue-791): create watch_logs table migration
  backend/migrations/036_create_watch_logs_table.down.sql
  backend/migrations/036_create_watch_logs_table.up.sql
Due: backend-lint, backend-test

fix(issue-790): use partial unique index for active watchlist rows
  backend/migrations/035_create_watchlist_items_table.up.sql
Due: backend-lint, backend-test

chore: mark issue #786 as completed
  .work-queue.json
Due: none

chore: mark issue #787 as completed
  .work-queue.json
Due: none

chore: mark issue #791 as completed
  .work-queue.json
Due: none

chore: mark issue #790 as completed
  .work-queue.json
Due: none

chore: mark issue #788 as completed
  .work-queue.json
Due: none

chore: agent agent-1770626209-37286 claims issue #792
  .work-queue.json
Due: none

chore: agent agent-1770626210-37376 claims issue #793
  .work-queue.json
Due: none

chore: agent agent-1770626213-37477 claims issue #794
  .work-queue.json
Due: none

feat(issue-792): create movie metadata extractor
  backend/internal/services/links/movie_parser.go
  backend/internal/services/links/movie_parser_test.go
Due: backend-lint, backend-test

feat(issue-793): add watchlist service and tests
  backend/internal/services/watchlist.go
  backend/internal/services/watchlist_test.go
Due: backend-lint, backend-test

chore: mark issue #792 as completed
  .work-queue.json
Due: none

feat(issue-794): add watch log service with audit coverage
  backend/internal/models/watch_log.go
  backend/internal/services/watch_log.go
  backend/internal/services/watch_log_test.go
Due: backend-lint, backend-test

chore: agent agent-1770626805-49290 claims issue #797
  .work-queue.json
Due: none

chore: agent agent-1770626808-49515 claims issue #806
  .work-queue.json
Due: none

feat(issue-806): create movie card component
  frontend/src/components/__tests__/MovieCard.test.ts
  frontend/src/components/movies/MovieCard.svelte
Due: frontend-checks

fix(issue-793): handle category delete overlap conflicts
  backend/internal/services/watchlist.go
  backend/internal/services/watchlist_test.go
Due: backend-lint, backend-test

feat(issue-797): register movie metadata in link pipeline
  backend/internal/services/comment.go
  backend/internal/services/link_metadata.go
  backend/internal/services/link_metadata_test.go
  backend/internal/services/links/metadata.go
  backend/internal/services/links/metadata_test.go
  backend/internal/services/metadata_worker.go
  backend/internal/services/post.go
Due: backend-lint, backend-test

fix(issue-794): use composite watch log pagination cursor
  backend/internal/services/watch_log.go
  backend/internal/services/watch_log_test.go
Due: backend-lint, backend-test

chore: mark issue #806 as completed
  .work-queue.json
Due: none

chore: mark issue #797 as completed
  .work-queue.json
Due: none

fix(issue-793): dedupe overlaps when renaming categories
  backend/internal/services/watchlist.go
  backend/internal/services/watchlist_test.go
Due: backend-lint, backend-test

chore: mark issue #794 as completed
  .work-queue.json
Due: none

chore: agent agent-1770628385-72645 claims issue #796
  .work-queue.json
Due: none

chore: mark issue #793 as completed
  .work-queue.json
Due: none
